<!--
 * @Author: yenible
 * @Date: 2021-03-04 09:38:42
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-20 20:13:11
 * @Description: xxx
-->
<template>
  <div class="container">
    <div class="title">{{ file_info.file_title }}</div>
    <div class="file-info-list">
      <div class="info-top">
        <div class="auth">
          作者：<span @click="toAuthIndex(file_info.name)">{{
            file_info.name
          }}</span>
        </div>
        <div class="update-time">
          更新时间：<span>{{ dateTime(file_info.upload_time) }}</span>
        </div>
      </div>
      <div class="label_list">
        <span>标签：</span>
        <div class="label">
          <!-- <el-tag size="mini" type="success">{{
            file_info.all_label[item].label_name
          }}</el-tag> -->
          <el-tag size="mini" type="success">文件资源</el-tag>
        </div>
      </div>
    </div>
    <h4>文件描述：</h4>
    <div class="file_desc">
      {{ file_info.file_desc }}
    </div>
    <div class="download">
      <el-button @click="downloadFile" type="primary">购买资源</el-button>
    </div>
    <actionlist
      type="file"
      :authName="file_info.name"
      :file_id="file_info.file_id"
      :authid="file_info.user_id"
      :like_amount="file_info.like_amount"
      :collect_amount="file_info.collect_amount"
      :is_like="is_like"
      :is_collect="is_collect"
      :is_attract="is_attract"
    ></actionlist>
    <div class="comment">
      <commentlist
        @sendComment="sendComment"
        type="file"
        :auth_info="auth_info"
        :commentInfo="commentList"
      ></commentlist>
    </div>
  </div>
</template>

<script>
import actionlist from "@/components/actionlist/actionlist";
import commentlist from "@/components/comment/commentlist";

import { format } from "@/tool/format ";
import {
  get_file_detail,
  file_is_like,
  file_is_collect,
  download_file,
  check_is_download,
} from "@/network/file";
import { is_attract } from "@/network/article";

import { save_file_comment, query_file_all_comment } from "@/network/comment";

export default {
  name: "filedetail",
  components: {
    actionlist,
    commentlist,
  },
  data() {
    return {
      file_info: {},
      is_like: false,
      is_collect: false,
      is_attract: false,
      commentList: [],
      auth_info: {},
    };
  },
  computed: {
    dateTime() {
      return function (date) {
        return format(new Date(date));
      };
    },
    islogin() {
      return this.$store.state.isLogin;
    },
    userObj() {
      return this.$store.state.userInfo;
    },
  },
  watch: {
    "$store.state.refrshComment": function () {
      console.log(this.$store.state.refrshComment);
      if (this.$store.state.refrshComment) {
        //你需要执行的代码
        this.getFileComment();
        this.$store.commit("update_refrshComment", false);
      }
    },
  },
  methods: {
    toAuthIndex(auth_name) {
      window.open(`/${auth_name}/homepage`, "_blank");
    },
    async downloadFile() {
      this.$store.commit("update_refrshUserInfo", true);

      this.$confirm(
        "下载需要扣除" +
          this.file_info.file_score +
          "积分,当前积分：" +
          this.userObj.score,
        "确认信息",
        {
          distinguishCancelAndClose: true,
          confirmButtonText: "保存",
          cancelButtonText: "取消",
        }
      )
        .then(async () => {
          // 检测是否当前文件下载购买过且仍在有效期
          await check_is_download({
            user_id: this.userObj.id,
            file_id: this.file_info.file_id,
          })
            .then(async (result) => {
              console.log(result);
              let res = result.data;
              if (res.errCode === 0) {
                if (res.isEffective) {
                  this.$message({
                    showClose: true,
                    type: "warning",
                    message: "当前文件已购买，请到下载中心下载",
                  });
                } else {
                  // 进行下载操作
                  // 传递参数1、当前的用户id  2、当前文件的下载相对地址
                  await download_file({
                    user_id: this.userObj.id,
                    auth_id: this.file_info.user_id,
                    file_id: this.file_info.file_id,
                  })
                    .then((result) => {
                      console.log(result);
                      let res = result.data;
                      if (res.errCode === 0) {
                        this.$message({
                          showClose: true,
                          type: "success",
                          message: res.msg,
                        });
                      } else {
                        this.$message({
                          showClose: true,
                          type: "error",
                          message: res.msg,
                        });
                      }
                    })
                    .catch((err) => {
                      console.log(err);
                    });
                }
              } else {
                this.$message({
                  showClose: true,
                  type: "error",
                  message: res.msg,
                });
              }
            })
            .catch((err) => {
              console.log(err);
              this.$message({
                showClose: true,
                type: "error",
                message: err,
              });
            });
        })
        .catch((action) => {
          this.$message({
            type: "info",
            message: action === "cancel" ? "取消下载" : "取消下载",
          });
        });
    },
    getFileComment() {
      let file_id = this.$route.params.file_id;
      console.log(234);
      query_file_all_comment({ file_id })
        .then((result) => {
          // console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            this.commentList = res.data;
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: result.data.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    sendComment(comment, dep, cthread, cparent_id) {
      console.log(comment);
      let depth = dep || 0;
      let thread = cthread || "/";
      let parent_id = cparent_id || -1;
      let file_id = this.$route.params.file_id;

      save_file_comment({
        comment: comment,
        depth: depth,
        thread: thread,
        parent_id: parent_id,
        file_id: file_id,
        user_id: this.userObj.id,
      })
        .then((result) => {
          // console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            this.$message({
              showClose: true,
              type: "success",
              message: "评论成功22",
            });
            this.getFileComment();
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: result.data.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    getFileInfo() {
      // console.log(this.$route)
      get_file_detail({
        auth_name: this.$route.params.authname,
        file_id: this.$route.params.file_id,
      })
        .then(async (result) => {
          console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            this.file_info = res.data;
            this.auth_info = {
              authname: res.data.name,
              authid: res.data.user_id,
              score: res.data.score,
            };
            console.log(this.auth_info)
            if (this.islogin) {
              await file_is_like({
                file_id: res.data.file_id,
                user_id: window.localStorage.getItem("userid"),
              }).then((lresult) => {
                let lres = lresult.data;
                if (lres.errCode === 0) {
                  this.file_info["is_like"] = lres.islike;
                  this.is_like = lres.islike;
                }
              });
              await file_is_collect({
                file_id: res.data.file_id,
                user_id: window.localStorage.getItem("userid"),
              }).then((lresult) => {
                let lres = lresult.data;
                if (lres.errCode === 0) {
                  this.file_info["is_collect"] = lres.iscollect;
                  this.is_collect = lres.iscollect;
                }
              });

              await is_attract({
                auth_id: res.data.user_id,
                user_id: window.localStorage.getItem("userid"),
              }).then((attesult) => {
                console.log(attesult);
                let attres = attesult.data;
                if (attres.errCode === 0) {
                  this.file_info["is_attract"] = attres.isAttract;
                  this.is_attract = attres.isAttract;
                }
              });
            }
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.err,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
  },
  created() {
    this.getFileInfo();
    this.getFileComment();
  },
};
</script>

<style lang='scss' scoped>
.container {
  width: 900px;
  // height: 100%;
  margin: 10px auto;
  box-shadow: 0 2px 12px 0 rgba(223, 158, 158, 0.1);
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.479);
  .title {
    font-size: 28px;
    color: black;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 15px;
  }
  .file-info-list {
    font-size: 15px;
    color: black;
    font-weight: 600;
    line-height: 30px;
    padding: 5px 10px;
    box-shadow: 0 2px 12px 0 rgba(99, 93, 93, 0.1);
    background-color: #e0e0e029;
    margin-bottom: 20px;
    .info-top {
      display: flex;

      .auth,
      .update-time {
        margin-right: 10px;
        vertical-align: bottom;
      }
      .auth span:hover {
        color: blue;
        cursor: pointer;
      }
    }
    .label_list {
      vertical-align: bottom;
      display: flex;
      .label {
        margin-right: 10px;
      }
    }
  }
  .file_desc {
    font-size: 18px;
    color: black;
    font-weight: 600;
    line-height: 30px;
    padding: 5px 10px;
    -webkit-box-shadow: 0 2px 12px 0 rgba(99, 93, 93, 0.1);
    box-shadow: 0 2px 12px 0 rgba(99, 93, 93, 0.1);
    background-color: #e0e0e029;
    word-break: break-all;
  }
  .download {
    margin-top: 25px;
    text-align: center;
  }
}
</style>