<!--
 * @Author: yenible
 * @Date: 2021-03-03 15:32:44
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-18 09:59:38
 * @Description: xxx
-->
<template>
  <div class="blog-container">
    <div class="title" @click="toArticle">
      <span>{{ info.article_title || info.file_title }}</span>
      <div class="tag" v-if="type === 'myblog' || type === 'editFile' || type === 'file'">
        <el-tag
          size="mini"
          :type="
            info.article_state
              ? info.article_state === '0'
                ? 'info'
                : ''
              : 'success'
          "
          >{{ stateStr }}</el-tag
        >
      </div>
    </div>
    <div class="file_desc">
      {{ info.file_desc||info.article_content }}
    </div>
    <div class="bottom">
      <div class="date">
        {{ formatDate }}
      </div>
      <div class="amount">
        <i class="el-icon-thumb"></i>
        {{ this.info.like_amount }}
      </div>
      <div class="amount">
        <i class="el-icon-view"></i>
        {{ this.info.bower_amount }}
      </div>
      <div class="amount">
        <i class="el-icon-star-off"></i>
        {{ this.info.collect_amount }}
      </div>
    </div>
    <div class="btn-list" v-if="type === 'myblog' || type === 'editFile' ">
      <el-button class="btn" type="primary" @click="toEditArticle" v-if="!isAdmin"
        >编辑</el-button
      >
      <el-button
        class="btn"
        type="primary"
        @click="commentManage"
        >评论管理</el-button
      >
      <el-button
        class="btn"
        type="danger"
        @click="deleteArticle"
        v-if="type === 'myblog'"
        >删除</el-button
      ><el-button
        class="btn"
        type="danger"
        @click="deleteFile"
        v-if="type === 'editFile'"
        >删除</el-button
      >
    </div>
  </div>
</template>

<script>
import { format } from "@/tool/format ";
import { delete_article } from "@/network/article.js";
import { delete_file } from "@/network/file.js";

export default {
  name: "blogsitem",
  data() {
    return {
      state: this.info.article_state === "1" ? "已发布" : "草稿",
    };
  },
  props: {
    info: Object,
    type: {
      type: String,
      default: "myblog",
    },
    isAdmin:{
      type:Boolean,
      default:false
    }
  },
  computed: {
    stateStr() {
      if (this.info.article_state) {
        return this.info.article_state === "1" ? "已发布" : "草稿";
      } else {
        return "资源文件";
      }
    },
    formatDate() {
      return format(new Date(this.info.update_time || this.info.upload_time));
    },
    userObj() {
      return this.$store.state.userInfo;
    },
  },
  methods: {
    commentManage(){
      this.$emit('commentdialog',{visivle:true,info:this.info})
    },
    toArticle() {
      if (this.type === "myblog") {
        if (this.info.article_state === "0") {
          this.$message({
            showClose: true,
            type: "warning",
            message: "草稿箱文件未发布，请编辑完后发布",
          });
        } else {
          // this.$router.push(
          //   `/${this.info.name}/article/detail/${this.info.article_id}`
          //   // `/${this.info.name}/article/detail/${this.info.article_id}`
          // );
          window.open(`/${this.info.name}/article/detail/${this.info.article_id}`, "_blank")
        }
      } else if (this.type === "editFile" || this.type === "file") {
        // this.$router.push(
        //   `/${this.info.name}/file/detail/${this.info.file_id}`
        // );
          window.open( `/${this.info.name}/file/detail/${this.info.file_id}`, "_blank")

      } else {
        // console.log(this.info.name,this.info.article_id)
        // this.$router.push({
        //   path: `/${this.info.name}/homepage/blog/${this.info.article_id}`,
        // });
          window.open(`/${this.info.name}/homepage/blog/${this.info.article_id}`, "_blank")

      }
    },
    toEditArticle() {
       
      if (this.type === "myblog") {
        // this.$router.push(
        //   this.$route.fullPath.replace("myblogs", "md/") + this.info.article_id
        // );
          window.open( this.$route.fullPath.replace("myblogs", "md/") + this.info.article_id, "_blank")

      } else if (this.type === "editFile") {
        // this.$router.push(
        //   `/${this.userObj.id}/upload/edit/${this.info.file_id}`
        // );
          window.open( `/${this.userObj.id}/upload/edit/${this.info.file_id}`, "_blank")
      }
    },
    deleteArticle() {
      this.$confirm("此操作将永久删除该文章, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          console.log(this.info.article_id);
          let user_id  = this.isAdmin?this.info.user_id : this.$route.params.id
          delete_article({
            article_id: this.info.article_id,
            user_id: this.$route.params.id,
          },this.isAdmin)
            .then((result) => {
              let res = result.data;
              if (res.errCode === 0) {
                this.$message({
                  showClose: true,
                  type: "success",
                  message: res.msg,
                });
                this.$emit("deleteItem", this.info.article_state);
              } else {
                this.$message({
                  showClose: true,
                  type: "error",
                  message: res.msg,
                });
              }
            })
            .catch((err) => {
              this.$message({
                showClose: true,
                type: "error",
                message: err,
              });
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    deleteFile() {
      console.log(this.$route.params.id);
      let user_id = this.isAdmin?this.info.user_id:this.$route.params.id
      this.$confirm("此操作将永久删除该资源, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        delete_file({
          user_id: user_id,
          file_id: this.info.file_id,
        },this.isAdmin)
          .then((result) => {
            console.log(result);
            let res = result.data;
            if (res.errCode === 0) {
              this.$message({
                showClose: true,
                type: "success",
                message: res.msg,
              });
              this.$emit("deleteItem", "file");
            } else {
              this.$message({
                showClose: true,
                type: "error",
                message: res.msg,
              });
            }
          })
          .catch((err) => {
            this.$message({
              showClose: true,
              type: "error",
              message: err,
            });
          });
      });
    },
  },
};
</script>

<style lang='scss' scoped>
.blog-container {
  width: 100%;
  // height: 104px;
  background-color: rgba(243, 243, 243, 0.3);
  margin-bottom: 15px;
  padding: 0px 30px 10px;
  position: relative;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .title {
    padding: 15px 0px 15px;
    display: flex;
    cursor: pointer;
    &:hover {
      color: rgb(64, 158, 255);
    }
    span {
      font-size: 18px;
      font-weight: bold;
      margin-right: 10px;
    }
  }
  .file_desc {
    margin-bottom: 15px;
    font-size: 14px;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .bottom {
    display: flex;
    font-size: 14px;
    .date {
      margin-right: 15px;
    }
    .amount {
      margin-right: 10px;
      display: flex;
      i {
        font-size: 16px;
        margin-right: 2px;
      }
    }
  }
  .btn-list {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    .btn {
      margin-bottom: 10px;
    }
  }
}
</style>