<!--
 * @Author: yenible
 * @Date: 2021-04-17 21:23:53
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-18 10:17:27
 * @Description: xxx
-->
<template>
<el-dialog width="800px" title="资源评论管理" :visible.sync="visible" 

    @close="cancel"
>
<!-- {{fileInfo}} -->
 
  <commentlist
        :commentInfo="commentList"
        :isAdmin="true"
        type="file"
      ></commentlist>
  <div slot="footer" class="dialog-footer">
    <el-button @click="cancel">取 消</el-button>
    <!-- <el-button type="primary" >确 定</el-button> -->
  </div>
</el-dialog>
</template>

<script>
import commentlist from "@/components/comment/commentlist";

import {query_file_all_comment} from '@/network/admin'
export default {
  name: 'commentdialog',
  components:{
    commentlist
  },
    props: {
    dialogVisible: {
      type: Boolean,
      require: true,
      default: false,
    },
    fileInfo:Object
  },
  watch:{
    dialogVisible(value){
      this.visible = value;
      this.getComment()
    },
    "$store.state.refrshComment": function () {
      console.log(this.$store.state.refrshComment)
      if(this.$store.state.refrshComment==='file'){
        //你需要执行的代码
      this.getComment();
      this.$store.commit("update_refrshComment", false);
      }
    }
  },
  data() {
    return {
      formLabelWidth: '120px',
      visible:this.dialogVisible,
      commentList:[]
    }
  },
  methods: {
    getComment(){
      query_file_all_comment({file_id:this.fileInfo.file_id}).then((result) => {
          // console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            this.commentList = res.data;
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: result.data.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    cancel(){
      this.$emit('commentdialog',{visivle:false})
    }
  },
   
};
</script>

<style lang='scss' scoped>
</style>