<!--
 * @Author: yenible
 * @Date: 2021-01-05 15:31:49
 * @LastEditors: yenible
 * @LastEditTime: 2021-03-03 19:54:50
 * @Description: xxx
-->
<style lang="sass">
</style>
<template>
  <div id="area">
    <table class="area-table">
      <tr class="area-tr">
        <td class="area-td">
          <textarea
            name=""
            id="md-area"
            v-model="editHtm"
            value="editHtm"
            @input="setMakedown"
            ref="edit_area"
            maxlength="5000" 
            onchange="this.value=this.value.substring(0, 5000)" 
            onkeydown="this.value=this.value.substring(0, 5000)" 
            onkeyup="this.value=this.value.substring(0, 5000)"
          ></textarea>
        </td>
        <td class="area-td">
          <div
            id="show-area"
            v-html="htms"
            class="clearfix"
            ref="show_area"
          ></div>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
// import $ from 'https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'
import showdown from "showdown";
let converter = new showdown.Converter({ tables: true });
// converter.setOption('table', true);//将表格显示出来
export default {
  name: "mdedit",
  data() {
    return {
      htms: "",
      editHtm: this.articleContent,
      record_scrollTop: null,
    };
  },
  props:{
    articleContent:String
  },
  watch: {
    articleContent(){
      this.editHtm = this.articleContent;
      this.setMakedown()
    },
    // editHtm() {
      // console.log(this.$refs.edit_area.scrollTop);

      // if (this.record_scrollTop != this.$refs.edit_area.scrollTop) {
      //   this.record_scrollTop = this.$refs.edit_area.scrollTop;
      //   this.$refs.show_area.scrollTop = this.$refs.edit_area.scrollTop;
      // }
    // },
  },
  methods: {
    setMakedown() {
      this.htms = converter.makeHtml(this.editHtm);
    },
  },
  created() {
    this.setMakedown();
  },
};
</script>

<style lang='scss' >
.markdown-here-wrapper {
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0.1em;
}
#area {
  height: 100%;
  .area-table {
    width: 100%;
    height: 100%;
    .area-tr {
      height: 100%;
      display: flex;
      overflow: auto;
      .area-td {
        flex: 1;
        height: 100%;
        width: 50vw;
        // overflow: auto;
        pre,
        code {
          font-size: 14px;
          font-family: Roboto, "Courier New", Consolas, Inconsolata, Courier,
            monospace;
          margin: auto 5px;
        }

        code {
          background-color: rgba(0, 0, 0, 0.05);
          color: #1a1616;
          display: block;
          padding: 0.5em;
          -webkit-text-size-adjust: none;
          overflow-x: auto;
          white-space: pre;
          border-radius: 2px;
          background-color: rgb(214, 213, 213);
          width: 90%;
          padding: 10px 20px;
        }

        pre {
          font-size: 15px;
          line-height: 1.4em;
          display: block !important;
        }

        pre code {
          white-space: pre;
          overflow: auto;
          border-radius: 3px;
          display: block !important;
        }

        strong,
        b {
          font-size: 18px;
          color: #4d4d4d;
          font-weight: 700;
          line-height: 26px;
          margin: 0 0 16px;
        }

        em,
        i {
          // color: #009688;
        }

        hr {
          border: 1px solid #bf360c;
          margin: 1.5em auto;
        }

        p {
          // margin: 0.5em 5px !important;
        }

        table,
        pre,
        dl,
        blockquote,
        q,
        ul,
        ol {
          margin: 10px 5px;
        }

        ul,
        ol {
          padding-left: 15px;
        }

        li {
          margin: 10px;
        }

        li p {
          margin: 10px 0 !important;
        }

        ul ul,
        ul ol,
        ol ul,
        ol ol {
          margin: 0;
          padding-left: 10px;
        }

        ul {
          list-style-type: circle;
        }

        dl {
          padding: 0;
        }

        dl dt {
          font-size: 1em;
          font-weight: bold;
          font-style: italic;
        }

        dl dd {
          margin: 0 0 10px;
          padding: 0 10px;
        }

        blockquote,
        q {
          // border-left: 2px solid #009688;
          // padding: 0 10px;
          // color: #777;
          // quotes: none;
          // margin-left: 1em;
          display: block;
          padding: 16px;
          margin: 0 0 24px;
          border-left: 8px solid #dddfe4;
          background: #eef0f4;
          overflow: auto;
          word-break: break-word !important;
        }

        blockquote::before,
        blockquote::after,
        q::before,
        q::after {
          content: none;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-style: bold !important;
          color: #1e2222 !important;
          /* text-align: center !important; */
          margin: 8px 0 16px 0px !important;
          // padding: 0.5em 1em !important;
        }

        h1 {
          font-size: 28px !important;
          border-bottom: 1px solid #ddd !important;
        }

        h2 {
          font-size: 20px !important;
          // border-bottom: 1px solid #eee !important;
          font-size: 24px !important;
          line-height: 32px;
        }

        h3 {
          font-size: 18px;
        }

        h4 {
          font-size: 16px;
        }

        table {
          // padding: 0;
          // border-collapse: collapse;
          // border-spacing: 0;
          // font-size: 1em;
          // font: inherit;
          // border: 0;
          margin: 0 auto;
          display: table;
          width: 100%;
          text-align: center;
          margin-bottom: 24px;
        }

        tbody {
          margin: 0;
          padding: 0;
          border: 0;
        }

        table tr {
          border: 0;
          border-top: 1px solid #ddd;
          background-color: #fff;
          margin: 0;
          padding: 0;
        }

        table tr:nth-child(2n) {
          background-color: #f8f8f8;
        }

        table tr th,
        table tr td {
          font-size: 16px;
          border: 1px solid rgb(255, 255, 255);
          margin: 0;
          padding: 5px 10px;
          background-color: #d7dfdf;
        }

        table tr th {
          font-weight: 700;
          background-color: #eff3f5;
          font-size: 14px;
          color: #4f4f4f;
          line-height: 22px;
          border: 1px solid #ddd;
          padding: 8px;
          word-break: normal !important;
          vertical-align: middle;
        }
        #area > table {
          width: 100%;
          table-layout: fixed;
        }

        #area table tr td {
          // margin: 0;
          // padding: 6px;
          /* border: 0; */
          font-size: 14px;
          color: #4f4f4f;
          line-height: 22px;
          border: 1px solid #ddd;
          padding: 8px;
          word-break: normal !important;
          vertical-align: middle;
        }

        #md-area {
          border: 0px;
          margin: 0;
          font-family: -apple-system, SF UI Text, Arial, PingFang SC,
            Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
          font-variant-ligatures: no-common-ligatures;
          white-space: pre-wrap;
          word-break: break-word !important;
          width: 100%;
          padding: 10px 16px 12px;
          height: 100%;
          overflow: auto;
          background-color: rgb(245, 245, 245);
          padding-bottom: 321px;
          outline: none;
          // overflow-y: scroll;
        }
        /*滚动条样式 start*/
        #md-area::-webkit-scrollbar,
         #show-area::-webkit-scrollbar {
          /*滚动条整体样式*/
          width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
          height: 1px;
        }
        #md-area::-webkit-scrollbar-thumb,
        #show-area::-webkit-scrollbar-thumb
         {
          /*滚动条里面小方块*/
          border-radius: 10px;
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          background: #535353;
        }
        #md-area::-webkit-scrollbar-track, 
        #show-area::-webkit-scrollbar-track {
          /*滚动条里面轨道*/
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          cursor: pointer;
          background: #ededed;
        }

        /*滚动条样式 end*/
        #show-area {
          padding: 10px 16px 321px;
          overflow: auto;
          height: 100%;
          -webkit-user-select:text;
     -moz-user-select:text;
     -ms-user-select:text;
     user-select:text;
          // cursor: text;
        }
        a:visited {
          color: #4ca4e2;
        }

        .clearfix:before {
          content: "";
          display: table;
        }
      }
    }
  }
}
</style>
