<!--
 * @Author: yenible
 * @Date: 2021-01-26 14:34:02
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-15 22:01:52
 * @Description: md编译器的工具栏
-->
<template>
  <div class="container">
    <!-- <el-button :disabled="!isSave" class="pic-btn" size="mini" @click="showDialog"
      >上传图片</el-button
    > -->
     <el-button type="primary" :disabled="!isSave" class="pic-btn" size="mini" @click="showDialog"
      >上传图片</el-button
    >
    <!-- <el-button  :disabled="!isSave" class="pic-list" type="primary" size="mini">图片列表</el-button> -->
    <span v-if="!isSave" class="btn-tip">*请先保存文章（草稿）后再上传图片</span>
    <el-tooltip
      class="item"
      effect="dark"
      content="图片列表暂存图片上传的路径用于文章编写插入图片。"
      placement="bottom"
    >
      <i class="el-icon-warning-outline"></i>
      <div class="scroll-switch">
        <span> 同步滚动：</span>
        <el-switch
          v-model="isSwitch"
          @change="changeSwitch"
          active-color="#13ce66"
          inactive-color="#ff4949"
          active-text="开启"
          inactive-text="关闭"
        >
        </el-switch>
      </div>
    </el-tooltip>

    <uploaddialog
      :dialogVisible="dialogFormVisible"
      @closeDialog="closeDialog"
    ></uploaddialog>
  </div>
</template>

<script>
import uploaddialog from "@/components/dialog/uploadDialog";

export default {
  name: "mdtoolbar",
  components: {
    uploaddialog,
  },
  props:{
    isSave:Boolean
  },
  data() {
    return {
      isSwitch: false,
      dialogFormVisible: false,
    };
  },
  methods: {
    changeSwitch(value) {
      this.$emit("changeScroll", value);
    },
    showDialog() {
      this.dialogFormVisible = true;
    },
    closeDialog() {
      this.dialogFormVisible = false;
    },
  },
};
</script>

<style lang='scss' scoped>
.container {
  width: 100vw;
  min-width: 760px;
  height: 35px;
  margin-top: 1px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  position: relative;
  .scroll-switch {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    color: black;
    right: 5px;
  }
  .pic-btn,
  .pic-list {
    margin-left: 15px;
  }
  .pic-list {
    margin-right: 10px;
  }
  .btn-tip{
    font-size: 12px;
    color: red;
  }
}
</style>
