<!--
 * @Author: yenible
 * @Date: 2021-03-02 18:27:45
 * @LastEditors: yenible
 * @LastEditTime: 2021-03-29 16:08:27
 * @Description: xxx
-->
<template>
  <el-container>
    <el-aside width="180px">
      <useritem :userInfo="userInfo"></useritem>
    </el-aside>
    <el-main>
      <div class="container">
        <div class="search bar7">
          <div class="title"><h2>关注/粉丝列表</h2></div>
          <div class="form">
            <input
              type="text"
              v-model="searchText"
              placeholder="请输入您要搜索的内容..."
            />
            <button @click="search"></button>
          </div>
        </div>
        <div class="attract">
          <attractlist ref="infolist"></attractlist>
        </div>
      </div>
    </el-main>
  </el-container>
</template>

<script>
import useritem from "@/components/useritem/useritem";
import attractlist from "./childComponents/attractlist";

import { search_user_name } from "@/network/search.js";

export default {
  name: "attract",
  components: {
    useritem,
    attractlist,
  },
  data() {
    return {
      // userInfo: this.$store.state.userInfo,
      searchText: "",
    };
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo;
    },
  },
  methods: {
    search() {
      console.log(this.searchText);
      // 搜索用户名
      search_user_name({ searchText: this.searchText }).then((result) => {
        let res = result.data;
        if (res.errCode === 0) {
          this.$refs.infolist.searchUser(res.data);
        }else {
           this.$message({
            message: res.msg,
            type: "error",
          });
        }
      }).catch(err=>{
         this.$message({
            message: err,
            type:  "error",
          });
        console.log(err)
      });
    },
  },
  created() {},
};
</script>

<style lang='scss' scoped>
.container {
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica,
    Arial, sans-serif, FreeSans, Arimo;
  font-weight: 500;
}
div.search {
  padding: 30px 0;
}

.form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

input,
button {
  border: none;
  outline: none;
}
.title {
  text-align: center;
  margin-bottom: 10px;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 13px;
}

button {
  height: 42px;
  width: 42px;
  cursor: pointer;
  position: absolute;
}
/*搜索框7*/
.bar7 {
  background: #a3d0c3;
}
.bar7 .form {
  height: 42px;
}
.bar7 input {
  width: 250px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #f9f0da;
  transition: 0.3s linear;
  float: right;
}
.bar7 input:focus {
  width: 300px;
}
.bar7 button {
  background: none;
  top: -2px;
  right: 0;
}
.bar7 button:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
.attract {
  height: calc(100% - 140px);
}
</style>