<!--
 * @Author: yenible
 * @Date: 2021-03-30 20:41:55
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-18 17:38:43
 * @Description: xxx
-->
<template>
  <el-menu
    :default-active="showIndex"
    class="el-menu-vertical-demo"
    @select="selectItem"
    background-color="rgb(26, 29, 47)"
    text-color="#fff"
    active-text-color="#ffd04b"
  >
    <el-menu-item index="1">
      <i class="el-icon-setting"></i>
      <span slot="title">用户管理</span>
    </el-menu-item>
    <el-menu-item index="2">
      <i class="el-icon-setting"></i>
      <span slot="title">文章管理</span>
    </el-menu-item>
    <el-menu-item index="3">
      <i class="el-icon-setting"></i>
      <span slot="title">资源管理</span>
    </el-menu-item>
    <el-menu-item index="5">
      <i class="el-icon-setting"></i>
      <span slot="title">管理员管理</span>
    </el-menu-item>
    <el-menu-item index="6">
      <i class="el-icon-setting"></i>
      <span slot="title">建议/反馈</span>
    </el-menu-item>
    <el-menu-item index="4">
      <i class="el-icon-setting"></i>
      <span slot="title">退出登录</span>
    </el-menu-item>
  </el-menu>
</template>

<script>
export default {
  name: "",
  props: {
    showIndex: String,
  },
  data() {
    return {};
  },
  methods: {
    selectItem(key, keyPath) {
      console.log(key, keyPath);
      if (key === "4") {
        window.localStorage.removeItem("token");
        window.localStorage.removeItem("adminid");
        this.$router.push({
          path: `/login`,
          query: {
            t: Date.now(),
          },
        });
      }
      this.$emit("changeComponent", key);
    },
  },
};
</script>

<style lang='scss' scoped>
</style>