<!--
 * @Author: yenible
 * @Date: 2020-12-28 15:40:06
 * @LastEditors: yenible
 * @LastEditTime: 2021-03-10 14:24:31
 * @Description: xxx
-->
<template>
  <div class="aside">
    <useritem :userInfo="userInfo"> </useritem>
    <el-menu
      :default-active ="itemIndex"
      class="menu"
      @select="selectItem"
      background-color="rgb(32, 42, 53)"
      text-color="#fff"
      active-text-color="#ffd04b"
    >
      <el-menu-item index="1">
        <template slot="title">
          <i class="el-icon-user"></i>
          <span>个人信息</span>
        </template>
      </el-menu-item>
      <el-menu-item index="2">
        <template slot="title">
          <i class="el-icon-folder-opened"></i>
          <span>我的收藏</span>
        </template>
      </el-menu-item>
      <el-menu-item index="3">
        <template slot="title">
          <i class="el-icon-star-off"></i>
          <span>关注列表</span>
        </template>
      </el-menu-item>
      <el-menu-item index="4">
        <i class="el-icon-setting"></i>
        <span slot="title">设置/建议</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
import useritem from '@/components/useritem/useritem'
export default {
  name: "asideMenu",
  props: {
    userInfo: Object,
    itemIndex: String
  },
  components:{
useritem
  },
  data() {
    return {};
  },
  methods: {
    selectItem(key, keyPath){
      console.log(key)
      console.log(keyPath)
      this.$emit('changeIndex', key)
    }
  },
};
</script>

<style lang='scss' scoped>
.aside {
    width: 100%;
  .menu {
    width: 100%;
  }
  .user-info {
    width: 100%;
    background-color: rgb(32, 42, 53);
    color: #fff;
    margin-bottom: 5px;
    padding: 15px 10px 0 10px;
    border-right: 1px solid rgb(241, 241, 241);
    .top {
      width: 100%;
      // height: 100px;
      .avatar {
        text-align: center;
        cursor: pointer;
      }
      .name {
        text-align: center;
        margin-bottom: 10px;
      }
      .describe {
        font-size: 14px;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        margin-bottom: 20px;
        p{
          font-size: 12px;
          margin-bottom: 5px;
        }
      }
    }
    .bottom {
      display: flex;
      border-top: 3px solid rgb(104, 102, 100);
       
      .amount {
        display: block;
        padding: 15px 3px;
        font-size: 13px;
        // flex: 1;
        text-align: center;
        cursor: pointer;
        &:hover{
          background-color: rgb(67, 74, 80);
          color: rgb(255, 208, 75);;
        }
        .blabel {
          margin-bottom: 5px;
        }
        .number {
        }
      }
    }
  }
}
</style>