<!--
 * @Author: yenible
 * @Date: 2020-12-29 10:24:28
 * @LastEditors: yenible
 * @LastEditTime: 2021-03-10 20:14:51
 * @Description: xxx
-->
<template>
  <div class="container">
    <div class="header">
      <!-- <el-avatar src="avatarUrl"></el-avatar> -->
      <el-avatar :size="200"  :src="userObj.avatar" v-if="userObj"></el-avatar>
      <el-avatar :size="200" icon="el-icon-user-solid" v-else></el-avatar>
      <!-- <div class="name">{{ userInfo.name }}</div> -->
      <el-row
        ><el-button type="primary" @click="showDialog"
          >上传头像</el-button
        ></el-row
      >
      <el-row
        ><el-button type="primary" class="password" @click="updatePassword"
          >修改密码</el-button
        ></el-row
      >
    </div>
    <!-- 用户信息表单 -->
    <div class="user-form">
      <el-form
        label-position="right"
        label-width="80px"
        :model="formLabelAlign"
        :disabled="!isUpdate"
        :rules="rules"
      >
        <el-form-item label="用户名" prop="name">
          <el-input
            v-model="formLabelAlign.name"
            :value="formLabelAlign.name"
            type="name"
          ></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input
            v-model="formLabelAlign.email"
            :value="formLabelAlign.email"
            type="email"
          ></el-input>
        </el-form-item>
        <el-form-item label="性别">
          <el-radio v-model="formLabelAlign.sex" label="2" value="2"
            >男</el-radio
          >
          <el-radio v-model="formLabelAlign.sex" label="1" value="1"
            >女</el-radio
          >
        </el-form-item>
        <el-form-item label="个人描述">
          <el-input
            type="textarea"
            v-model="formLabelAlign.strdescribe"
            :value="formLabelAlign.strdescribe"
          ></el-input>
        </el-form-item>
      </el-form>
      <el-row justify="center">
        <el-col :span="12" class="col-center"
          ><el-button type="success" :disabled="!isUpdate" @click="saveForm"
            >确认修改</el-button
          ></el-col
        >
        <el-col :span="12" class="col-center"
          ><el-button type="primary" @click="clickUpdate">{{
            !isUpdate ? "修改信息" : "取消修改"
          }}</el-button></el-col
        >
      </el-row>
    </div>
    <el-dialog
      title="输入新密码"
      :visible.sync="dialogVisible"
      width="480px"
      :before-close="handleClose"
    >
      <el-form
        :model="updatePasswordForm"
        :rules="rules"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item label="密码" prop="password">
          <el-input
            type="password"
            v-model="updatePasswordForm.password"
            autocomplete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="password">
          <el-input
            type="password"
            v-model="updatePasswordForm.checkedPassword"
            autocomplete="off"
            @blur="checkedInputPassword"
            @input="checkedchangePassword"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            @click="submitPasswordForm"
            :disabled="!isPasswordTrue"
            >确定</el-button
          >
          <el-button @click="cancelPasswordSubmit">重置</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
    <uploaddialog
      :dialogVisible="dialogFormVisible"
      @closeDialog="closeDialog"
      type="avatar"
    ></uploaddialog>
  </div>
</template>

<script>
import uploaddialog from "@/components/dialog/uploadDialog";

import qs from "qs";

import {
  check_username,
  check_email,
  update_info,
  login,
  update_password,
} from "@/network/user.js";

export default {
  name: "userInfo",
  components: {
    uploaddialog,
  },
  computed: {
    userObj() {
      return this.$store.state.userInfo;
    },
  },

  props: {
    userInfo: Object,
  },
  watch: {
    userInfo: function (val) {
      // this.formLabelAlign = val;
      this.formLabelAlign.name = val.name;
      this.formLabelAlign.email = val.email;
      this.formLabelAlign.sex = val.sex;
      this.formLabelAlign.strdescribe = val.strdescribe;
    },
  },
  // 相比之下感觉watch好一点
  // 假如userinfo传过来无数据，那么用computed会导致form也是无数据存在报错问题
  // computed:{
  //   formLabelAlign(){
  //     return this.userInfo
  //   }
  // },
  data() {
    return {
      dialogFormVisible: false,
      isPasswordTrue: false,
      updatePasswordForm: {
        password: "",
        checkedPassword: "",
      },
      dialogVisible: false,
      rules: {
        name: [
          {
            required: true,
            message: "请输入用户名称,3 到 20 个字符",
            trigger: "blur",
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur",
          },
        ],
        email: [
          { required: true, message: "请输入邮箱地址", trigger: "blur" },
          {
            type: "email",
            message: "请输入正确的邮箱地址",
            trigger: ["blur", "change"],
          },
        ],
        password: [
          {
            required: true,
            message: "请输入密码,3 到 20 个字符",
            trigger: "blur",
          },
          {
            min: 3,
            max: 18,
            message: "长度在 3 到 20 个字符",
            trigger: "blur",
          },
        ],
        checkedPassword: [
          {
            required: true,
            message: "请输入密码,3 到 20 个字符",
            trigger: "blur",
          },
          {
            min: 3,
            max: 18,
            message: "长度在 3 到 20 个字符",
            trigger: "blur",
          },
        ],
      },
      formLabelAlign: {
        name: "",
        email: "",
        sex: "2",
        strdescribe: "暂无未填写个人描述",
      },
      isUpdate: false,
      tipTxt: {
        email: "邮箱格式错误或未填写",
        password: "密码格式错误或未填写",
        name: "用户名格式错误或未填写",
      },
      // formLabelAlign: this.userInfo
    };
  },
  created() {},

  methods: {
    showDialog() {
      this.dialogFormVisible = true;
    },
    closeDialog() {
      this.dialogFormVisible = false;
    },
    cancelPasswordSubmit() {
      this.updatePasswordForm = {
        password: "",
        checkedPassword: "",
      };
    },
    submitPasswordForm() {
      let formData = {
        password: this.updatePasswordForm.password,
        id: this.userInfo.id,
      };
      // 修改密码
      update_password(qs.stringify(formData))
        .then((result) => {
          let res = result.data;
          if (res.errCode == 0) {
            this.$message({
              showClose: true,

              message: "密码修改成功",
              type: "success",
              onClose: () => {
                this.dialogVisible = false;
                this.cancelPasswordSubmit();
              },
            });
            this.isPasswordTrue = false;
          } else {
            this.$message({
              showClose: true,

              message: "错误信息：" + res.msg + ";   错误对象：" + res.errObj,
              type: "error",
              onClose: () => {},
            });
            if (res.errObj === "login" && res.redirect) {
              this.$router.push(res.redirect);
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    checkedInputPassword() {
      console.log(this.updatePasswordForm);
      if (
        this.updatePasswordForm.password == "" ||
        this.updatePasswordForm.checkedPassword !=
          this.updatePasswordForm.password
      ) {
        this.$message({
          showClose: true,

          message: "两次密码不一样，请重新输入",
          type: "warning",
        });
        // this.isPasswordTrue = false;
      } else {
        // this.isPasswordTrue = true;
      }
    },
    checkedchangePassword() {
      if (
        this.updatePasswordForm.password == "" ||
        this.updatePasswordForm.checkedPassword !=
          this.updatePasswordForm.password
      ) {
        this.isPasswordTrue = false;
      } else {
        this.isPasswordTrue = true;
      }
    },
    handleClose(done) {
      this.$confirm("确认关闭？")
        .then((_) => {
          done();
        })
        .catch((_) => {});
    },
    async updatePassword() {
      let funBreak = false;
      // 先确定旧密码的正确
      // 密码验证
      funBreak = await this.checkPassword();
      if (funBreak) {
        this.initForm();
        return;
      }
      // 输入新密码,出弹窗
      this.dialogVisible = true;
    },
    async saveForm() {
      // 检查数据
      let check = this.checkForm();
      let funBreak = false;
      if (!Array.isArray(check)) {
        this.$message({
          showClose: true,

          message: this.tipTxt[check],
          type: "error",
          onClose: () => {
            // console.log("转跳");
          },
        });
        return;
      }
      // 当修改字段有name时
      if (check.indexOf("name") != -1) {
        // 检测name是否已存在
        funBreak = await this.checkName();
        // 检测一下是否数据有问题需要中断函数
        if (funBreak) {
          return;
        }
      }
      // 当修改字段有email时
      if (check.indexOf("email") != -1) {
        funBreak = await this.checkEmail();
        if (funBreak) {
          return;
        }
      }
      // 当没有修改字段的时候
      if (check.length == 0) {
        this.$message({
          showClose: true,

          message: "当前没有进行信息修改",
          type: "warning",
          onClose: () => {
            return;
          },
        });
        return;
      }
      // 密码验证
      funBreak = await this.checkPassword();
      if (funBreak) {
        this.initForm();
        return;
      }
      // 万事俱备，只欠修改记录！
      funBreak = await this.updateInfo();

      console.log("我还在？");
    },
    // 验证用户密码
    async checkPassword() {
      let funBreak = false;
      let password = null;
      await this.$prompt("请输入账户密码", "账户验证", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputType: "password",
      })
        .then(({ value }) => {
          console.log(value);
          password = value;
        })
        .catch(() => {
          this.$message({
            showClose: true,

            type: "info",
            message: "取消输入",
          });
          this.initForm();
          funBreak = true;
        });
      if (funBreak) return funBreak;
      // 验证密码...需要用户名和刚刚输入 密码、
      await login(
        qs.stringify({
          name: this.userInfo.name,
          password: password,
        })
      )
        .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode == 0) {
            // 验证成功;
            this.$message({
              showClose: true,

              message: "密码验证成功",
              type: "success",
              onClose: () => {},
            });
            // 再次存储token值
            localStorage.setItem("token", res.data.token);
          } else {
            // 登录失败
            this.$message({
              showClose: true,

              message: res.msg,
              type: "error",
            });
            funBreak = true;
          }
          console.log(res);
        })
        .catch((err) => {
          // 请求失败
          console.log(err);
          funBreak = true;

          // alert(err);
        });

      return funBreak;
    },
    // 更新保存数据
    async updateInfo() {
      let that = this;
      let funBreak = false;
      // 万事俱备，只欠修改记录！
      let formData = this.formLabelAlign;
      formData["id"] = this.userInfo.id;
      await update_info(qs.stringify(formData))
        .then((result) => {
          let res = result.data;
          if (res.errCode == 0) {
            that.isUpdate = false;
            this.$message({
              showClose: true,
              message: "信息修改成功",
              type: "success",
              onClose: () => {
                location.reload();
              },
            });
            funBreak = true;
            return;
          } else {
            this.$message({
              showClose: true,

              message: "错误信息：" + res.msg + ";   错误对象：" + res.errObj,
              type: "error",
              onClose: () => {},
            });
            if (res.errObj === "login" && res.redirect) {
              this.$router.push(res.redirect);
            }
          }
        })
        .catch((err) => {
          console.log(err);
        });
      return funBreak;
    },
    // 检测邮箱是否已经注册
    async checkEmail() {
      let funBreak = false;
      // 检查name是否重复
      await check_email(this.formLabelAlign.email)
        .then((result) => {
          let res = result.data;
          if (res.errCode == 0) {
            // console.log(res.data)
            if (res.data.count > 0) {
              this.$message({
                showClose: true,

                message: "邮箱已注册",
                type: "error",
                onClose: () => {},
              });
              funBreak = true;
            }
            return;
          } else {
            this.$message({
              showClose: true,

              message: "错误信息：" + res.msg + ";   错误对象：" + res.errObj,
              type: "error",
              onClose: () => {},
            });
            if (res.errObj === "login" && res.redirect) {
              this.$router.push(res.redirect);
            }
            funBreak = true;
          }
        })
        .catch((err) => {
          console.log(err);
          funBreak = true;
        });
      return funBreak;
    },
    // 检测用户名是否存在，存在返回true
    async checkName() {
      let funBreak = false;
      // 检查name是否重复
      await check_username(this.formLabelAlign.name)
        .then((result) => {
          let res = result.data;
          if (res.errCode == 0) {
            // console.log(res.data)
            if (res.data.count > 0) {
              this.$message({
                showClose: true,

                message: "当前用户名已存在",
                type: "error",
                onClose: () => {},
              });
              funBreak = true;
            }
            return;
          } else {
            this.$message({
              showClose: true,

              message: "错误信息：" + res.msg + ";   错误对象：" + res.errObj,
              type: "error",
              onClose: () => {},
            });
            if (res.errObj === "login" && res.redirect) {
              this.$router.push(res.redirect);
            }
            funBreak = true;
          }
        })
        .catch((err) => {
          console.log(err);
          funBreak = true;
        });
      return funBreak;
    },
    checkForm() {
      let isChange = {
        email: false,
        name: false,
        sex: false,
        strdescribe: false,
      };
      let reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;

      if (!reg.test(this.formLabelAlign.email)) {
        return "email";
      }
      // if (
      //   this.formLabelAlign.password.length < 3 ||
      //   this.formLabelAlign.password.length > 20
      // ) {
      //   isCheck.password = true;
      //   return "password";
      // }
      if (
        this.formLabelAlign.name.length < 3 ||
        this.formLabelAlign.name.length > 20
      ) {
        return "name";
      }
      // 比较那些字段数据被改变过
      let changeKey = [];
      for (let key in this.formLabelAlign) {
        if (this.userInfo[key] != this.formLabelAlign[key]) {
          changeKey.push(key);
        }
      }
      return changeKey;
    },
    clickUpdate() {
      this.isUpdate = !this.isUpdate;
      console.log(this.formLabelAlign);

      if (!this.isUpdate) {
        console.log(this.userInfo);
        this.initForm();
      }
    },
    initForm() {
      this.formLabelAlign.email = this.userInfo.email;
      this.formLabelAlign.name = this.userInfo.name;
      this.formLabelAlign.sex = this.userInfo.sex;
      this.formLabelAlign.strdescribe = this.userInfo.strdescribe;
    },
  },
};
</script>

<style lang='scss' scoped>
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 20px 20px 20px;
  background-color: white;
  .header {
    width: 100%;
    text-align: center;
    cursor: pointer;
    .password {
      margin-top: 10px;
    }
    .avatar {
      text-align: center;
      margin: 0 auto;
      display: block;
      margin-bottom: 20px;
    }
  }
  .user-form {
    width: 70%;
    margin: 20px auto;
  }
  .col-center {
    text-align: center;
  }
}
</style>