<!--
 * @Author: yenible
 * @Date: 2021-03-02 15:12:12
 * @LastEditors: yenible
 * @LastEditTime: 2021-03-28 20:43:45
 * @Description: xxx
-->
<template>
  <el-container>
    <el-aside width="180px">
      <useritem :userInfo="userInfo"></useritem>
    </el-aside>
    <el-main>
      <div class="contain">
        <div class="search bar1">
          <div class="title"><h2>my blogs</h2></div>
          <!-- <div class="form">
            <input type="text" v-model="searchText" placeholder="请输入您要搜索的内容..." />
            <button @click="search"></button>
          </div> -->
        </div>
        <div class="blogs">
          <blogsshow ref="blogshow"></blogsshow>
        </div>
      </div>
    </el-main>
  </el-container>
</template>

<script>
import blogsshow from "./childComponents/blogsshow/blogsshow";
import useritem from "@/components/useritem/useritem";



export default {
  name: "myblogs",
  components: {
    blogsshow,
    useritem,
  },
  data() {
    return {
      // userInfo: this.$store.state.userInfo,
      searchText:''
    };
  },
  computed:{
    userInfo(){
    return  this.$store.state.userInfo
    }
  },
  methods: {
   
  },
  created(){
  },

};
</script>

<style lang='scss' scoped>
.contain {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica,
    Arial, sans-serif, FreeSans, Arimo;
  font-weight: 500;
  background-color: white;
  // background-color: #909399;
  div.search {
    padding: 30px 0;
  }
  .title {
    text-align: center;
    margin-bottom: 10px;
  }
  .form {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }

  input,
  button {
    border: none;
    outline: none;
  }

  input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
  }

  button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
  }

  /*搜索框1*/
  .bar1 {
    background: #a3d0c3;
  }
  .bar1 input {
    border: 2px solid #7ba7ab;
    border-radius: 5px;
    background: #f9f0da;
    color: #9e9c9c;
  }
  .bar1 button {
    top: 0;
    right: 0;
    background: #7ba7ab;
    border-radius: 0 5px 5px 0;
  }
  .bar1 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #f9f0da;
  }
}
</style>