<!--
 * @Author: yenible
 * @Date: 2021-02-08 17:53:12
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-18 10:40:03
 * @Description: xxx
-->
<template>
  <div class="block avatar">
    <!-- <el-avatar size="medium" :src="avatarUrl"></el-avatar> -->
    <!-- <el-avatar size="medium"  icon="el-icon-user-solid"></el-avatar> -->
    <el-dropdown @command="toPath">
      <span class="el-dropdown-link">
        <el-avatar size="medium" :src="userObj.avatar" v-if="userObj"   ></el-avatar>
        <el-avatar size="medium" icon="el-icon-user-solid" v-else ></el-avatar>
       </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="profile">个人信息</el-dropdown-item>
        <el-dropdown-item command="download">下载中心</el-dropdown-item>
        <el-dropdown-item command="collect">我的收藏</el-dropdown-item>
        <el-dropdown-item command="attract">关注列表</el-dropdown-item>
        <el-dropdown-item command="suggest">建议/反馈</el-dropdown-item>
        <el-dropdown-item command="logout">退出登录</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
import { check_token } from "@/network/user.js";

export default {
  name: "avatarDropdown",
  data() {
    return {
      // userInfo :this.$state.userInfo
    };
  },
  computed:{
    userObj(){
      return this.$store.state.userInfo
    }
  },
  methods: {
    async toPath(command) {
      let res;
      await check_token().then((result) => {
        // console.log(result.data);
        res = result.data;
      });
      if (res.errCode === 0) {
        // token有效，转跳到md编辑页面同时创建对于的文章id
        let user_id = window.localStorage.getItem("userid");
        // console.log(this.$route.path);
        switch (command) {
          case "download":
          case "collect":
          case "profile":
          case "attract":
          case "suggest":
            if (this.$route.path.search(`/${user_id}/${command}`) !== -1) {
              return;
            }
            this.$router.push({
              path: `/${user_id}/${command}`,
            });
            break;
          case "logout":
            // 删除token数据，跳转登录页面
            window.localStorage.removeItem('token')
            window.localStorage.removeItem('userid')
            this.$router.push({
              path: `/login`,
               query:{
    t:Date.now(),
  },
            });

        }
      } else {
        this.$message({
          message: "账号登陆过期，请重新登陆",
          type: "error",
        });
        this.$router.push({
          path: `/login`,
        });
      }
    },
  },
};
</script>

<style lang='scss' scoped>
.avatar {
  cursor: pointer;
}
</style>