<!--
 * @Author: yenible
 * @Date: 2021-01-12 09:52:29
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-15 21:51:46
 * @Description: 用于md编译器的菜单栏
-->

<style>
</style>
<template>
  <div class="menu">
    <div class="wrap">
      <div class="center">
        <!-- <input
          class="title-input"
          type="text"
          v-model="titleText"
          placeholder="文章标题"
        /> -->
        <el-input
          type="text"
          placeholder="文章标题"
          class="title-input"
          v-model="titleText"
          maxlength="30"
          show-word-limit
        ></el-input>
      </div>
    </div>
    <div class="left_margin" @click="goback">
      <div>
        <i class="el-icon-arrow-left"></i>
        文章管理
      </div>
    </div>

    <div class="right_margin">
      <div class="btn-list">
        <el-button @click="saveDraft" class="btn" size="small" round
          >保存草稿</el-button
        >
        <el-button
          @click="sumbitArticle"
          class="btn"
          size="small"
          type="primary"
          round
          >发布文章</el-button
        >
      </div>
      <avatarDropdown></avatarDropdown>
    </div>
    <savearticledialog
      ref="articledialog"
      class="article-dialog"
      @publishArticle="publishArticle"
      @closeDialog="closeDialog"
      :saveArticleDialog="saveArticleDialog"
      :label_list="label_list"
      :publish_type="publish_type"
    ></savearticledialog>
  </div>
</template>

<script>
// import {add_article} from '../../network/article';
import avatarDropdown from "./avatarDropdown";

import savearticledialog from "../dialog/saveArticleDialog";

import { format } from "@/tool/format ";

export default {
  name: "mymenu",
  components: {
    avatarDropdown,
    savearticledialog,
  },
  userObj() {
    return this.$store.state.userInfo;
  },
  data() {
    return {
      saveArticleDialog: false,
      titleText: this.articleTitle || format(new Date()),
    };
  },
  props: {
    articleTitle: String,
    label_list: Array,
    publish_type: String,
  },
  watch: {
    articleTitle() {
      this.titleText = this.articleTitle;
    },
  },
  methods: {
    goback() {
      this.$router.go(-1);
    },
    saveDraft() {
      if (this.titleText === "") {
        this.$notify({
          title: "警告",
          message: "请填写文章标题",
          type: "warning",
        });
        return;
      }
      // 获取文章所需的信息
      this.$emit("saveDraft", this.titleText);
      // add_article({user_id:123})
      // console.log('保存草稿')
    },
    sumbitArticle() {
      if (this.titleText === "") {
        this.$notify({
          title: "警告",
          message: "请填写文章标题",
          type: "warning",
        });
        return;
      }
      // 显示弹窗
      this.saveArticleDialog = true;
      console.log("发布");
    },
    closeDialog() {
      this.saveArticleDialog = false;
      this.$refs.articledialog.init();
    },
    publishArticle(value) {
      value["title"] = this.titleText;

      this.$emit("publishArticle", value);
      // console.log(value)
    },
  },
};
</script>

<style lang='scss' scoped>
.menu {
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #e3e3e300;
  position: relative;
  .article-dialog {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .wrap {
    float: left;
    width: 100%;
    height: 100%;
    .center {
      position: relative;
      margin: 0 250px 0 130px;
      height: 100%;
      .title-input {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        input {
          // position: absolute;
          // top: 50%;
          // transform: translateY(-50%);
          height: 35px;
          width: 100%;
          color: rgb(180, 180, 170);
          border: 1px solid rgb(231, 231, 227);
          border-radius: 20px !important;
          text-align: 20px;
          padding-left: 16px;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .left_margin,
  .right_margin {
    float: left;
    height: 100%;
  }
  .left_margin {
    margin-left: -100%;
    width: 120px;
    display: table;
    div {
      color: white;
      display: table-cell;
      vertical-align: middle;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      margin: 0 auto;
      cursor: pointer;
    }
  }
  .right_margin {
    margin-left: -240px;
    width: 240px;
    // position: absolute;
    // right: 20px;
    // display: flex;
    // top: 50%;
    // transform: translateY(-50%);
    .btn-list {
      position: absolute;
      display: flex;
      top: 50%;
      transform: translateY(-50%);
      .btn {
        flex: 1;
      }
    }
    .avatar {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .editer_btn {
      margin-right: 10px;
    }
  }
}
</style>

