<!--
 * @Author: yenible
 * @Date: 2020-12-28 14:03:36
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-05 15:52:44
 * @Description: 菜单导航栏组件
-->
<style>
</style>
<template>
  <div class="menu">
    <el-menu
      :default-active="activeIndex"
      class="el-menu-demo"
      mode="horizontal"
      @select="handleSelect"
      background-color="rgb(26,29,47)"
      text-color="#fff"
      active-text-color="#ffd04b"
    >
      <div class="logo"><i class="el-icon-thumb"></i>iblogs</div>
      <el-menu-item index="1">首页</el-menu-item>
      <el-menu-item index="2">关注</el-menu-item>
      <el-menu-item index="3">my blogs</el-menu-item>
      <!-- <el-menu-item index="4">创作中心</el-menu-item> -->
      <div class="header-right">
        <!-- <el-button
          class="editer_btn"
          @click="toDownload"
          size="mini"
          type="danger"
          >下载中心</el-button
        > -->
        <el-button
          class="editer_btn"
          @click="touploadFile"
          size="mini"
          type="danger"
          >传资源</el-button
        >
        <el-button
          class="editer_btn"
          @click="toEditeBlogs"
          size="mini"
          type="danger"
          >写文章</el-button
        >
        <button class="right-item" @click="toDownload">下载中心</button>
        <button class="right-item" @click="toMessage">消息</button>

        <avatarDropdown></avatarDropdown>
      </div>
    </el-menu>
  </div>
</template>

<script>
import { check_token } from "../../network/user";
import avatarDropdown from "./avatarDropdown";
export default {
  name: "mymenu",
  components: {
    avatarDropdown,
  },
  computed: {
    userObj() {
      return this.$store.state.userInfo;
    },
  },
  data() {
    return {
      activeIndex: null,
      indexObj: {
        1: "index",
        2: "attract",
        3: "myblogs",
      },
      // avatarUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png"
    };
  },
  methods: {
    toMessage() {
      this.$router.push({
        path: `/${this.userObj.id}/message`,
      });
    },
    async toDownload() {
      // 验证一下当前用户的登陆态
      let res;
      await check_token().then((result) => {
        res = result.data;
      });
      let userid = window.localStorage.getItem("userid");
      if (res.errCode === 0) {
        this.$router.push({
          path: `/${this.userObj.id}/download`,
        });
      } else {
        this.$message({
          message: "账号登陆过期，请重新登陆",
          type: "error",
        });
        this.$router.push({
          path: `/login`,
        });
      }
    },
    async touploadFile() {
      // 验证一下当前用户的登陆态
      let res;
      await check_token().then((result) => {
        res = result.data;
      });
      let userid = window.localStorage.getItem("userid");
      if (res.errCode === 0) {
        // token有效，转跳到md编辑页面同时创建对于的文章id
        let article_id = userid + new Date().getTime();
        // if (this.$route.path.search(`/${userid}/upload`) !== -1) {
        //   return;
        // }
        this.$router.push({
          path: `/${userid}/upload`,
        });
      } else {
        this.$message({
          message: "账号登陆过期，请重新登陆",
          type: "error",
        });
        this.$router.push({
          path: `/login`,
        });
      }
    },
    async toEditeBlogs() {
      // 验证一下当前用户的登陆态
      let res;
      await check_token().then((result) => {
        res = result.data;
      });
      let userid = window.localStorage.getItem("userid");
      if (res.errCode === 0) {
        // token有效，转跳到md编辑页面同时创建对于的文章id
        let article_id =
          (userid + "000000000").substring(0, 10) + new Date().getTime();
        // if (this.$route.path.search(`/${userid}/md/${article_id}`) !== -1) {
        //   return;
        // }
        this.$router.push({
          path: `/${userid}/md/${article_id}`,
        });
      } else {
        this.$message({
          message: "账号登陆过期，请重新登陆",
          type: "error",
        });
        this.$router.push({
          path: `/login`,
        });
      }
    },
    handleSelect(key, keyPath) {
      let userid = window.localStorage.getItem("userid");
      switch (key) {
        case "1":
          // if (this.$route.path.search(`/index`) !== -1) {
          //   return;
          // }
          this.$router.push({
            path: `/index`,
          });
          break;
        case "2":
          // if (this.$route.path.search(`/${userid}/attract`) !== -1) {
          //   return;
          // }
          if (!userid) {
            this.$message({
              message: "请先登录账户",
              type: "error",
            });
            this.$router.push({
              path: `/login`,
            });
          }
          this.$router.push({
            path: `/${userid}/attract`,
          });
          break;
        case "3":
          // if (this.$route.path.search(`/${userid}/myblogs`) !== -1) {
          //   return;
          // }
          if (!userid) {
            this.$message({
              message: "请先登录账户",
              type: "error",
            });
            this.$router.push({
              path: `/login`,
            });
          }
          this.$router.push({
            path: `/${userid}/myblogs`,
          });
          break;
      }
    },
    changeIndex(index) {
      this.activeIndex = index;
    },
  },

  created() {},
};
</script>

<style lang='scss' scoped>
.menu {
  .logo {
    float: left;
    font-size: 40px;
    opacity: 1;
    color: white;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    margin-right: 30px;
  }
  .header-right {
    position: absolute;
    right: 20px;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    &:focus {
      outline: 0;
    }

    .avatar {
      // position: absolute;
      // right: 20px;
      // top: 50%;
      // transform: translateY(-50%);
      margin-left: 15px;
      cursor: pointer;
    }
    .editer_btn {
      margin-right: 10px;
      height: 40px;
    }
    .right-item {
      line-height: 55px;
      font-size: 14px;
      display: inline-block;
      padding: 0 20px;
      color: white;
      background-color: rgb(26, 29, 47);
      border: none;
      &:hover {
        background-color: rgb(80, 74, 74);
        border: none;
        cursor: pointer;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}
</style>

