<!--
 * @Author: yenible
 * @Date: 2021-03-04 09:59:39
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-14 15:07:34
 * @Description: xxx
-->
<style lang="scss">
.pageIndex {
  .el-header {
    height: 350px !important;
    margin-top: 0px;
    z-index: 1;
  }
}
</style>
<template>
  <el-container class="pageIndex">
    <el-main>
      <div class="header">
        <div class="head-top">
          <img
            src="http://localhost:33333/uploads/images/tomjerry.jfif"
            alt=""
          />
          <div class="auth-name">{{ authInfo.name }}的博客</div>
        </div>
        <div class="head-avatar">
          <el-avatar
            class="avatar-img"
            :size="160"
            :src="authInfo.avatar"
            v-if="authInfo"
          ></el-avatar>
          <el-avatar
            class="avatar-img"
            :size="160"
            icon="el-icon-user-solid"
            v-else
          ></el-avatar>
          <div class="sleepContentView">
            <div class="circle" />
          </div>
        </div>
        <div class="auth-info-list">
          <div class="head-name">{{ authInfo.name }}</div>
          <div class="info-list">
            <div class="amount">
              <div class="blabel">粉丝</div>
              <div class="number">{{ authInfo.fans_amount }}</div>
            </div>
            <div class="amount">
              <div class="blabel">关注</div>
              <div class="number">{{ authInfo.focus_amount }}</div>
            </div>
            <div class="amount">
              <div class="blabel">收藏</div>
              <div class="number">{{ authInfo.user_collect_amount }}</div>
            </div>
            <div class="amount">
              <div class="blabel">文章</div>
              <div class="number">{{ authInfo.article_amount }}</div>
            </div>
            <div class="amount">
              <div class="blabel">积分</div>
              <div class="number">{{ authInfo.score }}</div>
            </div>
          </div>
          <div class="attract">
            <actionlist
              :onlyAttract="true"
              :authid="authInfo.id"
              :is_attract="is_attract"
              :authName="authInfo.name "

            ></actionlist>
          </div>
        </div>
      </div>
      <div class="contain">
        <personalblogbhow></personalblogbhow>
      </div>
    </el-main>
  </el-container>
</template>

<script>
import personalblogbhow from "./childComponent/personalblogbhow";
import actionlist from "@/components/actionlist/actionlist";
import { get_username_info } from "@/network/user";
import { is_attract } from "@/network/article";
export default {
  name: "personalpage",
  components: {
    personalblogbhow,
    actionlist,
  },
  data() {
    return {
      authInfo: {},
      is_attract: false,
      hasAuthInfo:false
    };
  },
  computed: {
    userObj() {
      if (this.$store.state.userInfo.id && this.hasAuthInfo) {
        is_attract({
          auth_id: this.authInfo.id,
          user_id: this.$store.state.userInfo.id,
        }).then((attesult) => {
          console.log(attesult);
          let attres = attesult.data;
          if (attres.errCode === 0) {
            this.is_attract = attres.isAttract;
          }
        });
      }

      return this.$store.state.userInfo;
    },
  },
  watch:{
    hasAuthInfo(){
       if (this.$store.state.userInfo.id && this.hasAuthInfo) {
         console.log('miaomiaomiao')
        is_attract({
          auth_id: this.authInfo.id,
          user_id: this.$store.state.userInfo.id,
        }).then((attesult) => {
          console.log(attesult);
          let attres = attesult.data;
          if (attres.errCode === 0) {
            this.is_attract = attres.isAttract;
          }
        });
      }
    }
  },
  methods: {
    async getAuthInfo() {
      // 请求用户信息
      await get_username_info(this.$route.params.authname)
        .then((result) => {
          let res = result.data;
          // console.log(res);
          if (res.errCode == 0) {
            this.authInfo = res.data[0];
            this.hasAuthInfo=true
            // this.$store.commit("update_userinfo", res.data[0]);
          } else {
            this.$message({
              message: "错误信息：" + res.msg + ";   错误对象：" + res.errObj,
              type: "error",
              onClose: () => {},
            });
            console.log(res.msg);
            if (res.errObj === "login" && res.redirect) {
              this.$router.push(res.redirect);
            }
          }
        })
        .catch((err) => {
          // 请求失败
          console.log(err);
          // alert(err);
          // this.$message({
          //   message: "用户数据请求失败",
          //   type: "error",
          // });
        });
        // console.log(this.$store.state.userInfo)
        setTimeout(() => {
        // console.log(this.$store.state.userInfo)
          
          is_attract({
          auth_id: this.authInfo.id,
          user_id: this.$store.state.userInfo.id,
        }).then((attesult) => {
          console.log(attesult);
          let attres = attesult.data;
          if (attres.errCode === 0) {
            this.is_attract = attres.isAttract;
          }
        });
        }, 1000);
          

    },
  },
  created() {
    this.getAuthInfo();
  },
};
</script>

<style lang='scss' scoped>
.header {
  height: 380px;
  background-color: white;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(23, 26, 42)
  );

  .head-top {
    height: 100px;
    background-color: rgb(235, 235, 247);
    position: relative;
    text-align: center;
    img {
      position: absolute;
      left: 0;
      bottom: 0px;
      height: 80px;
      width: auto;
    }
    .auth-name {
      width: 750px;
      height: 200px;
      position: absolute;
      top: 30px;
      margin-left: -130px;
      background-image: -webkit-linear-gradient(
        left,
        blue,
        #66ffff 10%,
        #cc00ff 20%,
        #cc00cc 30%,
        #ccccff 40%,
        #00ffff 50%,
        #ccccff 60%,
        #cc00cc 70%,
        #cc00ff 80%,
        #66ffff 90%,
        blue 100%
      );
      -webkit-text-fill-color: transparent; /* 将字体设置成透明色 */
      -webkit-background-clip: text; /* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
      -webkit-background-size: 200% 100%;
      -webkit-animation: masked-animation 4s linear infinite;
      font-size: 35px;
    }
    @keyframes masked-animation {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -100% 0;
      }
    }
  }
  .head-avatar {
    position: relative;
    height: 120px;
    width: 100vw;

    .avatar-img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -30%);
      z-index: 2;
      // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }
    .sleepContentView {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -31%);
      width: 170px;
      height: 170px;
      background-image: linear-gradient(#8d08fa, rgb(238, 34, 129));
      border-radius: 50%;
      text-align: center;
      padding: 10px;
      font-size: 28px;
      box-sizing: border-box;
      .circle {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 50%;
      }
    }
  }
  .auth-info-list {
    position: relative;
    // top: 120px;
    // left: 50%;
    // transform: translateX(-50%);
    color: rgb(245, 243, 243);
    .attract {
      // position: absolute;
      width: 85px;
      margin: 0 auto;
      // left: 50%;
      // transform: translateX(-50%);
      // text-align: center;
    }
    .head-name {
      text-align: center;
      font-size: 30px;
    }
    .info-list {
      display: flex;
      width: 300px;
      margin: 0 auto;

      .amount {
        display: block;
        padding: 15px 10px;
        font-size: 18px;
        // flex: 1;
        text-align: center;
        cursor: pointer;
        color: rgb(255, 255, 255);
        &:hover {
          background-color: rgb(239, 240, 241);
          color: rgb(32, 32, 30);
        }
        .blabel {
          margin-bottom: 5px;
        }
        .number {
          font-weight: bolder;
          font-size: 20px;
        }
      }
    }
  }
  .main {
    background-color: white;
    width: 100%;
    height: 100%;
  }
}
</style>