<!--
 * @Author: yenible
 * @Date: 2021-03-05 09:52:45
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-14 15:10:28
 * @Description: 点赞 浏览 收藏 等操作表
-->
<template>
  <div class="act-list">
    <div class="like tag" @click="like" v-if="!onlyAttract">
      <el-tag type="danger" :effect="isLike ? 'dark' : 'plain'">
        <i class="el-icon-thumb"></i>
        <span
          >{{ isLike ? "已" : "" }}点赞(<span>{{ likeAmount }}</span
          >)</span
        >
      </el-tag>
    </div>
    <div class="collect tag" @click="collect"  v-if="!onlyAttract">
      <el-tag type="danger" :effect="isCollect ? 'dark' : 'plain'">
        <i class="el-icon-star-off"></i>
        <span
          >{{ isCollect ? "已" : "" }}收藏(<span>{{ collectAmount }}</span
          >)
        </span>
      </el-tag>
    </div>
    <div class="attract tag" @click="attract">
      <el-tag type="danger" :effect="isAttract ? 'dark' : 'plain'">
        {{ isAttract ? "已" : "" }}关注
      </el-tag>
    </div>
     <div class="chat tag" @click="chat">
      <el-tag type="danger" effect='dark'>
        私信
      </el-tag>
    </div>
  </div>
</template>

<script>
import { action_like, action_collect, action_attract } from "@/network/article";
import { action_like_file, action_collect_file } from "@/network/file";
export default {
  name: "actionlist",
  props: {
    authid: Number,
    article_id: String,
    authName: String,
    file_id: Number,
    like_amount: Number,
    collect_amount: Number,
    is_like: Boolean,
    is_collect: Boolean,
    is_attract: Boolean,
    type: {
      type: String,
      default: "article",
    },
    onlyAttract:{
      type:Boolean,
      default:false
    }
  },
  data() {
    return {
      isLike: this.is_like,
      isCollect: this.is_collect,
      isAttract: this.is_attract,
      likeAmount: this.like_amount,
      collectAmount: this.collect_amount,
    };
  },
  computed: {
    islogin() {
      return this.$store.state.isLogin;
    },
    userObj() {
      return this.$store.state.userInfo;
    },
  },
  methods: {
    chat(){
         this.$router.push({
        path: `/${this.userObj.id}/chat/${this.authName}`
      });
    },
    like() {
      let that = this;
      this.isLike = !this.isLike;
      if (!this.islogin) {
        this.$message({
          showClose: true,
          message: "请登录账号再进行操作",
          type: "error",
          onClose: () => {
            this.$router.push({
              path: `/login`,
            });
          },
        });
        return;
      }
      if (this.type === "article") {
        action_like({
          article_id: this.article_id,
          user_id: this.userObj.id,
          is_like: this.isLike,
          auth_id: this.authid,
          type: "article",
        })
          .then((result) => {
            let res = result.data;
            // console.log(res)
            if (res.errCode === 0 && this.likeAmount > -1) {
              this.likeAmount = res.like_amount;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      } else if (this.type === "file") {
         action_like_file({
          file_id: this.file_id,
          user_id: this.userObj.id,
          is_like: this.isLike,
          auth_id: this.authid,
          type: "file",
        })
          .then((result) => {
            let res = result.data;
            // console.log(res)
            if (res.errCode === 0 && this.likeAmount > -1) {
              this.likeAmount = res.like_amount;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    collect() {
      if (!this.islogin) {
        this.$message({
          showClose: true,
          message: "请登录账号再进行操作",
          type: "error",
          onClose: () => {
            this.$router.push({
              path: `/login`,
            });
          },
        });
        return;
      }
      this.isCollect = !this.isCollect;
      if (this.type === "article") {
        action_collect({
          article_id: this.article_id,
          user_id: this.userObj.id,
          is_collect: this.isCollect,
          type: "article",
        })
          .then((result) => {
            let res = result.data;
            console.log(res);
            if (res.errCode === 0 && this.collectAmount > -1) {
              this.collectAmount = res.collect_amount;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      } else if (this.type === "file") {
        
        action_collect_file({
          file_id: this.file_id,
          user_id: this.userObj.id,
          is_collect: this.isCollect,
          type: "file",
        })
          .then((result) => {
            let res = result.data;
            console.log(res);
            if (res.errCode === 0 && this.collectAmount > -1) {
              this.collectAmount = res.collect_amount;
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    attract() {
      if (!this.islogin) {
        this.$message({
          showClose: true,
          message: "请登录账号再进行操作",
          type: "error",
          onClose: () => {
            this.$router.push({
              path: `/login`,
            });
          },
        });
        return;
      }
      this.isAttract = !this.isAttract;
      // console.log(this.isAttract);
      // if (this.type === "article") {
        action_attract({
          auth_id: this.authid,
          user_id: this.userObj.id,
          is_attract: this.isAttract,
          type: "article",
        })
          .then((result) => {
            // console.log(result)
          })
          .catch((err) => {
            console.log(err);
          });
      // }  
    },
  },
  watch: {
    like_amount() {
      this.likeAmount = this.like_amount;
    },
    collect_amount() {
      this.collectAmount = this.collect_amount;
    },
    is_like() {
      console.log(this.is_like);
      this.isLike = this.is_like;
    },
    is_collect() {
      console.log(this.is_ollect);
      this.isCollect = this.is_collect;
    },
    is_attract() {
      this.isAttract = this.is_attract;
    },
  },
};
</script>

<style lang='scss' scoped>
.act-list {
  display: flex;
  width: 900px;
  .tag {
    cursor: pointer;
    margin: 10px;
  }
}
</style>