<!--
 * @Author: yenible
 * @Date: 2021-04-05 16:49:03
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-09 12:47:43
 * @Description: xxx
-->
<template>
<div class="contain">
      <el-button @click="allRead" class="btn-read" size="mini" type="primary" plain>全部已读</el-button>

    <div class="item" v-for="(item, index) in info" :key="index">
      <div class="item-left">
        <div class="user-name" @click="toIndex(item.name)">{{ item.name }}</div>
        <div class="item-reply">点赞了</div>
         <div
          class="item-text"
          @click="toArticle(item.name, item.article_id, item.file_id)"
        ><el-tag
        class="item-tag"
          size="mini"  
          :type="
            item.reply_type === 'article' ? '': 'success'
          "
          >{{ item.reply_type === 'article' ? '已发布': '资源' }}</el-tag
        >
          {{ item.file_title||item.article_title }}
        </div>
      </div>

      <div class="item-time">
        {{ formatDate(item.reply_time) }} <i class="el-icon-delete" @click="deleteMessage(item.message_id)"></i><i class="item-badge" v-show="item.is_see===0">·</i>
      </div>
    </div>
  </div>
</template>

<script>
import { format } from "@/tool/format ";
 
import {delete_like_message} from '@/network/message'

export default {
  name: 'likemessage',
  props:{
    info:Array
  },  computed: {
    formatDate() {
      return function (date) {
        return format(new Date(date));
      };
    },
  },
  data() {
    return {
     
    }
  },
  methods: {
       allRead(){
          this.$emit('readAll')
    },
    toArticle(name, article_id, file_id) {
      if (article_id) {
        this.$router.push({
          path: `/${name}/article/detail/${article_id}`,
        });
      } else {
        this.$router.push({
          path: `/${name}/file/detail/${file_id}`,
        });
      }
    },
        toIndex(name) {
      this.$router.push({
        path: `/${name}/homepage`,
      });
    },
    deleteMessage(message_id){
      // 删除message_id
      delete_like_message({message_id}).then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            // this.commentmessage = res.data;
             this.$message({
              showClose: true,
              type: "success",
              message: res.msg,
            });
            this.$emit('refresh','like')
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
  }
};
</script>

<style lang='scss' scoped>
.btn-read{
  position: relative;
  left: 20px;
}
.item {
  position: relative;
  font-size: 14px;
  display: flex;
  // height: 50px;
  // padding: 20px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 15px 0 20px;
  margin: 20px;
  padding-bottom: 20px;
  align-items: center;
  border-bottom: 1px solid rgb(197, 197, 189);
  .item-left {
    display: flex;
    width: 100%;
    padding-right: 180px;
    .item-reply {
      padding-left: 20px;
      white-space: nowrap;;
    }
  }
  .user-name {
    color: rgb(142, 158, 209);
    cursor: pointer;
    white-space: nowrap;
    &:hover {
      color: rgb(2, 104, 238);
    }
  }

  .item-time {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    .item-badge{
      color: red;
      // font-size: 30px;
      font-weight: bolder;
    }
    i{
      margin-right: 10px;
      &:hover{
        cursor: pointer;
        color: red;
        font-size: 16px;
      }
    }
  }
   .item-text {
    // margin-right: 100px;
    overflow: hidden;
    // word-wrap: ;
    white-space: nowrap;
     text-overflow: ellipsis;
    &:hover {
      color: rgb(2, 104, 238);
      cursor: pointer;
    }
  }
  .item-tag{
    margin-left: 10px;
  }
  
}
</style>