<template>
  <div class="mdContainer">
    <div class="mdBodyContainer">
      <div
        class="previewContainer markdown-body"
        v-html="compiledMarkdown"
      ></div>
    </div>
  </div>
</template>

<script>
import marked from "marked";
import hljs from "../../assets/mdedit/js/highlight.min.js";
import range from "../../assets/mdedit/js/rangeFn.js";
marked.setOptions({
  renderer: new marked.Renderer(),
  gfm: true,
  tables: true,
  breaks: false,
  pedantic: false,
  sanitize: true,
  smartLists: true,
  smartypants: false,
  highlight: function (code) {
    return hljs.highlightAuto(code).value;
  },
});

export default {
  name: "showarticle",
  props: {
    article_content: String,
  },
  data() {
    return {
      editHtm: this.article_content,
      compiledMarkdown: null,
    };
  },
  created: function () {
    this.setMakedown();
  },
  methods: {
    setMakedown() {
      if (this.editHtm) {
        this.compiledMarkdown = marked(this.editHtm, {
          sanitize: true,
        });
      }
    },
  },
  watch: {
    article_content: function () {
      this.editHtm = this.article_content;
      this.setMakedown();
    },
  },
};
</script>

<style lang="scss" scoped>
/*引入reset文件*/

@import "../../assets/mdedit/css/reset";

/*引入github的markdown样式文件*/

@import "../../assets/mdedit/css/github-markdown.css";

/*引入atom的代码高亮样式文件*/

@import "../../assets/mdedit/css/atom-one-dark.min.css";
.mdContainer {
  width: 100%;
  height: 100%;
  background: lightblue;
  margin-bottom: 20px;
  &.fullPage {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
  }
  .mdBodyContainer {
    width: 100%;
    height: calc(100% - 36px);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    &.noMenu {
      height: 100%;
    }
  }
}

// 预览区
.previewContainer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  overflow: auto;
  padding: 10px;
}
</style>