<!--
 * @Author: yenible
 * @Date: 2021-03-03 09:57:51
 * @LastEditors: yenible
 * @LastEditTime: 2021-03-29 23:09:34
 * @Description: 展示自己文章类别
-->
<template>
  <div class="container">
    <el-tabs type="border-card" @tab-click="handleClick" v-model="tabName">
      <el-tab-pane name="1" label="文章">
        <div class="item-list">
          <el-timeline>
            <el-timeline-item
              v-for="item in articleInfo"
              :key="item.article_id"
              :timestamp="formatDate(item.create_time)"
              placement="top"
            >
              <el-card>
                <blogsitem type="blog" :info="item"></blogsitem>
              </el-card>
            </el-timeline-item>
            <el-pagination
              @current-change="changePublishPage"
              background
              layout="prev, pager, next"
              :total="articleTotal"
              :current-page="articlePageno"
            >
            </el-pagination>
          </el-timeline>
        </div>
      </el-tab-pane>
      <el-tab-pane name="2" label="资源">
        <div class="item-list">
          <el-timeline>
            <el-timeline-item
              v-for="item in fileInfo"
              :key="item.file_id"
              :timestamp="formatDate(item.upload_time)"
              placement="top"
            >
              <el-card>
                <blogsitem type="file" :info="item"></blogsitem>
              </el-card>
            </el-timeline-item>
            <el-pagination
              :page-size="pagesize"
              @current-change="changeFilePage"
              background
              layout="prev, pager, next"
              :total="fileTotal"
              :current-page="filePageno"
            >
            </el-pagination
            >
          </el-timeline>
          <!-- <div class="blog-item" v-for="item in fileInfo" :key="item.file_id">
            <blogsitem
              type="file"
              :info="item"
            ></blogsitem>
          </div> -->
          <!-- <el-pagination
          :page-size="pagesize"

            @current-change="changeFilePage"
            background
            layout="prev, pager, next"
            :total="fileTotal"
            :current-page="filePageno"
          >
          </el-pagination> -->
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { format } from "@/tool/format ";
import { query_collect_article } from "@/network/article.js";
import { query_collect_file } from "@/network/file.js";

import blogsitem from "@/components/blogs/blogsitem";
export default {
  name: "blogsshow",
  components: {
    blogsitem,
  },
  computed: {
    formatDate() {
      return function (date) {
        return format(new Date(date));
      };
    },
    userObj() {
      return this.$store.state.userInfo;
    },
    "$store.state.myblogsType"() {
      this.tabName = this.$store.state.myblogsType;
    },
  },

  data() {
    return {
      tabName: "1",
      articleInfo: [],
      articlePageno: 1,
      fileInfo: [],
      fileTotal: 0,
      filePageno: 1,
      articleTotal: 0,
      pagesize: 10,
    };
  },
  methods: {
    changeFilePage(value) {
      this.filePageno = value;

      this.getFileList();
    },
    changePublishPage(value) {
      this.articlePageno = value;
      this.getArticle("1");
    },
    handleClick(tab, event) {
      this.$store.commit("update_myblogsType", tab.name);
      if (tab.name === "1") {
        // if (this.articleInfo.length > 0) {
        //   return;
        // }
        this.getArticle(tab.name);
      } else if (tab.name === "2") {
        // if (this.fileInfo.length > 0) {
        //   return;
        // }
        this.getFileList();
      }
    },
    // 查询文章列表数据
    getFileList() {
      query_collect_file({
        user_id: this.userObj.id,
        pageno: this.filePageno-1,
        pagesize: this.pagesize,
      })
        .then((result) => {
          console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            this.fileInfo = res.data;
          } else {
            this.$message({
              showClose: true,
              message: res.err,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            message: err,
            type: "error",
          });
        });
    },
    getArticle(article_state) {
      query_collect_article({
        user_id: window.localStorage.getItem("userid"),
        pagesize: this.pagesize,
        pageno: this.articlePageno - 1,
      })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.articleTotal = res.total;
            this.articleInfo = res.data;
          } else {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            message: err,
            type: "error",
          });
        });
    },
  },
  created() {
    if (this.$store.state.myblogsType === "2") {
      this.getFileList();
    } else {
      this.getArticle("1");
    }
  },
};
</script>

<style lang='scss' scoped>
</style>