<!--
 * @Author: yenible
 * @Date: 2021-03-10 21:29:24
 * @LastEditors: yenible
 * @LastEditTime: 2021-03-11 14:36:13
 * @Description: xxx
-->
<template>
  <div class="container">
    <!-- <el-radio-group v-model="infoSort" @change="changeSort">
      <el-radio-button label="最新"></el-radio-button>
      <el-radio-button label="最热"></el-radio-button>
    </el-radio-group> -->
    <el-tabs v-model="infoSort" type="card" @tab-click="changeSort">
    <el-tab-pane label="最新" name="new">
      <div class="blog-list">
        <div
            class="blog-item"
            v-for="(item) in newsInfo"
            :key="item.article_id"
          >
            <blogsitem type="index" :info="item"></blogsitem>
          </div>
    </div>
        <el-pagination
            @current-change="changePage"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page="newPageno"
          >
      </el-pagination>
    </el-tab-pane>
    <el-tab-pane label="最热" name="hot">
      <div class="blog-list">
        <div
            class="blog-item"
            v-for="(item) in hotInfo"
            :key="item.article_id"
          >
            <blogsitem type="index" :info="item"></blogsitem>
          </div>
    </div>
        <el-pagination
            @current-change="changePage"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page="hotPageno"
          >
      </el-pagination>
    </el-tab-pane>
  </el-tabs>
 
  </div>
</template>

<script>
import blogsitem from "@/components/blogs/blogsitem";
import { format } from "@/tool/format ";
import { query_username_article } from "@/network/article.js";
export default {
  name: "personalblogbhow",
  components: {
    blogsitem,
  },
  data() {
    return {
      infoSort: "new",
      total:0,
      newsInfo:[],
      hotInfo:[],
      newPageno:1,
      hotPageno:1,
      // pagesize:20
    };
  },
  methods: {
    changePage(value){
      console.log(value)
      if(this.infoSort ==='new'){
        this.getArticle('new',value-1)
      }else if(this.infoSort === 'hot'){
        this.getArticle('hot',value-1)
      }
    },  
    changeSort(tab) {
      // this.pageno = 1;
      console.log(tab.name);
      if(tab.name ==='new'){
        this.getArticle('new')
      }else if(tab.name === 'hot'){
        this.getArticle('hot')
      }
 
    },
    queryArticleInfo(condition, pageno, pagesize, sort) {
      // condition为查询的条件对象
      // 该函数为查询当前用户id的文章
      return query_username_article({
        user_id: window.localStorage.getItem("userid"),
        condition: condition,
        pagesize: pagesize,
        pageno: pageno,
        sort: sort,
        auth_name:this.$route.params.authname
      });
    },

    getArticle(sort, pageno, pagesize) {
      this.queryArticleInfo({ article_state: '1' }, pageno, pagesize, sort)
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            console.log(res);
              this.total = res.total;
              if(this.infoSort === 'new'){
                this.newsInfo = res.data;
              }else if(this.infoSort === 'hot'){
                this.hotInfo = res.data;
              }
              
          } else {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            message: err,
            type: "error",
          });
        });
    },
  },
  created(){
        this.getArticle('hot')
  }
};
</script>

<style lang='scss' scoped>
.container{
  width: 900px;
  margin: 0 auto;
  height: 100%;
  background-color: white;
  .blog-list{
    padding: 15px;
    width: 95%;
  }
}
</style>