<!--
 * @Author: yenible
 * @Date: 2021-03-13 14:26:38
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-20 20:09:41
 * @Description: xxx
-->
<template>
  <div class="ucontianer">
    <h2 class="title">
      {{ pageType === "edit" ? "修改资源信息" : "上传资源" }}
    </h2>
    <div class="tip"> </div>
    <el-form ref="form" class="form" :model="form" label-width="100px">
      <el-form-item label="文件名称:">
        <el-input :disabled="pageType === 'edit' && !isChange "  v-model="form.file_title" maxlength="30" minlength="1"></el-input>
        <div class="el-upload__tip">{{ form.file_title.length }}/30</div>
      </el-form-item>
      <el-form-item label="文件描述:">
        <el-input
        :disabled="pageType === 'edit' && !isChange " 
          type="textarea"
          :autosize="{ minRows: 2, maxRows: 8 }"
          v-model="form.file_desc"
          maxlength="400"
        ></el-input>
        <div class="el-upload__tip">{{ form.file_desc.length }}/400</div>
      </el-form-item>
      <el-form-item label="所需积分:">
        <div class="score">
          <span>{{ form.file_score }}</span>
          <el-slider :disabled="pageType === 'edit' && !isChange " class="silder" :max="15" v-model="form.file_score"></el-slider>
        </div>
      </el-form-item>
      <el-form-item label="文件上传:" v-if="pageType === 'upload'">
        <!-- <input
          id="img_input"
          class="file-input"
          type="file"
          name="file"
          @change="changeImg"
      /> -->
        <el-upload
          class="upload-demo"
          action="http://localhost:33333/api/file/upload_file"
          :limit="1"
          :auto-upload="false"
          ref="upload"
          :http-request="uploadChange"
        >
          <el-button size="small" type="primary">选择文件</el-button>
          <div slot="tip" class="el-upload__tip">
            文件不超过500kb,重新选择文件时请先删除已选择的文件
          </div>
        </el-upload>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="save_file">{{
          pageType === "edit" ? (!isChange)? "修改" : '确认修改' : "上传"
        }}</el-button>
        <el-button  type="primary" @click="cancel_edit"  v-show="isChange && pageType === 'edit'">取消修改</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { upload_file, query_file_edit,update_file_info } from "@/network/upload";
export default {
  name: "uploadfile",
  data() {
    return {
      form: {
        file_score: 0,
        file_desc: "",
        file_title: "",
      },
      pageType: "upload",
      isChange:false,
    };
  },
  computed: {
    userObj() {
      return this.$store.state.userInfo;
    },
  },
  methods: {
    uploadChange(param) {
      let fd = new FormData();
      fd.append("modal_file", param.file); //传文件
      fd.append("user_id", this.userObj.id); //传projectId
      fd.append("file_title", this.form.file_title); //
      fd.append("file_desc", this.form.file_desc); //
      fd.append("file_score", this.form.file_score); //

      upload_file(fd)
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.$message({
              showClose: true,
              type: "success",
              message: res.msg,
            });
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    cancel_edit(){
      this.isChange=false;
      this.get_edit_file_info();

    },
    save_file() {
      console.log(this.isChange)
      if(!this.isChange && this.pageType === "edit"){
        this.isChange=true;
        return;
      }
      if (this.form.file_title.length <= 0) {
        this.$message({
          showClose: true,
          type: "warning",
          message: "请填写文件名称",
        });
        return;
      } else if (this.form.file_desc.length <= 0) {
        this.$message({
          showClose: true,
          type: "warning",
          message: "请填写文件描述",
        });
        return;
      }

      if (this.pageType === "upload") {
         if (this.$refs.upload.uploadFiles.length <= 0) {
          this.$message({
            showClose: true,
            type: "warning",
            message: "请填选择文件",
          });
          return;
        }
        this.$refs.upload.submit();
      } else if (this.pageType === "edit") {
        let dataObj={
          user_id: this.userObj.id,
          file_title: this.form.file_title,
          file_desc: this.form.file_desc,
          file_score: this.form.file_score,
          file_id:this.$route.params.file_id
        }
       
        update_file_info(dataObj).then(result=>{
          console.log(result)
          let res = result.data;
          if(res.errCode===0){
             this.$message({
            showClose: true,
            type: "success",
            message: "更新成功",
          });
          this.isChange=false
          this.get_edit_file_info();
          }else{
             this.$message({
            showClose: true,
            type: "error",
            message: res.err,
          });
          }
        }).catch(err=>{
           this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        })
        
      }
    },
    get_edit_file_info() {
      console.log(this.$route)
      query_file_edit({
        user_id:this.$route.params.userid,
        file_id:this.$route.params.file_id
        })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.form = res.data;
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.err,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
  },
  created() {
    // console.log(this.$route.name)
    //  if(this.$route.name==='edit'){
    //    this.isChange = true
    //  }
  },
  mounted(){
    if (this.$route.name === "edit") {
      this.pageType = this.$route.name;
      this.get_edit_file_info();
    }
  }
};
</script>

<style lang='scss' scoped>
.ucontianer {
  width: 900px;
  height: 100%;
  margin: 0px auto;
  padding: 30px 40px;
  color: black;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.651);
  .title {
    font-size: 25px;
    font-weight: bolder;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .tip {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid rgb(253, 253, 253);
    margin-bottom: 20px;
  }
  .form {
    width: 450px;
    font-size: 16px !important;
    font-weight: bold;
    color: black;
    .score {
      display: flex;
      span {
        width: 30px;
      }
      .silder {
        width: calc(100% - 30px);
      }
    }
    .file-input {
      // background-color: rgb(64, 158, 255);
    }
  }
}
</style>