<!--
 * @Author: yenible
 * @Date: 2021-03-22 15:35:44
 * @LastEditors: yenible
 * @LastEditTime: 2021-03-25 23:24:29
 * @Description: xxx
-->
<template>
  <div class="container">
    <div class="title">
      <div class="text">
        <span>{{ userObj.name }}</span
        >的下载中心
      </div>
    </div>
    <div class="table">
      <div class="tip">*资源到期后将无法下载</div>
      <el-table :data="tableData" style="width: 100%">
        <el-table-column prop="file_title" label="资源文章" min-width="100">
          <template slot-scope="scope">
            <div class="file-title" @click="toFileDetail(scope.row)">
              {{ scope.row.file_title }}
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="资源作者" width="80">
          <template slot-scope="scope">
            <div class="file-auth" @click="toAuthIndox(scope.row)">
              {{ scope.row.name }}
            </div></template
          >
        </el-table-column>
        <el-table-column prop="file_name" label="资源名称" min-width="120">
        </el-table-column>
        <el-table-column prop="upload_time" width="150" label="资源上传时间">
          <template slot-scope="scope">
            {{ formatDate(scope.row.upload_time) }}
          </template>
        </el-table-column>
        <el-table-column prop="create_time" width="150" label="购买时间">
          <template slot-scope="scope">
            {{ formatDate(scope.row.create_time) }}
          </template>
        </el-table-column>
        <el-table-column prop="end_time" width="150" label="到期时间">
          <template slot-scope="scope">
            {{ formatDate(scope.row.end_time) }}
          </template>
        </el-table-column>
        <el-table-column label="下载">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="primary"
              :disabled="scope.row.isEffective === 'invalid'"
              @click="downloadFile(scope.row)"
              >下载</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        background
        layout="prev, pager, next"
        :total="total"
        :page-size="pagesize"
        @current-change="changePage"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { get_download_list, download } from "@/network/file.js";
import { format } from "@/tool/format ";
import { windowDownload } from "@/tool/download";

export default {
  name: "download",
  data() {
    return {
      tableData: [],
      pagesize: 5,
      pageno: 0,
      total: 0,
    };
  },
  computed: {
    islogin() {
      return this.$store.state.isLogin;
    },
    userObj() {
      return this.$store.state.userInfo;
    },
    formatDate() {
      return function (date) {
        return format(new Date(date));
      };
    },
    isDownload() {
      return function (date) {
        // 判断当前时间是否处于有效期
      };
    },
  },
  methods: {
    changePage(value){
      console.log(value)
      this.pageno = value - 1
      console.log(this.pageno)
    this.getDownloadList();

    },
    // download(filename, link) {
    //   let DownloadLink = document.createElement("a");
    //   DownloadLink.style = "display: none"; // 创建一个隐藏的a标签
    //   DownloadLink.download = filename;
    //   DownloadLink.href = link;
    //   document.body.appendChild(DownloadLink);
    //   DownloadLink.click(); // 触发a标签的click事件
    //   document.body.removeChild(DownloadLink);
    // },
    downloadFile(value) {
      // console.log(value);
      download(value.file_id).then((result) => {
        let fileUrl = window.URL.createObjectURL(result.data);
        windowDownload(value.file_name, fileUrl); // 方法二使用到的a标签download方式。
        window.URL.revokeObjectURL(fileUrl);
      });
    },
    toAuthIndox(value) {
      this.$router.push(`/${value.name}/homepage`);
    },
    toFileDetail(value) {
      // console.log(value)
      this.$router.push(`/${value.user_id}/file/detail/${value.file_id}`);
    },
    getDownloadList() {
      get_download_list({
        user_id: this.$route.params.userid,
        pagesize: this.pagesize,
        pageno: this.pageno,
      })
        .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode === 0) {
            this.tableData = res.data;
            this.total = res.total;
            console.log(this.total);
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
  },
  mounted() {
    this.getDownloadList();
    console.log(this.$route);
  },
};
</script>

<style lang='scss' scoped>
.container {
  width: 900px;
  // height: 100%;
  margin: 0px auto;
  box-shadow: 0 2px 12px 0 rgba(223, 158, 158, 0.1);
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 1);
  .title {
    height: 140px;
    width: 100%;
    position: relative;
    border-bottom: rgb(202, 198, 198) 2px solid;
    margin-bottom: 20px;
    .text {
      width: 850px;
      // height: 200px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      background-image: -webkit-linear-gradient(
        left,
        blue,
        #66ffff 10%,
        #cc00ff 20%,
        #cc00cc 30%,
        #ccccff 40%,
        #00ffff 50%,
        #ccccff 60%,
        #cc00cc 70%,
        #cc00ff 80%,
        #66ffff 90%,
        blue 100%
      );
      -webkit-text-fill-color: transparent; /* 将字体设置成透明色 */
      -webkit-background-clip: text; /* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
      -webkit-background-size: 200% 100%;
      -webkit-animation: masked-animation 5s linear infinite;
      font-size: 35px;
    }
    @keyframes masked-animation {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -100% 0;
      }
    }
  }
  .tip {
    font-size: 12px;
    line-height: 25px;
    color: red;
  }
  .file-title,
  .file-auth {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover {
      color: rgb(64, 158, 255);
    }
  }
}
</style>