<!--
 * @Author: yenible
 * @Date: 2020-12-24 09:32:42
 * @LastEditors: yenible
 * @LastEditTime: 2021-03-11 14:59:13
 * @Description: xxx
-->
<template>
  <el-form
    :model="loginForm"
    :rules="loginRules"
    label-width="100px"
    class="demo-ruleForm"
  >
    <el-form-item label="用户名" prop="name">
      <el-input v-model="loginForm.name" type="name"></el-input>
    </el-form-item>

    <el-form-item label="密码" prop="password">
      <el-input
        type="password"
        v-model="loginForm.password"
        autocomplete="off"
      ></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm(loginForm)">提交</el-button>
      <el-button @click="resetForm('loginForm')">重置</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { login } from "@/network/user.js";
import qs from "qs";

export default {
  name: "login",
  data() {
    return {
      loginForm: {
        name: "",
        password: "",
      },
      loginRules: {
        name: [
          {
            required: true,
            message: "请输入用户名称,3 到 20 个字符",
            trigger: "blur",
          },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur",
          },
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          {
            min: 3,
            max: 18,
            message: "长度在 3 到 18 个字符",
            trigger: "blur",
          },
        ],
      },
    };
  },
  methods: {
    submitForm(loginForm) {
      login(qs.stringify(loginForm))
        .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode == 0) {
            // 登陆成功
            this.$message({
              message: "登陆成功",
              type: "success",
              onClose: () => {
                // console.log("转跳");
              },
            });
            // 存储token值
            localStorage.setItem("token", res.data.token);
            localStorage.setItem("userid", res.data.id);
            this.$store.commit("update_islogin", true);

            this.$router.push({
              path: `/${res.data.id}/profile`,
            });
          } else {
            // 登录失败
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
          console.log(res);
        })
        .catch((err) => {
          // 请求失败
          console.log(err);
          // alert(err);
        });
    },
    resetForm() {
      this.loginForm = {
        email: "",
        password: "",
      };
    },
    handleClick(tab, event) {
      console.log(tab, event);
    },
  },
};
</script>

<style>
</style>