<!--
 * @Author: yenible
 * @Date: 2020-12-24 09:32:42
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-04 21:34:11
 * @Description: xxx
-->
<template>
  <el-form
    :model="registerForm"
    :rules="registerRules"
    ref="registerForm"
    label-width="100px"
    class="demo-ruleForm"
  >
    <el-form-item label="用户名" prop="name">
      <el-input v-model="registerForm.name" type="name"></el-input>
    </el-form-item>
    <el-form-item label="账号邮箱" prop="email">
      <el-input v-model="registerForm.email" type="email"></el-input>
    </el-form-item>
    <el-form-item label="密码" prop="password">
      <el-input
        type="password"
        v-model="registerForm.password"
        autocomplete="off"
      ></el-input>
    </el-form-item>
    <el-form-item  label="性别">
      <el-radio v-model="registerForm.sex" label="2">男</el-radio>
      <el-radio v-model="registerForm.sex" label="1">女</el-radio>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm(registerForm)"
        >提交</el-button
      >
      <el-button @click="resetForm('registerForm')">重置</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { register } from "@/network/user.js";
import {checkSpecificKey} from "@/tool/checkSpecialKey"

import qs from "qs";

export default {
  name: "register",
  data() {
    var validateInput = (rule, value, callback) => {
      if (!checkSpecificKey(value)) {
        callback(new Error("Special symbols are not supported"));
      } else {
        callback();
      }
    };
    return {
      registerForm: {
        email: "",
        password: "",
        name: "",
        sex: "2",
      },
      registerRules: {
        name: [
          { required: true, message: "请输入用户名称,3 到 20 个字符", trigger: "blur" },
          {
            min: 3,
            max: 20,
            message: "长度在 3 到 20 个字符",
            trigger: "blur",
          },
          { validator: validateInput, trigger: ["blur", "change"] }
        ],
        email: [
          { required: true, message: "请输入邮箱地址", trigger: "blur" },
          {
            type: "email",
            message: "请输入正确的邮箱地址",
            trigger: ["blur", "change"],
          },
        ],
        password: [
          { required: true, message: "请输入密码,3 到 20 个字符", trigger: "blur" },
          {
            min: 3,
            max: 18,
            message: "长度在 3 到 20 个字符",
            trigger: "blur",
          },
        ],
      },
      tipTxt: {
        email: "邮箱格式错误或未填写",
        password: "密码格式错误或未填写",
        name: "用户名格式错误或未填写",
      },
    };
  },
  methods: {
    checkForm() {
      let isCheck = {
        email: false,
        password: false,
        name: false,
        sex: false,
      };
      let reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;

      if (!reg.test(this.registerForm.email)) {
        isCheck.email = true;
        return "email";
      }
      if (
        this.registerForm.password.length < 3 ||
        this.registerForm.password.length > 20
      ) {
        isCheck.password = true;
        return "password";
      }
      if (
        this.registerForm.name.length < 3 ||
        this.registerForm.name.length > 20
      ) {
        isCheck.name = true;
        return "name";
      }
      return false;
    },
    submitForm(registerForm) {
      // 检查数据
      let check = this.checkForm();
      if (check) {
        this.$message({
          message: this.tipTxt[check],
          type: "error",
          onClose: () => {
            // console.log("转跳");
          },
        });
        return;
      }
      let that = this;
      register(qs.stringify(registerForm))
        .then((result) => {
          let res = result.data;
          if (res.errCode == 0) {
            // 注册成功
            this.$message({
              message: "账号注册成功",
              type: "success",
              onClose: () => {
                // console.log("转跳");
                this.$emit('changeActive', 'login');
              },
            });
          } else {
            this.$message({
              message: "错误信息：" + res.msg + ";   错误对象：" + res.errObj,
              type: "error",
              onClose: () => {
                this.resetForm();
              },
            });
          }
        })
        .catch((err) => {
          console.log(err);
          //   this.$message({
          //       message: "错误信息："+err.msg+";   错误对象："+err.errObj,
          //       type: "error",
          //       onClose:()=>{
          //           this.resetForm();
          //       }
        });
    },
    resetForm() {
      this.registerForm = {
        email: "",
        password: "",
        name: "",
        sex: "2",
      };
    },
    handleClick(tab, event) {
      console.log(tab, event);
    },
  },
};
</script>

<style>
</style>