<!--
 * @Author: yenible
 * @Date: 2021-01-05 15:50:20
 * @LastEditors: yenible
 * @LastEditTime: 2021-02-28 15:43:44
 * @Description: xxx
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>iblogs</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but iblogs doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
