<!--
 * @Author: yenible
 * @Date: 2021-04-10 23:04:07
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-14 14:10:57
 * @Description: xxx
-->
<style lang="scss">
.chat-footer {
  .chat-edit textarea,
  .chat-edit {
    width: 100% !important;
    height: 100% !important;
    // margin-bottom: 130px;
    // overflow: y;
    // overflow-y: auto;
    // padding-bottom: 30px;
  }
}
</style>
<template>
  <div class="contain">
    <!-- <el-row>
  <el-col :span="24"><div class="chat-recipient">{{recipient}}</div></el-col>
</el-row> -->
    <el-container>
      <el-header
        ><div class="header">
          <div class="chat-recipient">{{ recipientInfo.name }}</div>
          <el-button
            @click="deleteChat"
            size="mini"
            class="delete-btn"
            type="danger"
            >清空当前聊天</el-button
          >
        </div>
      </el-header>
      <el-main class="chat-main" id="chat-main">
        <div
          :class="
            item.send_userid == userObj.id
              ? 'message-item--right'
              : 'message-item--left'
          "
          v-for="(item, index) in messageArr"
          :key="index"
        >
          <div class="item-avatar">
            <el-avatar
              size="medium"
              :src="
                item.send_userid == userObj.id
                  ? userObj.avatar
                  : recipientInfo.avatar
              "
              v-if="userObj"
            ></el-avatar>
            <el-avatar
              size="medium"
              icon="el-icon-user-solid"
              v-else
            ></el-avatar>
          </div>
          <div class="item-name">
            {{
              item.send_userid == userObj.id ? userObj.name : recipientInfo.name
            }}
          </div>
          <div class="item-content">
            <div class="item-text">{{ item.send_content }}</div>
            <div class="item-time">{{ formatDate(item.send_time) }}</div>
          </div>
        </div>
      </el-main>
      <el-footer height="145px" class="chat-footer">
        <el-row class="edit-row">
          <el-input
            type="textarea"
            class="chat-edit"
            placeholder="请输入内容"
            v-model="textarea"
            maxlength="300"
          ></el-input>
        </el-row>
        <el-row class="send-row">
          <el-col :span="24">
            <div class="text-tip">{{ textarea.length }}/300</div>
            <el-button @click="send" class="send-btn" size="mini" type="primary"
              >发送</el-button
            >
          </el-col>
        </el-row>
      </el-footer>
    </el-container>
  </div>
</template>

<script>
import { format } from "@/tool/format ";

import { get_chat_message, clear_chat } from "@/network/chat";
export default {
  name: "chatroom",
  computed: {
    userObj() {
      return this.$store.state.userInfo;
    },
    formatDate() {
      return function (date) {
        return format(new Date(date));
      };
    },
  },
  props: {
    recipientInfo: Object,
    // roomId:String
  },
  data() {
    return {
      // recipient: this.$route.params.toUserName,
      textarea: "",
      messageArr: [],
    };
  },
  watch: {
    recipientInfo() {
      this.getChatMessage();
    },
  },
  methods: {
    deleteChat() {
      clear_chat({
        user_id: this.$route.params.userid,
        user_id_2: this.recipientInfo.id,
      })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.$message({
              showClose: true,
              type: "success",
              message: res.msg,
            });
      this.getChatMessage();

          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },

    async getChatMessage() {
      // console.log(this.$route.params.userid)
      if (!(this.recipientInfo && this.recipientInfo.id)) {
        return;
      }
      await get_chat_message({
        user_id: this.$route.params.userid,
        user_id_2: this.recipientInfo.id,
      })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.messageArr = res.data;
            // this.$message({
            //   showClose: true,
            //   type: "success",
            //   message: res.msg,
            // });
            // console.log(res.msg);
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
      // 让滚动条拉到最低
      var chatItem = document.getElementById("chat-main");
      chatItem.scrollTop = chatItem.scrollHeight;
    },
    send() {
      let that = this;
      // console.log(this.$socket);
      // 发生socket连接函数
      this.$socket.emit("send_message", {
        message: this.textarea,
        send_user: this.userObj.id,
        receive_user: this.recipientInfo.id,
      });
    },
    socket() {
      // 获取聊天数据
      this.getChatMessage();
      this.sockets.subscribe("refresh", (data) => {
        // console.log(data)
        if (
          data.send_user * 1 === this.userObj.id * 1 ||
          data.receive_user * 1 === this.userObj.id * 1
        ) {
          console.log(6666666666);

          this.getChatMessage();
          this.$emit("refreshMenuItem", data);
          this.textarea = "";
        }
      });
      this.sockets.subscribe("error", (data) => {
        console.log(data);
        this.$message({
          message: data.msg,
          type: "error",
        });
      });
       this.sockets.subscribe("refreshChatList", (data) => {
         this.$emit('refreshChatList')
      });
       
    },
  },
  mounted() {
    // // 获取聊天数据
    // this.getChatMessage();
    // this.sockets.subscribe("refresh", (data) => {
    //   if(data.send_user*1===this.userObj.id*1||data.receive_user*1===this.userObj.id*1){
    //   this.getChatMessage();
    //   this.textarea = "";
    //   }

    // });
    // this.sockets.subscribe("error", (data) => {
    //   console.log(data);
    //   this.$message({
    //     message: data.msg,
    //     type: "error",
    //   });
    // });
    this.socket();
  },
};
</script>

<style lang='scss' scoped>
.contain {
  width: 100%;
  height: 100%;
  min-height: 300px;
  // overflow: hidden;
  .header {
    display: flex;
    position: relative;
        border-bottom: 1px solid rgb(206, 198, 198);

  }
  .chat-recipient {
    font-size: 20px;
    padding-left: 15px;
    line-height: 35px;
     &:hover {
      color: rgb(45, 154, 255);
      cursor: pointer;
    }
  }
  .delete-btn {
    // float: right;
    position: absolute;
    right: 20px;
  }
  .chat-main {
    padding: 20px;
    // border-bottom: 1px solid rgb(206, 198, 198);
  }
  .chat-footer {
    position: relative;
    .edit-row {
      height: 100px;
      // height: calc(100%-30px);
      overflow-y: auto;
      margin-bottom: 5px;

      .chat-edit textarea,
      .chat-edit {
        width: 100%;
        height: 100% !important;
        // margin-bottom: 130px;
        // overflow: y;
        // overflow-y: auto;
        // padding-bottom: 30px;
      }
    }

    .send-row {
      position: relative;
      transform: translateY(100%);
      bottom: 0;
      .text-tip {
        position: absolute;
        top: 8px;
        font-size: 12px;
        color: rgb(180, 180, 192);
        right: 95px;
      }
      .send-btn {
        position: absolute;
        // top: -5px;
        right: 25px;
      }
    }
  }
  .message-item--left {
    margin: 0 0 20px 20px;
    display: flex;
    // background-color: blue;
    .item-avatar {
      margin-right: 5px;
    }
    .item-name {
      font-size: 12px;
      line-height: 30px;
      width: 40px;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .item-content {
      width: 300px;
      margin-left: 0px;

      .item-text {
        border: 3px double rgb(231, 228, 228);
        background-color: rgb(231, 228, 228);
        padding: 10px;
        word-wrap: break-word;
        word-break: normal;
      }
      .item-time {
        font-size: 12px;
      }
    }
  }
  .message-item--right {
    margin: 0 0 20px 280px;
    display: flex;
    position: relative;
    // background-color: blue;
    .item-avatar {
      position: absolute;
      right: 10px;
      // margin-right: 5px;
    }
    .item-name {
      position: absolute;
      right: 60px;
      width: 40px;
      font-size: 12px;
      line-height: 30px;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .item-content {
      width: 300px;

      margin-left: -55px;

      .item-text {
        border: 3px double rgb(231, 228, 228);
        background-color: rgb(231, 228, 228);
        padding: 10px;
        word-wrap: break-word;
        word-break: normal;
      }
      .item-time {
        font-size: 12px;
        text-align: right;
      }
    }
  }
}
</style>