<!--
 * @Author: yenible
 * @Date: 2021-03-12 11:30:33
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-17 23:52:34
 * @Description: xxx
-->
<style lang="scss">
.comment-list {
  ul > li {
    margin-left: 30px;
    padding-bottom: 10px;
    list-style-type: none;
  }
}
</style>
<template>
  <div class="comment-container">
    <!-- 给文章评论的输入框 -->
    <div class="input-box" v-if="!isAdmin">
      <!-- 当前用户的头像 -->
      <div class="box-avatar">
        <el-avatar
          size="medium"
          :src="userObj.avatar"
          v-if="isLogin && userObj"
        ></el-avatar>
        <el-avatar size="medium" icon="el-icon-user-solid" v-else></el-avatar>
      </div>

      <div class="box-btn">
        <el-button type="danger" round @click="send"> 发送 </el-button>
        <div class="tip">{{ commentText.length }}/300</div>
      </div>

      <div class="box-input">
        <el-input
          type="textarea"
          autosize
          placeholder="请输入内容"
          v-model="commentText"
          :maxlength="300"
          @focus="inputFoucs"
        >
        </el-input>
      </div>
    </div>
    <div class="comment-list">
      <ul>
        <li v-for="(item) in commentList" :key="item.comment_id">
          <commentitem
            :type="type"
            :auth_info="auth_info"
            :commentInfo="item"
            :parentDepth="nowDepth"
            :parentThread="nowThread"
            :parent_id="-1"
            :isAdmin="isAdmin"
          ></commentitem>
        </li>
      </ul>
      <!-- <commentitem
        v-for="(item, index) in commentList"
        :key="index"
        :commentInfo="item"
      ></commentitem> -->
    </div>
  </div>
</template>

<script>
import commentitem from "./commentitem";
export default {
  name: "commentlist",
  components: {
    commentitem,
  },
  computed: {
    userObj() {
      return this.$store.state.userInfo;
    },
    isLogin() {
      return this.$store.state.isLogin;
    },
  },
  props: {
    commentInfo: Array,
    type: {
      type: String,
      default: "article",
    },
    auth_info: Object,
    isAdmin: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      commentText: "",
      nowDepth: 0,
      nowThread: "",
      commentList: this.commentInfo,
    };
  },
  watch: {
    commentInfo() {
      this.commentList = this.commentInfo;
    },
  },
  methods: {
    inputFoucs() {
      this.$store.commit("update_articleCommentId", -1);
    },
    send() {
      this.$emit("sendComment", this.commentText);
      this.commentText = "";
    },
  },
};
</script>

<style lang='scss' scoped>
.comment-container {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 2px solid rgb(163, 161, 158);
  .input-box {
    // display: flex ;
    margin-bottom: 40px;
    .box-avatar {
      float: left;
      width: 55px;
    }
    .box-btn {
      float: right;
      width: 80px;
      margin-top: -5px;
      .tip {
        text-align: center;
        margin-top: 5px;
        color: black;
        font-size: 14px;
      }
    }
    .box-input {
      margin-left: 55px;
      margin-right: 110px;
    }
  }
  .comment-list {
    padding: 0;
    margin: 0;
    ul {
      list-style: disc outside none;
    }
  }
}
</style> 
