<!--
 * @Author: yenible
 * @Date: 2021-03-12 16:07:47
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-18 10:15:03
 * @Description: xxx
-->
<style lang="scss">
</style>
<template>
  <div class="comment-item">
    <div class="item-info">
      <div class="item-avatar">
        <el-avatar
          :size="20"
          :src="commentInfo.avatar"
          v-if="commentInfo"
        ></el-avatar>
        <el-avatar size="medium" icon="el-icon-user-solid" v-else></el-avatar>
        <div class="user-name">{{ commentInfo.name }}</div>
        <div class="user-reply" v-if="commentInfo.parent_name">
          <span> 回复 </span>@{{ commentInfo.parent_name }}：
        </div>
      </div>
      <div class="comment_date">
        {{ dateTime(commentInfo.create_time) }}
      </div>
      <div class="comment_content">
        {{ commentInfo.comment_content }}
        <span
          @click="showComment"
          class="tip-btn"
          v-show="nowDepth <= 6 && !iscomment"
          v-if="!isAdmin"
          >回复</span
        >
        <span
          class="btn-del"
          @click="deleteComment"
          v-if="
          isAdmin ||
            (isLogin &&
            ((auth_info.authid && auth_info.authid === userObj.id) ||
              commentInfo.user_id === userObj.id))
          "
          >删除</span
        >
      </div>
    </div>
    <div class="input-box" v-show="iscomment">
      <!-- 当前用户的头像 -->

      <div class="box-btn">
        <el-button type="danger" round @click="sendComment"> 发送 </el-button>
        <div class="tip">{{ commentText.length }}/300</div>
      </div>

      <div class="box-input">
        <el-input
          type="textarea"
          autosize
          autofocus
          placeholder="请输入回复内容"
          v-model="commentText"
          :maxlength="300"
          ref="einput"
        >
        </el-input>
      </div>
    </div>
    <div
      class="children"
      v-if="
        commentInfo && commentInfo.childList && commentInfo.childList.length > 0
      "
    >
      <ul>
        <li v-for="(item, index) in commentInfo.childList" :key="index">
          <commentitem
            :commentInfo="item"
            :parentDepth="nowDepth"
            :parentThread="nowThread"
            :parent_id="commentInfo.comment_id"
            :type="type"
            :auth_info="auth_info"
            :isAdmin="isAdmin"
          ></commentitem>
        </li>
      </ul>
      <!-- <div class="showAll">

      </div> -->
    </div>
  </div>
</template>

<script>
import { format } from "@/tool/format ";
import {
  save_article_comment,
  save_file_comment,
  delete_comment,
} from "@/network/comment";

export default {
  name: "commentitem",
  components: {
    // commentitem
  },
  props: {
    commentInfo: Object,
    parentDepth: Number,
    parentThread: String,
    parent_id: Number,
    type: {
      type: String,
      default: "article",
    },
    auth_info: Object,
    isAdmin: Boolean,
  },
  computed: {
    userObj() {
      return this.$store.state.userInfo;
    },
    isLogin() {
      return this.$store.state.isLogin;
    },
    dateTime() {
      return function (date) {
        return format(new Date(date));
      };
    },
  },
  watch: {
    "$store.state.articleCommentId": function () {
      //你需要执行的代码
      this.nowCommentId = this.$store.state.articleCommentId;
      if (this.nowCommentId !== this.commentInfo.comment_id) {
        this.iscomment = false;
      }
    },
  },
  data() {
    return {
      commentText: "",
      iscomment: false,
      nowDepth: this.parentDepth + 1,
      nowCommentId: this.$store.state.articleCommentId,
      nowThread:
        this.parentThread.length == 0
          ? "/" + this.commentInfo.comment_id + "/"
          : this.parentThread + this.commentInfo.comment_id + "/",
    };
  },
  methods: {
    deleteComment() {
      this.$confirm("确认删除该评论，及其全部子评论？")
        .then((_) => {
          let admin = this.isAdmin?'admin':''
          delete_comment({ comment_id: this.commentInfo.comment_id,type:this.type },admin)
            .then((result) => {
              let res = result.data;
              if (res.errCode === 0) {
                this.$message({
                  showClose: true,
                  type: "success",
                  message: "删除评论成功",
                });
                if(this.type==='file'){
                this.$store.commit("update_refrshComment", 'file');

                }else{
                                  this.$store.commit("update_refrshComment", 'article');
                this.$store.commit("update_articleCommentId", -1);
                }

              } else {
                this.$message({
                  showClose: true,
                  type: "error",
                  message: res.msg,
                });
              }
            })
            .catch((err) => {
              this.$message({
                showClose: true,
                type: "error",
                message: err,
              });
            });
        })
        .catch((_) => {
          this.$message({
            showClose: true,
            type: "warning",
            message: "取消删除",
          });
        });
    },
    sendComment() {
      if (this.commentText.trim().length <= 0) {
        this.$message({
          showClose: true,
          type: "warning",
          message: "请输入盘评论内容",
        });
        return;
      }
      // console.log(this.nowThread)
      // console.log( this.commentInfo.comment_id)
      // console.log(this.parentThread )
      // console.log(this.parentThread + this.commentInfo.comment_id + "/")
      let depth = this.nowDepth || 0;
      // let thread = this.nowThread || "/";
      let thread =  (this.parentThread.length == 0
          ? "/" + this.commentInfo.comment_id + "/"
          : this.parentThread + this.commentInfo.comment_id + "/") || "/";
      let parent_id = this.commentInfo.comment_id || -1;
      let id = this.$route.params.article_id || this.$route.params.file_id;
      let comment = this.commentText;
      if (this.type === "article") {
        this.saveArticleComment({
          comment: comment,
          depth: depth,
          thread: thread,
          parent_id: parent_id,
          article_id: id,
          user_id: this.userObj.id,
        });
      } else if (this.type === "file") {
        // 保存文件的评论
        console.log(this.type);
        this.saveFileComment({
          comment: comment,
          depth: depth,
          thread: thread,
          parent_id: parent_id,
          file_id: id,
          user_id: this.userObj.id,
        });
      }
    },
    saveFileComment(data) {
      save_file_comment(data)
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.$message({
              showClose: true,
              type: "success",
              message: "评论成功",
            });
            this.$store.commit("update_refrshComment", true);
            this.$store.commit("update_articleCommentId", -1);
            this.commentText = "";
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: result.data.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    saveArticleComment(data) {
      save_article_comment(data)
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.$message({
              showClose: true,
              type: "success",
              message: "评论成功",
            });
            this.$store.commit("update_refrshComment", true);
            this.$store.commit("update_articleCommentId", -1);
            this.commentText = "";
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: result.data.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    showComment() {
      console.log(this.commentInfo)
      this.iscomment = true;
      // this.$refs.einput.focus()
      // console.log(this.$refs.einput)
      this.$store.commit(
        "update_articleCommentId",
        this.commentInfo.comment_id
      );
    },
  },
};
</script>

<style lang='scss' scoped>
.comment-item {
  // display: flex;
  width: 100%;
  display: inline;
  margin: 8px 0;

  .item-info {
    width: 100%;
    height: 40px;
    // display: flex;
    display: inline-block;
    color: black;
    // align-items: center; /*实现垂直居中*/
    // display: block;

    .item-avatar {
      float: left;
      // width: 100px;
      display: flex;
      align-items: center; /*实现垂直居中*/
      margin-right: 5px;
      .user-name {
        margin-left: 10px;
      }
      .user-reply {
        span {
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
    .comment_date {
      float: right;
      width: 150px;
      // line-height: 40px;
    }
    .comment_content {
      margin-left: 100px;
      margin-right: 160px;
      // line-height: 40px;
      word-wrap: break-word;
      span {
        color: rgb(47, 59, 235);
        margin-left: 5px;
        cursor: pointer;
      }
      .btn-del {
        color: rgb(197, 46, 46);
      }
    }
    // &::after{
    //   clear: both;
    //   content: '';
    // }
  }
  .children {
    display: inline;
    width: calc(100% - 30px);
    ul {
      list-style: disc outside none;
      li {
        border-left: 3px solid rgb(155, 151, 151);
        padding: 0 0 5px 5px;
      }
    }
  }
  .input-box {
    // display: flex ;
    margin-top: 5px;
    margin-bottom: 10px;
    .box-avatar {
      float: left;
      width: 55px;
    }
    .box-btn {
      float: right;
      width: 80px;
      margin-top: -5px;
      .tip {
        text-align: center;
        margin-top: 5px;
        color: black;
        font-size: 14px;
      }
    }
    .box-input {
      margin-left: 55px;
      margin-right: 110px;
    }
  }
}
</style>