<!--
 * @Author: yenible
 * @Date: 2021-04-16 20:48:19
 * @LastEditors: yenible
 * @LastEditTime: 2021-05-04 10:55:09
 * @Description: xxx
-->
<template>
  <div class="container">
    <el-row>
      <el-col :span="24" class="title-row">
        <h3 class="title">创建新账号</h3>
      </el-col>
    </el-row>
    <el-row class="form">
      <form>
        <el-col :span="7" class="input"
          ><div class="label">账号名：</div>
          <el-input
            v-model="newName"
            maxlength="20"
            placeholder="请输入账号名"
          ></el-input>
        </el-col>
        <el-col :span="7" class="input"
          ><div class="label">账号密码：</div>
          <el-input
            placeholder="请输入密码"
            type="number"
            v-model="newPassword"
            show-password
          ></el-input>
        </el-col>
        <el-col :span="7" class="input"
          ><div class="label">账号等级：</div>
          <el-input
            placeholder="请输入账号等级"
            type="number"
            v-model="newLevel"
            min="1"
            max="3"
          ></el-input>
        </el-col>
        <el-col :span="3">
          <el-button type="primary" @click="createAdmin">创建</el-button>
        </el-col>
      </form>
    </el-row>
    <el-row>
      <el-col :span="24" class="title-row">
        <h3 class="title">管理员账号</h3>
      </el-col>
    </el-row>
    <el-row class="table">
      <el-table :data="adminList" style="width: 100%">
        <!-- <el-table-column prop="admin_id" label="id"> </el-table-column> -->
        <el-table-column prop="admin_name" label="账号名"> </el-table-column>
        <el-table-column prop="level" label="账号级别"> </el-table-column>
        <el-table-column width="80" prop="score" label="操作">
          <template slot-scope="scope">
            <el-button
              @click="changePassword(scope.row)"
              type="text"
              size="small"
              >修改密码</el-button
            >
          </template>
        </el-table-column>
        <el-table-column width="80" prop="score" label="操作">
          <template slot-scope="scope">
            <el-button
              @click="deleteAdmin(scope.row)"
              class="delete"
              type="text"
              size="small"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </el-row>
  </div>
</template>

<script>
import { get_admin_list, create_admin, delete_admin,update_admin_password } from "@/network/admin";

export default {
  name: "adminmanage",
  components: {},
  data() {
    return {
      adminList: [],
      newName: "",
      newPassword: "",
      newLevel: 3,
    };
  },
  methods: {
    // 删除管理员账号
    deleteAdmin(value) {
      delete_admin({ id: value.admin_id })
        .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode === 0) {
            // this.adminList = res.data
            this.$message({
              showClose: true,
              message: res.msg,
              type: "success",
            });

            this.getAdminList();
          } else {
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            message: err,
            type: "error",
            err: err,
          });
        });
    },
    // 创建管理员账号
    createAdmin() {
      if (this.adminList.length >= 5) {
        this.$message({
          showClose: true,
          message: "管理员账户已达到最大数量",
          type: "warning",
        });
        return;
      }
      create_admin({
        name: this.newName,
        password: this.newPassword,
        level: this.newLevel,
      })
        .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode === 0) {
            // this.adminList = res.data
            this.$message({
              showClose: true,
              message: res.msg,
              type: "success",
            });
            this.newName = "";
            this.newPassword = "";
            this.getAdminList();
          } else {
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            message: err,
            type: "error",
            err: err,
          });
        });
    },
    // 修改账号密码
    changePassword(row) {
      this.$prompt("请输入新密码", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        // inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
        // inputErrorMessage: "邮箱格式不正确",
      })
        .then(({ value }) => {
          //  update_admin_password
          console.log(value)
          update_admin_password({password:value,name:row.admin_name}).then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode === 0) {
             this.$message({
              message: res.msg,
              type: "success",
            });
            this.getAdminList()
          } else {
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            message: err,
            type: "error",
            err: err,
          });
        });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "取消输入",
          });
        });
    },
    getAdminList() {
      get_admin_list()
        .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode === 0) {
            this.adminList = res.data;
          } else {
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            message: err,
            type: "error",
            err: err,
          });
        });
    },
  },
  created() {
    this.getAdminList();
  },
};
</script>

<style lang='scss' scoped>
.container {
  .form {
    margin-bottom: 20px;
  }
  .title-row {
    margin-bottom: 50px;
    .title {
      &:before {
        display: inline-block;
        height: 15px;
        content: " ";
        font-size: 15px;
        width: 4px;
        background-color: rgb(17, 148, 255);
        margin-right: 5px;
      }
    }
  }
  .table {
    margin-top: 50px;
  }
  .delete {
    color: red;
  }
  .input {
    padding-right: 30px;
    font-size: 15px;
    display: flex;
    .label {
      width: 140px;
      text-align: center;
      line-height: 40px;
    }
  }
}
</style>