<!--
 * @Author: yenible
 * @Date: 2021-03-02 18:28:29
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-15 15:37:22
 * @Description: xxx
-->
<template>
  <div class="container">
    <div class="left-aside">
      <ul>
        <li
          @click="changeType(item.type_id)"
          v-for="(item, index) in asideTypeArr"
          :key="index"
          :class="selectTypeIndex === item.type_id ? 'select-li' : ''"
        >
          {{ item.type_name }}
        </li>
        <li
          @click="changeType(-1)"
          :class="selectTypeIndex === -1 ? 'select-li' : ''"
        >
          资源
        </li>
      </ul>
    </div>
    <div class="center">
      <div class="search bar1">
        <div class="title">
          <h2><i class="el-icon-thumb"></i>iblogs</h2>
        </div>
        <div class="form">
          <input
            type="text"
            v-model="searchText"
            placeholder="请输入您要搜索的内容..."
          />
          <button @click="search"></button>
        </div>
      </div>
      <div class="content">
        <blogsshow @clearSearch="clearSearch" :searchText="searchText" ref="indexblog" :selectTypeIndex="selectTypeIndex"></blogsshow>
      </div>
    </div>
    <div class="right-aside"></div>
  </div>
</template>

<script>
import { get_article_type } from "@/network/article";
  
import blogsshow from "./childComponents/blogsshow/blogsshow";

export default {
  name: "index",
  components: {
    blogsshow
    
  },
  data() {
    return {
      asideTypeArr: [],
      searchText: "",
      selectTypeIndex: 3,
    };
  },
  methods: {
    clearSearch(){
      this.searchText = ''
    },
    search() {
      if (this.searchText.trim().length === 0) {
        this.$message({
          showClose: true,
          type: "warning",
          message: "请输入内容",
        });
        return;
      }
      this.$refs.indexblog.setSearchPageno()
      this.$refs.indexblog.search()

    },
    changeType(value) {
      // console.log(value);
      if (this.selectTypeIndex === value) {
        return;
      }
      this.selectTypeIndex = value;
    },
  },
  created() {
    get_article_type()
      .then((result) => {
        let res = result.data;
        if (res.errCode === 0) {
          this.asideTypeArr = res.type_list;
        } else {
          this.$message({
            showClose: true,
            type: "error",
            message: res.msg,
          });
        }
      })
      .catch((err) => {
        this.$message({
          showClose: true,
          type: "error",
          message: err,
        });
      });
  },
};
</script>

<style lang='scss' scoped>
.container {
  width: 900px;
  // height: 100%;
  margin: 0px auto;
  position: relative;
  box-shadow: 0 2px 12px 0 rgba(223, 158, 158, 0.1);
  padding: 15px 30px;
  // background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  .center {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    min-height: 100%;
  }
  .left-aside {
    position: fixed;
    padding: 5px;
    line-height: 35px;
    transform: translateX(-100%-10);
    background-color: rgba(255, 255, 255, 1);
    list-style: none;
    text-align: center;
    font-size: 12px;
    ul {
      li {
        border-bottom: 1px solid rgb(236, 234, 230);
        cursor: pointer;
        &:hover {
          background-color: rgb(211, 209, 211);
          color: black;
          font-weight: bold;
        }
      }
      .select-li {
        background-color: rgb(211, 209, 211);
        color: black;
        font-weight: bold;
      }
    }
  }
  .center {
    div.search {
      padding: 30px 0;
    }
    .title {
      text-align: center;
      margin-bottom: 10px;
      color: white;
    }
    .form {
      position: relative;
      width: 300px;
      margin: 0 auto;
    }

    input,
    button {
      border: none;
      outline: none;
    }

    input {
      width: 100%;
      height: 42px;
      padding-left: 13px;
    }

    button {
      height: 42px;
      width: 42px;
      cursor: pointer;
      position: absolute;
    }

    /*搜索框1*/
    .bar1 {
      background: rgb(24, 26, 42);
    }
    .bar1 input {
      border: 2px solid #373838;
      border-radius: 5px;
      background: #f9f0da;
      color: #9e9c9c;
    }
    .bar1 button {
      top: 0;
      right: 0;
      background: #ff3e3e;
      border-radius: 0 5px 5px 0;
    }
    .bar1 button:before {
      content: "\f002";
      font-family: FontAwesome;
      font-size: 16px;
      color: #f9f0da;
    }
    .content {
      padding: 15px;
    }
  }
}
</style>