<!--
 * @Author: yenible
 * @Date: 2021-04-09 20:14:55
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-20 20:36:24
 * @Description: xxx
-->
<style lang="scss">
.container {
  .el-menu-vertical-d {
    .el-badge__content.is-fixed {
      position: absolute;
      top: 88%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
</style>
<template>
  <div class="container">
    <el-container>
      <el-container>
        <el-aside width="250px">
          <el-menu
            :default-active="menuIndex"
            @select="selectItem"
            class="el-menu-vertical-d"
          >
            <el-badge
              :hidden="item.remark*1===0&&item.receive_userid===userObj.id?false:true"
              value="·"
              class="menu-badge"
              v-for="(item, index) in chatList"
              :key="index"
            >
              <el-menu-item
                class="menu-item"
                :index="index+''"
              >
                <div class="item-avatar">
                  <el-avatar
                    size="medium"
                    :src="item.receive_user_avatar || item.send_user_avatar"
                    v-if="userObj"
                  ></el-avatar>
                  <el-avatar
                    size="medium"
                    icon="el-icon-user-solid"
                    v-else
                  ></el-avatar>
                </div>
                <div class="item-center">
                  <div class="center-name">
                    <p>  {{ item.receive_user_name || item.send_user_name }}</p>
                    <!-- <p>  啊发发啊发发啊发发啊发发啊发发啊发发啊发发啊发发啊发发啊发发啊发发啊发发啊发发</p> -->

                  </div>
                  <div class="center-content">{{ item.send_content }}</div>
                </div>
                <div class="item-time">{{ formatDate(item.send_time) }}</div>
              </el-menu-item>
            </el-badge>
          </el-menu>
        </el-aside>
        <el-main class="main">
          <chatroom @refreshChatList="refreshChatList" @refreshMenuItem="refreshMenuItem" :recipientInfo="recipientInfo"></chatroom>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import chatroom from "./childComponents/chatroom";
import { get_recipient_info, get_chat_list,remark_room } from "@/network/chat";
import { format } from "@/tool/format ";

export default {
  name: "",
  components: {
    chatroom,
  },
  computed: {
    userObj() {
      return this.$store.state.userInfo;
    },
    formatDate() {
      return function (date) {
        return format(new Date(date));
      };
    },
  },
  data() {
    return {
      menuIndex: '-1',
      recipientInfo: {},
      chatList: [],
    };
  },
  watch:{
        "$route.params.toUserName": function (value) {
      console.log(value)
      this.getRecipientInfo()
    }
  },
  methods: {
    refreshChatList(){
      this.getChatList()
    },
    remarkRoom(room_id){
      remark_room({room_id:room_id}).then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            // this.chatList = res.data;
            this.getChatList()
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    refreshMenuItem(value){
      console.log(this.chatList)

      for(let index in this.chatList){
         if(this.chatList[index].room_id*1===value.room_id*1){
          this.chatList[index].send_content = value.send_content
          this.chatList[index].send_time = value.send_time
          this.chatList[index].remark = 0
        }
      }
      console.log(this.chatList)
            // console.log(this.chatList)
    },
    getChatList() {
      get_chat_list({ user_id: this.$route.params.userid })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.chatList = res.data;
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    getRecipientInfo() {
      get_recipient_info({ user_name: this.$route.params.toUserName })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.recipientInfo = res.data;
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    selectItem(index) {
      this.menuIndex = this.chatList[index].receive_user_name || this.chatList[index].send_user_name;
      this.$router.push({
        path: `/${this.userObj.id}/chat/${this.menuIndex}`
      });
      if(this.chatList[index].receive_userid===this.userObj.id){
      this.remarkRoom(this.chatList[index].room_id)
      }
       console.log(this.chatList[index].room_id);
    },
  },
  created() {
    if(this.$route.params.toUserName!=='*'){
    this.getRecipientInfo();

    }
     this.getChatList();
  },

  mounted() {
    
  },
  updated(){
    // this.getRecipientInfo();
    // this.getChatList();
  }
};
</script>

<style lang='scss' scoped>
.container {
  width: 100%;
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica,
    Arial, sans-serif, FreeSans, Arimo;
  font-weight: 500;
  background-color: #ffffff;
  .el-menu-vertical-d {
    height: 100%;
    padding-top: 50px;
    width: 100%;
    .menu-badge {
      width: 100%;
    }
  }
  .main {
    padding-top: 30px !important;
  }
  .menu-item {
    display: flex;
    // height: 100px;
    .item-avatar {
      width: 50px;
      margin-left: -10px;
    }
    .item-center {
      width: 135px;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
    .center-name {
      width: 70px;
      height: 15px;
      line-height: 40px;
      color: black;
      font-size: 13px;
      p{
         overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      }
    }
    .center-content {
      font-size: 12px;
      width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .item-time{
      font-size: 12px;
      margin-left: -50px;
    }
  }
}
</style>