<!--
 * @Author: yenible
 * @Date: 2021-01-12 16:09:49
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-15 23:18:32
 * @Description: xxx
-->
<style  >
.main {
  overflow: hidden;
  padding: 0px;
}
</style>
<template>
  <el-container>
    <el-header>
      <mdmenu
        ref="mdmenu"
        @saveDraft="saveDraft"
        :publish_type="publish_type"
        :label_list="label_list"
        :articleTitle="articleTitle"
        @publishArticle="publishArticle"
      ></mdmenu>
    </el-header>
    <el-main class="main">
      <mdtoolbar class="mdtoolbar" 
          :isSave="isSave"
        @changeScroll="changeScroll"></mdtoolbar>
      <!-- <mdedit ref="mdedit" :articleContent="articleContent" :articleTitle="articleTitle"></mdedit> -->
      <div class="maskContainer" v-if="dilogStatus">
        <div class="contentContainer">
          <div class="closeBtnContainer" @click="closeMaskFn"></div>
          <textarea
            class="showAreaContainer"
            v-model="msgShow"
            readonly
          ></textarea>
        </div>
      </div>
      <div class="editorContainer">
        <mdedit
        ref="mdedit"
          :mdValuesP="articleContent"
          :fullPageStatusP="false"
          :editStatusP="true"
          :previewStatusP="true"
          :navStatusP="true"
          :icoStatusP="true"
          :isScrollProp="isScroll"
         ></mdedit>
      </div>
    </el-main>
  </el-container>
</template>

<script>
import mdmenu from "@/components/menu/mdMenu";
// import mdedit from "./childComponents/mdedit";
import mdedit from "@/components/mdeditor/markdown";
import mdtoolbar from "./childComponents/mdtoolbar";

import {
  save_article,
  get_article_info,

} from "@/network/article";
export default {
  name: "edit",
  components: {
    mdmenu,
    mdedit,
    mdtoolbar,
  },
  data() {
    return {
      isScroll:false,
      msgShow: "我要显示的内容",
      dilogStatus: false,

      articleContent: "",
      articleTitle: "",
      publish_type: "",
      label_list: [],
      isSave:false,
      isPublish:false
    };
  },
  methods: {
    changeScroll(value){
      this.isScroll = value;
    },
    closeMaskFn: function () {
      this.msgShow = "";
      this.dilogStatus = false;
    },
    async publishArticle(value) {
      console.log(value);
      let articleObj = {
        article_content: this.$refs.mdedit.editHtm,
        article_title: value.title,
        user_id: window.localStorage.getItem("userid"),
        article_id: this.$route.params.articleid,
        article_state: "1", //发布状态
        publish_type: value.state,
        label_list: value.labelArr,
      };
      await save_article(articleObj)
        .then((result) => {
          console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "success",
            });
  // window.removeEventListener('beforeunload', e => this.beforeunloadFn(e))
  window.removeEventListener('beforeunload', this.beforeunloadFn)
  this.isPublish=true;
             this.$router.push({
            path: `/${this.$route.params.userid}/myblogs`,
          });
          } else {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          console.log(err);
          this.$message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        });
      this.$refs.mdmenu.closeDialog();
    },
    saveDraft(value) {
      // 获取mdedit的输入内容
      let articleObj = {
        article_content: this.$refs.mdedit.editHtm,
        article_title: value,
        user_id: this.$route.params.userid,
        article_id: this.$route.params.articleid,
        article_state: "0", //草稿状态
      };

      save_article(articleObj)
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "success",
            });
            
            this.getArticleInfo()
          } else {
            if(res.errmsg.code === 'ER_DATA_TOO_LONG'){
              this.$message({
                showClose: true,
              message: '文章字数超出最大值！',
              type: "error",
            });
            }else{
              this.$message({
                showClose: true,
              message: res.msg,
              type: "error",
            });
            }
             
          }
        })
        .catch((err) => {
          console.log(err);
          this.$message({
            showClose: true,
            message: err,
            type: "error",
          });
        });
    },
    // 获取当前文章的信息
    getArticleInfo() {
      let user_id = window.localStorage.getItem("userid");
      console.log(this.$route);
      get_article_info({
        url_data: this.$route.fullPath,
      })
        .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode === 0) {
            this.articleContent = res.articleinfo.content;
            this.articleTitle = res.articleinfo.title;
            this.publish_type = res.articleinfo.publish_type;
            this.label_list = res.articleinfo.label_list;
            this.isSave = true
          } else if (res.errCode === 1) {
            if (res.redirect) {
              this.$message({
                showClose: true,
                message: res.msg,
                type: "error",
                onClose: () => {
                  this.$router.push(res.redirect);
                },
              });
            }
            return;
          } else {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "error",
              onClose: () => {
                this.$router.push({
                  path: `/${user_id}/profile`,
                });
              },
            });
          }
        })
        .catch((err) => {
          console.log(err);
          this.$message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
        });
    },
    // 监听页面刷新或关闭
     beforeunloadFn(e) {
    console.log('刷新或关闭')
      e.preventDefault();
    e.returnValue = '离开当前页后，所编辑的数据将不可恢复' // 浏览器有可能不会提示这个信息，会按照固定信息提示
  }
  },
  created() {
    // console.log(this.$route.params);
    // console.log(this.$route.params.articleid);
    this.getArticleInfo();
    // 绑定钩子
      // window.addEventListener('beforeunload', e => this.beforeunloadFn(e))
      window.addEventListener('beforeunload', this.beforeunloadFn)

  },
  // 卸载钩子
  destroyed() {
    console.log('beforeunload')
  window.removeEventListener('beforeunload', this.beforeunloadFn)
  // window.removeEventListener('beforeunload', e => this.beforeunloadFn(e))
},
  // vue路由的钩子函数 , 可以放在mouted的同级
beforeRouteLeave(to, from, next) {
    console.log(this.isPublish);
    console.log(from);
    if (to.params.status) {//就是上面的状态 如果是true , 则不询问是否保存, 当然这个方法比较笨, 大家可以使用更优雅的方式
      next();
    } else {
      if(this.isPublish){
        next();
        return;
      }
      this.$confirm("离开页面 , 系统将不做保存, 请确认已经保存", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          // console.log('解除绑定')
  // window.removeEventListener('beforeunload', e => this.beforeunloadFn(e))

          next();
        })
        .catch(() => {
          // alert("router")
        });
    }
  },
};
</script>

<style lang='scss' scoped>
.show{
        position: absolute;
        left: 0;
        top: 0;
    }
    .indexContainer {
        width: 100%;
        height: 100%;
        background: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
     
    .maskContainer{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        height: 100vh;
        width: 100vw;
        background: rgba(0,0,0,0.5);
        // z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        .contentContainer{
            width: 60%;
            height: 60%;
            background: #fefefe;
            padding: 20px;
            box-sizing: border-box;
            position: relative;
            .showAreaContainer{
                height: 100%;
                width: 100%;
                outline: none;
                background: #eee;
                display: block;
                resize: none;
                padding: 10px;
                box-sizing: border-box;
            }
            .closeBtnContainer{
                position: absolute;
                height: 30px;
                width: 30px;
                right: -40px;
                top: -40px;
                border:1px solid #fff;
                border-radius: 50%;
                &::before{
                    content: '';
                    position: absolute;
                    width: 70%;
                    height: 2px;
                    display: bblock;
                    background: #fff;
                    left: 15%;
                    top: calc(50% - 1px);
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 70%;
                    height: 2px;
                    display: bblock;
                    background: #fff;
                    left: 15%;
                    top: calc(50% - 1px);
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                }
            }

        }

    }
    // .mdtoolbar{
    //     width: 100%;
    //     height: 45px;
    // }
    .editorContainer {
        width: 100%;
        height:calc(100% - 45px);
        border: 1px solid #ddd;
    }
</style>