<!--
 * @Author: yenible
 * @Date: 2020-12-27 21:26:34
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-18 10:42:44
 * @Description: xxx
-->
<style lang="scss">
.usercontainer{
  height: 100%;
}
</style>
<template>
  <div class="container usercontainer">
    <el-aside class="aside"  width="195px">
      <aside-menu :userInfo="userInfo" @changeIndex="changeIndex" :itemIndex="itemIndex"></aside-menu>
    </el-aside>
    <el-main >
      <user-info :userInfo="userInfo" />
    </el-main>
  </div>
</template>

<script>
// import qs from 'qs'

import asideMenu from "./childComponents/asideMenu";
import userInfo from "./childComponents/userInfo";

import { get_user_info } from "@/network/user.js";
// import avatar from "../../assets/images/avartar.png"
export default {
  name: "profile",
  data() {
    return {
      userid: this.$route.params.userid,
      userInfo: {},
      itemIndex: "1",
    };
  },
  components: {
    "aside-menu": asideMenu,
    "user-info": userInfo,
  },
    computed:{
    userObj(){
      return this.$store.state.userInfo
    }
  },
  methods: {
    
    changeIndex(value){
                let user_id = this.userObj.id
      switch(value){
        case '1':
            this.$router.push({
              path: `/${user_id}/profile`,
            });
            break;
        case '2':
             this.$router.push({
              path: `/${user_id}/collect`,
            });
            break;
        case '3':
             this.$router.push({
              path: `/${user_id}/attract`,
            });
            break;
        case '4':
            // this.$route.path.search(`/${user_id}/profile`)
            this.$router.push({
              path: `/${user_id}/suggest`,
            });
            break;
      
      }
    },
    getUserInfo() {
      // 请求用户信息
      get_user_info(this.$route.params.userid)
        .then((result) => {
          let res = result.data;
          // console.log(res);
          if (res.errCode == 0) {
            this.userInfo = res.data[0];
            this.$store.commit('update_userinfo', res.data[0])
          } else {
            this.$message({
              message: "错误信息：" + res.msg + ";   错误对象：" + res.errObj,
              type: "error",
              onClose: () => {},
            });
            if(res.errObj === 'login' && res.redirect){
              this.$router.push(res.redirect)
            }
              //  console.log(res)

            this.userInfo = {
              article_amount: 0,
              avatar: "-",
              user_collect_amount: 0,
              create_time: "-",
              email: "-",
              fans_amount: 0,
              focus_amount: 0,
              login_time: "-",
              name: "-",
              score: 0,
              sex: "2",
              strdescribe: "-",
            };
          }
          // console.log(res);
        })
        .catch((err) => {
          // 请求失败
          console.log(err);
          // alert(err);
          this.$message({
            message: "用户数据请求失败",
            type: "error",
          });
        });
    },
  },
  created: function () {

    this.getUserInfo();
  },
  // mounted:function(){
  //   this.getUserInfo();

  // }
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  .aside{
    height: 100%;
    // width: 195px;
  }
}
</style>