<template>
  <div class="user-info">
    <div class="top">
      <div class="avatar">
        <!-- <el-avatar size="medium" :src="userInfo.avatar"></el-avatar> -->
        <el-avatar
          size="medium"
          :src="userInfo.avatar"
          v-if="userInfo"
        ></el-avatar>
        <el-avatar size="medium" icon="el-icon-user-solid" v-else></el-avatar>
      </div>
      <div class="name">{{ userInfo.name }}</div>
      <div class="describe">
        <p>介绍:</p>
        {{ userInfo.strdescribe }}
      </div>
    </div>
    <div class="bottom">
      <div class="amount">
        <div class="blabel">粉丝</div>
        <div class="number">{{ userInfo.fans_amount }}</div>
      </div>
      <div class="amount">
        <div class="blabel">关注</div>
        <div class="number">{{ userInfo.focus_amount }}</div>
      </div>
      <div class="amount">
        <div class="blabel">收藏</div>
        <div class="number">{{ userInfo.user_collect_amount }}</div>
      </div>
      <div class="amount">
        <div class="blabel">文章</div>
        <div class="number">{{ userInfo.article_amount }}</div>
      </div>
      <div class="amount">
        <div class="blabel">积分</div>
        <div class="number">{{ userInfo.score }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "useritem",
  props: {
    userInfo: {
      type: Object,
      default: function () {
        return {
          article_amount: 0,
          avatar: "-",
          user_collect_amount: 0,
          create_time: "-",
          email: "-",
          fans_amount: 0,
          focus_amount: 0,
          login_time: "-",
          name: "-",
          score: 0,
          sex: "2",
          strdescribe: "-",
        };
      },
    },
  },
  computed: {

  },
  data() {
    return {
    };
  },
  methods: {},
};
</script>

<style lang='scss' scoped>
.user-info {
  width: 100%;
  background-color: #202a35;
  color: #fff;
  margin-bottom: 5px;
  padding: 15px 10px 0 10px;
  .top {
    width: 100%;
    // height: 100px;
    .avatar {
      text-align: center;
      cursor: pointer;
    }
    .name {
      text-align: center;
      margin-bottom: 10px;
    }
    .describe {
      font-size: 14px;
      overflow: hidden;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      margin-bottom: 20px;
      p {
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
  }
  .bottom {
    display: flex;
    border-top: 3px solid rgb(104, 102, 100);

    .amount {
      display: block;
      padding: 15px 3px;
      font-size: 13px;
      // flex: 1;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: rgb(67, 74, 80);
        color: rgb(255, 208, 75);
      }
      .blabel {
        margin-bottom: 5px;
      }
      .number {
      }
    }
  }
}
</style>