<!--
 * @Author: yenible
 * @Date: 2021-04-18 10:37:50
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-18 17:02:41
 * @Description: xxx
-->
<template>
  <div class="container">
    <div class="search bar1">
      <div class="title"><h2>建议/反馈</h2></div>
    </div>
    <div class="form">
      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="建议/反馈主题">
          <el-input
            type="text"
            placeholder="请输入内容"
            v-model="form.title"
            maxlength="50"
            show-word-limit
          ></el-input>
        </el-form-item>
        <el-form-item label="具体描述">
          <el-input
            type="textarea"
            placeholder="请输入内容"
            v-model="form.content"
            maxlength="800"
            show-word-limit
          >
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">投递</el-button>
          <el-button>取消</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="history">
      <div class="title">我的建议/反馈</div>
       <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="未处理" name="0">
          <div class="tab-list">
            <div
              class="tab-item"
              v-for="(item, index) in suggestList"
              :key="index"
            >
              <div class="item-title">{{ item.suggest_title }}</div>
              <div class="item-main">
                <div class="item-content">{{ item.suggest_content }}</div>
              </div>
              <div class="item-time">
                投递时间：{{ formatDate(item.create_time) }}
              </div>
              <div class="item-id">消息id：{{ item.suggest_id }}</div>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="已处理" name="1">
          <div class="tab-list">
            <div
              class="tab-item"
              v-for="(item, index) in replyList"
              :key="index"
            >
              <div class="item-title">{{ item.suggest_title }}</div>
              <div class="item-main">
                <div class="item-name">内容：</div>

                <div class="item-content">{{ item.suggest_content }}</div>
              </div>
              <div class="item-time">
                投递时间：{{ formatDate(item.create_time) }}
              </div>
              <div class="item-id">消息id：{{ item.suggest_id }}</div>
              <div class="item-reply">回复：</div>
              <div class="item-main">
                <div class="item-content">{{ item.reply_content }}</div>
              </div>
              <div class="item-time">
                回复时间：{{ formatDate(item.reply_time) }}
              </div>
              <!-- <div class="btn-list">
                <el-button size="mini" type="danger">删除</el-button>
              </div> -->
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
      <el-pagination
  background
  layout="prev, pager, next"
  :page-size="pagesize"
  @current-change	="changePage"
      :current-page="pageno"

  :total="total">

</el-pagination>
    </div>
    
  </div>
</template>

<script>
import { format } from "@/tool/format ";

import { submit_suggest,get_user_suggest } from "@/network/message";
export default {
  name: "suggest",
  data() {
    return {
      form: {
        content: "",
        title: ""
      },
       total:0,
        pageno:1,
        pagesize:1,
        activeName:0,
        suggestList:[],
        replyList:[]
    };
  },
  computed: {
    userObj() {
      return this.$store.state.userInfo;
    },
        formatDate() {
      return function (date) {
        return format(new Date(date));
      };
    },
  },
  methods: {
    changePage(value){
      this.pageno = value
      this.getSuggest({user_id:this.$route.params.userid,pageno:this.pageno-1,pagesize:this.pagesize,suggest_state:this.activeName});

    },
    handleClick(tab, event) {
      this.activeName = tab.index;
      this.pageno = 1;
      this.getSuggest({user_id:this.$route.params.userid,pageno:this.pageno-1,pagesize:this.pagesize,suggest_state:this.activeName});
    },
    getSuggest(){
      get_user_suggest({user_id:this.$route.params.userid,pageno:this.pageno-1,pagesize:this.pagesize,suggest_state:this.activeName})
      .then((result) => {
          let res = result.data;
          // console.log(res);
          if (res.errCode === 0) {
            //  this.$message({
            //   message: res.msg,
            //   type: "success",
            // });
            this.total=res.total
            if(this.activeName*1===0){
            this.suggestList=res.data

            }else{
              this.replyList=res.data
            }
           } else {
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            message: err,
            type: "error",
            err: err,
          });
        });
    },
    onSubmit() {
      let data = this.form;
      data["user_id"] = this.userObj.id;
      // console.log(this.form);
      submit_suggest(data)
        .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode === 0) {
             this.$message({
              message: res.msg,
              type: "success",
            });
          } else {
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            message: err,
            type: "error",
            err: err,
          });
        });
    },
  },
  created(){
    this.getSuggest()
  }
};
</script>

<style lang='scss' scoped>
.container {
  width: 100%;
  // height: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica,
    Arial, sans-serif, FreeSans, Arimo;
  font-weight: 500;
  background-color: white;
  .form {
    padding: 40px 90px 20px;
    border-bottom: 2px solid rgb(240, 236, 228);
  }
}
div.search {
  padding: 30px 0;
}
.bar1 {
  background: #a3d0c3;
}
.title {
  text-align: center;
  margin-bottom: 10px;
}
.history {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding:20px;
 
  .tab-list{
  overflow: auto;
  max-height: 800px;

  }
}
.tab-item {
    padding: 5px 20px 5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(221, 215, 215, 0.253);
    margin-bottom: 25px;
    padding: 0px 30px 10px;
    position: relative;
    .item-title {
      font-size: 25px;
      font-weight: bold;
      line-height: 45px;
    }
    .item-main {
      display: flex;
      margin-bottom: 20px;
    }
    .item-name {
      margin-right: 10px;
      white-space: pre-wrap;
      width: 80px;
    }
    .item-content {
      white-space: pre-wrap;
      word-break: break-all;
      width: 500px;
    }
    .btn-list,
    .item-id {
      margin-top: 20px;
    }
    .item-reply {
      margin: 20px 0 20px;
      padding-top: 20px;
      border-top: 2px solid rgb(236, 234, 230);
      color: rgb(121, 201, 2);
    }
  }
</style>