<!--
 * @Author: yenible
 * @Date: 2021-03-30 17:01:12
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-18 11:51:16
 * @Description: xxx
-->
<style lang="scss">
.admin-container{
    .el-main{
    padding: 50px 40px!important;
  }
}

</style>
<template>
  <el-container class="admin-container">
    <el-header class="admin-header">iblogs 后台管理</el-header>
    <el-container>
      <el-aside width="200px">
        <asidemenu :showIndex="showIndex" @changeComponent="changeComponent"></asidemenu>
      </el-aside>
      <el-main class="container">
        <usermanage v-show="showIndex==='1'"></usermanage>
        <articlemanage v-show="showIndex==='2'"></articlemanage>
        <filemanage v-show="showIndex==='3'"></filemanage>
        <adminmanage v-show="showIndex==='5'"></adminmanage>
        <adminmessage v-show="showIndex==='6'"></adminmessage>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import asidemenu from "./childComponents/asidemenu";
import filemanage from "./childComponents/filemanage/filemanage";
import usermanage from "./childComponents/usermanage/usermanage";
import articlemanage from "./childComponents/articlemanage/articlemanage";
import adminmanage from "./childComponents/adminmanage/adminmanage";
import adminmessage from "./childComponents/adminmessage/adminmessage";
import { check_token } from "../../network/admin";
export default {
  name: "admin",
  components: {
    asidemenu,articlemanage,usermanage,filemanage,adminmanage,adminmessage
  },
  data() {
    return {
      showIndex:'1'
    };
  },
  methods: {
    changeComponent(value){
      this.showIndex=value
    }
  },
  created() {
    check_token()
      .then((result) => {
        let res = result.data;
        if (res.errCode === 0 && res.token) {
          // console.log(res);
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: "error",
          });
          this.$router.push({
            path: `/login`,
          });
        }
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>

<style lang='scss' scoped>
.admin-container {
  background-color: white !important;
  overflow: hidden;
  .admin-header {
    background-color: rgb(26, 29, 47);
    color: white;
    font-size: 30px;
    line-height: 50px;
    padding-left: 30px !important;
  }
  .el-menu-vertical-demo {
    height: 100%;
    // border-top: 1px solid white;
  }
 
}
</style>