<!--
 * @Author: yenible
 * @Date: 2021-02-04 17:06:47
 * @LastEditors: yenible
 * @LastEditTime: 2021-02-09 13:51:29
 * @Description: 上传图片列表弹窗
-->
<template></template>

<script>
export default {
  name: "",
  props: {
    
  },
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang='scss' scoped>
</style>
