<!--
 * @Author: yenible
 * @Date: 2021-02-17 09:53:06
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-16 21:05:16
 * @Description: 文章保存弹窗
-->
<template>
  <el-dialog
    title="发布文章"
    :visible.sync="showDialog"
    width="700px"
    :before-close="handleClose"
    :modal-append-to-body="false"
  >
    <div class="article_label title">
      <div class="checked-label">
        <el-tooltip
          class="item"
          effect="dark"
          content="添加标签方便别人搜索您的文章"
          placement="top"
        >
          <i class="el-icon-warning-outline tip"></i>
        </el-tooltip>
        <span class="title"> 文章标签:</span>
        <el-tag
          v-for="tag in labelArr"
          :key="tag.label_id"
          closable
          @close="deletLabel(tag)"
          :id="tag.label_id"
          class="label-tag"
        >
          {{ tag.label_name }}
        </el-tag>
      </div>

      <div class="add-label-list" v-if="labelInfo">
        <el-button
          plain
          size="mini"
          v-for="(item, key) in labelInfo"
          :key="item.label_id"
          @click="labelKey = key;"
          >{{ key }}</el-button
        >
        <div class="line"></div>
        <div class="labelList" v-if="labelKey !== '' && labelInfo[labelKey]">
          <el-button
            class="label-tag"
            plain
            size="small"
            v-for="item in labelInfo[labelKey]"
            :key="item.label_id"
            @click="addLabel(item)"
            >{{ item.label_name }}</el-button
          >
          <el-button
            class="label-tag"
            plain
            size="small"
            v-if="!isCreateLabel"
            @click="isCreateLabel=true"
            >自定义+
          </el-button>
        </div>
        <div class="create-label"  v-if="isCreateLabel">
   <el-input
          placeholder="请输入自定义标签名称"
          v-model="newLabel"
          
          clearable
        >
        </el-input>
        <div class="create-btn">
            <el-button @click="createLabel" type="primary">添加</el-button>
            <el-button @click="isCreateLabel=false">取消</el-button>
        </div>
        </div>
      
      </div>
      <!-- <div class="article_type">
    文章类型:
  </div> -->
    </div>
    <div class="article_state">
      <span class="title">查看权限:</span>
      <el-radio-group v-model="state">
        <el-radio label="0">私密</el-radio>
        <el-radio label="1">全部可看</el-radio>
        <!-- <el-radio label="2">关注可看</el-radio> -->
      </el-radio-group>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="handleClose">取 消</el-button>
      <el-button type="primary" @click="handleSend">确 定</el-button>
    </span>
  </el-dialog>
</template>

<script>
import { get_label_info,create_label } from "@/network/article";
export default {
  name: "savearticledialog",
  components: {},
  props: {
    saveArticleDialog: Boolean,
    // label_list: Array,
    publish_type: String,
  },
  watch: {
    saveArticleDialog: function () {
      this.showDialog = this.saveArticleDialog;
      if (this.showDialog) {
        this.getLabelInfo();
      }
    },
  },
  data() {
    return {
      state: this.publish_type || "1",
      showDialog: this.saveArticleDialog,
      labelInfo: {},
      labelKey: "",
      labelKeyId: -1,
      labelArr: [],
      allLabelInfo: [],
      label_list: [],
      isCreateLabel: false,
      newLabel: "",
      labelType:{}
    };
  },
  methods: {
    // 自定义创建对应类型的标签
    createLabel() {
      // console.log(this.labelType)
      // console.log(this.labelKey)
      // console.log(this.labelType[this.labelKey])
      // 添加自定义标签
      create_label({type_id:this.labelType[this.labelKey] ,label_name:this.newLabel}) .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode === 0) {
             this.$message({
              message: res.msg,
              type: "success",
            });
          } else {
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            message: err,
            type: "error",
            err: err,
          });
        });

      this.isCreateLabel = false;
      // console.log(this.labelKey);
    },
    // 请求标签信息
    getLabelInfo() {
      get_label_info(this.$route.params.articleid)
        .then((result) => {
          let res = result.data;
          // console.log(res);
          if (res.errCode === 0) {
            this.labelInfo = res.data.allLabel;
            this.labelType = res.data.labelType;
            for (let key in res.data.allLabel) {
              res.data.allLabel[key].forEach((element) => {
                this.allLabelInfo.push(element);
              });
            }
            this.label_list = res.data.selectedLabel;
            this.labelArr = this.allLabelInfo.filter((item) => {
              console.log(this.label_list);
              // console.log(this.label_list.indexOf(item.label_id));
              return this.label_list.indexOf(item.label_id) !== -1;
            });
            // console.log(this.label_list);
            // console.log(this.allLabelInfo);
            // console.log(this.labelArr);
          } else {
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            message: "获取标签失败" + err,
            type: "error",
            err: err,
          });
        });
    },
    handleClose() {
      this.$emit("closeDialog");
    },
    handleSend() {
      this.$emit("publishArticle", {
        labelArr: this.labelArr,
        state: this.state,
      });
    },
    init() {
      this.labelArr = [];
      this.labelInfo = {};
      this.allLabelInfo = [];
      this.labelKey = "";
      this.label_list = [];
    },
    addLabel(value) {
      if (this.labelArr.indexOf(value) === -1) {
        this.labelArr.push(value);
      }
    },
    deletLabel(value) {
      let index = this.labelArr.indexOf(value);
      if (index !== -1) {
        this.labelArr.splice(index, 1);
        console.log(this.labelArr);
      }
      // console.log(index)
    },
  },
};
</script>

<style lang='scss' scoped>
.title {
  margin-bottom: 10px;
  margin-right: 10px;
}
.line {
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.checked-label {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.label-tag {
  margin-right: 6px;
  margin-bottom: 5px;
}
.tip {
  color: rgb(51, 135, 245);
}
</style>