<!--
 * @Author: yenible
 * @Date: 2021-02-04 13:59:20
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-15 16:02:51
 * @Description: xxx
-->
<template>
  <el-dialog
    width="400px"
    title="添加图片"
    :visible.sync="dialogFormVisible"
    @close="dialogClose"
  >
    <!-- 只允许上传图片 -->
    <el-row>
      <el-col :span="12"
        ><input
          id="img_input"
          class="img-input"
          type="file"
          name="file"
          accept="image/*"
          @change="changeImg"
      /></el-col>
      <el-col :span="12"
        ><el-button
          class="upload-btn"
          id="upload_btn"
          type="primary"
          @click="upload"
          size="mini"
          plain
          >上传</el-button
        ></el-col
      >
    </el-row>
    <el-row class="copy-item" v-show="type === 'article' && uploadUrl != ''">
      <el-col class="upload-url" :span="18"
        ><input type="text" :value="uploadUrl" readonly />
      </el-col>
      <el-col class="upload-copy" :span="6">
        <span
          v-clipboard:copy="uploadUrl"
          v-clipboard:success="onCopy"
          v-clipboard:error="onError"
          >复制</span
        >
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24"
        ><img src="" class="img-responsive" id="modal-pre" alt="预览区"
      /></el-col>
    </el-row>
  </el-dialog>
</template>

<script>
import { upload_img, move_article_img,move_avatar } from "@/network/upload.js";
var reader = new FileReader();
export default {
  name: "uploaddialog",
  props: {
    dialogVisible: {
      type: Boolean,
      require: true,
      default: false,
    },
    type: {
      type: String,
      default: "article",
    },
  },
  watch: {
    dialogVisible() {
      this.dialogFormVisible = this.dialogVisible;
    },
  },
  data() {
    return {
      dialogFormVisible: this.dialogVisible,
      imgArr: [],
      uploadUrl: "",
    };
  },
  methods: {
    // 复制成功时的回调函数
    onCopy(e) {
      this.$message.success("内容已复制到剪切板！");
    },
    // 复制失败时的回调函数
    onError(e) {
      this.$message.error("抱歉，复制失败！");
    },
    upload() {
      var data = new FormData();
      let _img = document.getElementById("img_input").files[0];
      // let showImg = document.getElementById("modal-pre");
      data.append("modal_file", _img);
      upload_img(data)
        .then((result) => {
          // console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            if (res.exist === 0) {
              // 分上传图片和上传头像
              if (this.type === "article") {
                // 移动图片在文件夹的位置
                this.moveImg(res.filepath, res.fileName);
              }else if(this.type === 'avatar'){
                this.moveAvatar(res.filepath, res.fileName)
              }

              // console.log(this.imgArr);
            }
          } else {
            this.$message.error("上传错误，msg：" + res.msg);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    moveAvatar(imgSrc, imgName){
      // 移动头像保存位置
      let data = {
        imgSrc: imgSrc,
        userid: window.localStorage.getItem("userid"),
        imgType: imgName.substring(imgName.lastIndexOf('.') + 1),
      };
      move_avatar(data)
        .then((result) => {
          console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            if (res.isMove === 0) {
              this.$message({
              showClose: true,
              message: "头像上传成功",
              type: "success",
              onClose: () => {
                location.reload();
              },
            });

            }
          } else {
            this.$message.error("上传错误，msg：" + res.msg);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // 在图片成功上传到服务器缓存区后，移动到指定的位置
    moveImg(imgSrc, imgName) {
      console.log(this.$route.params.id);
      let data = {
        imgSrc: imgSrc,
        userid: window.localStorage.getItem("userid"),
        articleid: this.$route.params.articleid,
        imgName: imgName,
      };
      move_article_img(data)
        .then((result) => {
          console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            if (res.isMove === 0) {
              this.$message.success("文件上传成功");
              this.imgArr.push(res.fileUrl);
              this.uploadUrl = res.fileUrl;
            }
          } else {
            this.$message.error("上传错误，msg：" + res.msg);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    changeImg(value) {
      let _img = document.getElementById("img_input").files[0];
      let showImg = document.getElementById("modal-pre");
      if (!_img) {
        return false;
      }
      let imgURL = reader.readAsDataURL(_img);
      reader.onload = function (e) {
        var ib_pre = showImg;
        ib_pre.src = this.result;
      };
    },
    dialogClose() {
      this.$emit("closeDialog");
    },
  },
};
</script>

<style lang='scss' scoped>
.container {
  // height: 400px;
  .img-input {
    width: 250px;
  }
  .img-responsive {
    height: 200px;
  }
  .upload-btn {
    float: right;
    margin-bottom: 10px;
  }
  .upload-url input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    border: 0px;
  }
  .upload-copy span {
    float: right;
    cursor: pointer;
    color: blue;
  }
  .copy-item {
    margin: 10px 3px 10px 0px;
  }
}
</style>