<!--
 * @Author: yenible
 * @Date: 2021-03-30 22:16:37
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-17 22:11:48
 * @Description: xxx
-->
<template>
  <div class="container">
    <el-row>
      <el-col :span="24" class="title-row">
        <h3 class="title">文章管理</h3>
      </el-col>
    </el-row>
    <el-row>
      <form>
        <el-col :span="7" class="input"
          ><div class="label">文章标题：</div>
          <el-input v-model="inputTitle" placeholder="请输入标题"></el-input>
        </el-col>
        <el-col :span="7" class="input"
          ><div class="label">文章内容：</div>
          <el-input v-model="inputText" placeholder="请输入内容"></el-input>
        </el-col>
        <el-col :span="7" class="input"
          ><div class="label">作者：</div>
          <el-input v-model="inputAuth" placeholder="请输入作者"></el-input>
        </el-col>
        <el-col :span="3">
          <el-button type="primary" @click="getArticleList">查询</el-button>
        </el-col>
      </form>
    </el-row>
    <el-row>
      <div class="article-list">
        <div
          class="article-item"
          v-for="(item, index) in articleInfo"
          :key="index"
        >
          <blogsitem
            @commentdialog="commentdialog"
            :isAdmin="true"
            @deleteItem="deleteItem"
            :info="item"
          ></blogsitem>
        </div>
      </div>
    </el-row>
    <el-row>
      <el-pagination
        background
        layout="prev, pager, next"
        @current-change="changePage"
        :current-page="pageno"
        :page-size="pagesize"
        :total="total"
      >
      </el-pagination>
    </el-row>
    <commentdialog
      :articleInfo="commentInfo"
      @commentdialog="commentdialog"
      :dialogVisible="dialogVisible"
    ></commentdialog>
  </div>
</template>
<script>
import { search_blog_admin } from "@/network/admin";
import blogsitem from "./blogsitem";
import commentdialog from "./commentdialog";

export default {
  name: "articlemanage",
  components: {
    blogsitem,
    commentdialog,
  },
  data() {
    return {
      pageno: 1,
      pagesize: 10,
      total: 0,
      inputText: "",
      inputTitle: "",
      inputAuth: "",
      articleInfo: [],
      dialogVisible: false,
      commentInfo: {},
    };
  },
  methods: {
    commentdialog(value) {
      this.dialogVisible = value.visivle;
      if (value.info) {
        this.commentInfo = value.info;
      }
    },
    deleteItem() {
      this.getArticleList();
    },
    changePage(value) {
      this.pageno = value;
      this.getArticleList();
    },
    getArticleList() {
      search_blog_admin({
        text: this.inputText,
        title: this.inputTitle,
        authName: this.inputAuth,
        pageno: this.pageno - 1,
        pagesize: this.pagesize,
      })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.articleInfo = res.data;
            this.total = res.total;
          } else {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            message: err,
            type: "error",
          });
        });
    },
  },
  created() {
    this.getArticleList();
  },
};
</script>

<style lang='scss' scoped>
.container {
  padding-bottom: 40px;
  .title-row {
    margin-bottom: 50px;
    .title {
      &:before {
        display: inline-block;
        height: 15px;
        content: " ";
        font-size: 15px;
        width: 4px;
        background-color: rgb(17, 148, 255);
        margin-right: 5px;
      }
    }
  }
  .input {
    padding-right: 30px;
    font-size: 15px;
    display: flex;
    .label {
      width: 140px;
      text-align: center;
      line-height: 40px;
    }
  }
  .article-list {
    padding: 50px;
  }
}
</style>