<!--
 * @Author: yenible
 * @Date: 2021-04-17 21:23:53
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-18 10:15:34
 * @Description: xxx
-->
<template>
<el-dialog width="800px" title="评论管理" :visible.sync="visible" 

    @close="cancel"
>
<!-- {{articleInfo}} -->
  <!-- <el-form :model="form">
    <el-form-item label="活动名称" :label-width="formLabelWidth">
      <el-input v-model="form.name" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="活动区域" :label-width="formLabelWidth">
      <el-select v-model="form.region" placeholder="请选择活动区域">
        <el-option label="区域一" value="shanghai"></el-option>
        <el-option label="区域二" value="beijing"></el-option>
      </el-select>
    </el-form-item>
  </el-form> -->
  <commentlist
        :commentInfo="commentList"
        :isAdmin="true"
      ></commentlist>
  <div slot="footer" class="dialog-footer">
    <el-button @click="cancel">取 消</el-button>
    <!-- <el-button type="primary" >确 定</el-button> -->
  </div>
</el-dialog>
</template>

<script>
import commentlist from "@/components/comment/commentlist";

import {query_article_all_comment} from '@/network/admin'
export default {
  name: 'commentdialog',
  components:{
    commentlist
  },
    props: {
    dialogVisible: {
      type: Boolean,
      require: true,
      default: false,
    },
    articleInfo:Object
  },
  watch:{
    dialogVisible(value){
      this.visible = value;
      this.getArticleComment()
    },
    "$store.state.refrshComment": function () {
      console.log(this.$store.state.refrshComment)
      if(this.$store.state.refrshComment==='article'){
        //你需要执行的代码
      this.getArticleComment();
      this.$store.commit("update_refrshComment", false);
      }
    }
  },
  data() {
    return {
      formLabelWidth: '120px',
      visible:this.dialogVisible,
      commentList:[]
    }
  },
  methods: {
    getArticleComment(){
      query_article_all_comment({article_id:this.articleInfo.article_id}).then((result) => {
          // console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            this.commentList = res.data;
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: result.data.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    cancel(){
      this.$emit('commentdialog',{visivle:false})
    }
  },
   
};
</script>

<style lang='scss' scoped>
</style>