<!--
 * @Author: yenible
 * @Date: 2021-03-30 22:16:27
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-17 20:45:49
 * @Description: xxx
-->
<template>
  <div class="container">
    <el-row>
      <el-col :span="24" class="title-row">
        <h3 class="title">用户管理</h3>
      </el-col>
    </el-row>
    <el-row>
      <form>
        <el-col :span="10" class="input"
          ><div class="label">用户名：</div>
          <el-input v-model="inputName" placeholder="请输入用户名"></el-input>
        </el-col>
        <el-col :span="10" class="input"
          ><div class="label">用户邮箱：</div>
          <el-input
            v-model="inputemail"
            placeholder="请输入用户邮箱"
          ></el-input>
        </el-col>
        <el-col :span="4">
          <el-button type="primary" @click="getUserList">查询</el-button>
        </el-col>
      </form>
    </el-row>
    <el-row class="table">
      <el-table :data="userList" style="width: 100%">
        <el-table-column prop="id" label="id" width="180"> </el-table-column>
        <el-table-column prop="name" label="用户名" width="180">
        </el-table-column>
        <el-table-column prop="email" label="邮箱"> </el-table-column>
        <el-table-column width="80" prop="file_amount" label="资源数量">
        </el-table-column>
        <el-table-column width="80" prop="article_amount" label="文章数量">
        </el-table-column>
        <el-table-column width="80" prop="score" label="积分">
        </el-table-column>
        <el-table-column width="80" prop="score" label="操作">
          <template slot-scope="scope">
            <el-button @click="changeInfo(scope.row)" type="text" size="small"
              >修改</el-button
            >
          </template>
        </el-table-column>
        <el-table-column width="80" prop="score" label="操作">
          <template slot-scope="scope">
            <el-button
              @click="changePassword(scope.row)"
              type="text"
              size="small"
              >修改密码</el-button
            >
          </template>
        </el-table-column>
        <el-table-column width="80" prop="score" label="操作">
          <template slot-scope="scope">
            <el-button
              @click="deleteUser(scope.row)"
              class="delete"
              type="text"
              size="small"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </el-row>
    <el-row>
      <el-pagination
        background
        layout="prev, pager, next"
        @current-change="changePage"
        :current-page="pageno"
        :page-size="pagesize"
        :total="total"
      >
      </el-pagination>
    </el-row>
    <userdialog
      @updateInfo="updateInfo"
      @close="closeDialog"
      :userInfo="userInfo"
      ref="userdialog"
    ></userdialog>
  </div>
</template>

<script>
import { get_user_list, delete_user } from "@/network/admin";
import { update_password } from "@/network/admin.js";
import userdialog from "./userdialog";
export default {
  name: "usermanage",
  components: {
    userdialog,
  },
  data() {
    return {
      inputemail: "",
      inputName: "",
      total: 0,
      pagesize: 10,
      pageno: 1,
      userList: [],
      userInfo: {},
    };
  },
  methods: {
    changePassword(row) {
      console.log(row);
      // 修改用户密码
      this.$prompt("请输入新密码", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
      })
        .then(({ value }) => {
          console.log(value);
          // 输入管理员账号密码验证？
          update_password({ id: row.id, password: value }).then((result) => {
            let res = result.data;
            if (res.errCode == 0) {
              this.$message({
                showClose: true,
                message: "密码修改成功",
                type: "success",
                onClose: () => {},
              });
            } else {
              this.$message({
                showClose: true,
                message: "错误信息：" + res.msg + ";   错误对象：" + res.errObj,
                type: "error",
                onClose: () => {},
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "取消输入",
          });
        });
    },
    deleteUser(value) {
      this.$confirm("确认删除 " + value.name + " 用户？操作无法撤回请确认！")
        .then((_) => {
          delete_user({ id: value.id })
            .then((result) => {
              let res = result.data;
              if (res.errCode === 0) {
                this.$message({
                  showClose: true,
                  message: res.msg,
                  type: "success",
                });
                this.getUserList();
              } else {
                this.$message({
                  showClose: true,
                  message: res.msg,
                  type: "error",
                });
              }
            })
            .catch((err) => {
              this.$message({
                showClose: true,
                message: err,
                type: "error",
              });
            });
        })
        .catch((_) => {});
    },
    updateInfo() {
      console.log(123);
      this.getUserList();
    },
    closeDialog() {
      this.userInfo = {};
    },
    changePage(value) {
      console.log(value);
      this.pageno = value;
      this.getUserList();
    },
    changeInfo(value) {
      // console.log(value)
      this.$refs.userdialog.changeDialogVision(true);

      this.userInfo = { ...value };
    },
    getUserList() {
      get_user_list({
        email: this.inputemail,
        name: this.inputName,
        pagesize: this.pagesize,
        pageno: this.pageno - 1,
      })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.userList = res.data;
            this.total = res.total;
          } else {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            message: err,
            type: "error",
          });
        });
    },
  },
  created() {
    this.getUserList();
  },
};
</script>

<style lang='scss' scoped>
.container {
  .title-row {
    margin-bottom: 50px;
    .title {
      &:before {
        display: inline-block;
        height: 15px;
        content: " ";
        font-size: 15px;
        width: 4px;
        background-color: rgb(17, 148, 255);
        margin-right: 5px;
      }
    }
  }
  .input {
    padding-right: 30px;
    font-size: 15px;
    display: flex;
    .label {
      width: 140px;
      text-align: center;
      line-height: 40px;
    }
  }
  .table {
    margin-top: 50px;
  }
  .delete {
    color: red;
  }
}
</style>