<!--
 * @Author: yenible
 * @Date: 2021-03-31 18:25:05
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-17 22:09:59
 * @Description: xxx
-->
<template>
  <el-dialog title="修改用户数据" :visible.sync="dialogFormVisible">
    <el-form :model="form">
      <el-form-item label="用户名" :label-width="formLabelWidth">
        {{ form.name }}
      </el-form-item>
      <el-form-item label="文章数量" :label-width="formLabelWidth">
        <el-input
          type="number"
          v-model="form.article_amount"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="资源数量" :label-width="formLabelWidth">
        <el-input
          type="number"
          v-model="form.file_amount"
          autocomplete="off"
        ></el-input>
      </el-form-item>
      <el-form-item label="积分" :label-width="formLabelWidth">
        <el-input
          type="number"
          v-model="form.score"
          autocomplete="off"
        ></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="updateUserInfo">修 改</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { update_user_info } from "@/network/admin";
export default {
  name: "userdialog",
  props: {
    userInfo: {
      type: Object,
    },
  },
  data() {
    return {
      dialogTableVisible: false,
      dialogFormVisible: false,
      form: this.userInfo,
      formLabelWidth: "120px",
    };
  },
  methods: {
    closDialog() {
      this.dialogFormVisible = false;
      this.$emit("close");
    },
    updateUserInfo() {
      update_user_info(this.form)
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.$emit('updateInfo')
            this.$message({
              showClose: true,
              message: res.msg,
              type: "success",
            });
          } else {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            message: err,
            type: "error",
          });
        });

      this.dialogFormVisible = false;
    },
    changeDialogVision(value) {
      this.dialogFormVisible = value;
    },
  },
  watch: {
    userInfo() {
      this.form = this.userInfo;
    },
  },
};
</script>

<style lang='scss' scoped>
</style>