<template>
  <el-tabs
    class="container"
    type="border-card"
    v-model="activeName"
    @tab-click="handleClick"
  >
    <el-tab-pane label="关注列表" name="1">
      <div class="item" v-for="(item, index) in attractList" :key="index">
        <div class="user-text">
          <div class="avatar">
            <el-avatar :size="40" :src="item.avatarUrl"></el-avatar>
          </div>
          <div class="name">{{ item.authName }}</div>
        </div>
        <div class="btn-list">
          <el-button
            type="danger"
            class="btn"
            @click="cancelAttract(item.authId)"
            >取消关注</el-button
          >
          <el-button
            type="primary"
            class="btn"
            @click="toAuthIndex(item.authName)"
            >个人首页</el-button
          >
           <el-button
            type="danger"
            class="btn"
            @click="toChat(item.authName)"
            >私信</el-button
          >
        </div>
      </div>
    </el-tab-pane>
    <el-tab-pane label="粉丝列表" name="2">
      <div class="item" v-for="(item, index) in fansList" :key="index">
        <div class="user-text">
          <div class="avatar">
            <el-avatar :size="40" :src="item.avatarUrl"></el-avatar>
          </div>
          <div class="name">{{ item.userName }}</div>
          <div class="btn-list">
          <el-button
            type="primary"
            class="btn"
            @click="toAuthIndex(item.userName)"
            >个人首页</el-button
          >
           <el-button
            type="danger"
            class="btn"
            @click="toChat(item.userName)"
            >私信</el-button
          >
        </div>
        </div>
      </div>
    </el-tab-pane>
    <el-tab-pane label="搜索结果" name="3" v-if="isShowSearch">
      <div class="tip" v-show="searchList.length<=0">
        查找结果空空如也
      </div>
      <div class="item" v-for="(item, index) in searchList" :key="index">
        <div class="user-text">
          <div class="avatar">
            <el-avatar :size="40" :src="item.avatarUrl"></el-avatar>
          </div>
          <div class="name">{{ item.userName }}</div>
          
        </div>
         <div class="btn-list">
          <el-button
            type="primary"
            class="btn"
            @click="toAuthIndex(item.userName)"
            >个人首页</el-button
          >
          <el-button
            type="danger"
            class="btn"
            @click="toChat(item.userName)"
            >私信</el-button
          >
        </div>
      </div>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import {
  get_attract_list,
  get_fan_list,
  cancel_attract,
} from "@/network/article.js";
export default {
  name: "attractlist",
  data() {
    return {
      activeName: "1",
      attractList: [],
      fansList: [],
      isGetFansList: false,
      searchList: [],
      isShowSearch:false,
 
    };
  },
  computed: {
    userObj() {
      return this.$store.state.userInfo;
    },
  },
  methods: {
    searchUser(data){
      this.isShowSearch=true
      this.activeName = '3'
      this.searchList = data
    },
    toChat(name) {
 

      this.$router.push({
        path: `/${this.userObj.id}/chat/${name}`
      });
      //  window.open(`/${userObj.id}/chat/${auth_name}`, "_blank");
    },
    toAuthIndex(auth_name) {
      // /:authname/homepage
      // this.$router.push({
      //   path: `/${auth_name}/homepage`,
      // });
       window.open(`/${auth_name}/homepage`, "_blank");
    },
    cancelAttract(auth_id) {
      // console.log(auth_id)
      cancel_attract({
        auth_id: auth_id,
        user_id: window.localStorage.getItem("userid"),
      }).then((result) => {
        console.log(result);
        let res = result.data;
        if (res.errCode !== 0) {
          this.$message({
            message: "取消关注失败",
            type: "error",
          });
        } else {
          this.getAttractList();
        }
      });
    },
    handleClick(tab, event) {
      console.log(tab.name, event);
      switch(tab.name*1){
   
        case 1: this.getAttractList();
                return;
        case 2:this.getFansList(); return;
        case 3:
      }
    },
    getFansList() {
      if (this.isGetFansList) {
        return;
      }
      get_fan_list({
        user_id: window.localStorage.getItem("userid"),
      })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.fansList = res.data;
            this.isGetFansList = true;
          } else {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            message: err,
            type: "error",
          });
        });
    },
    getAttractList() {
      get_attract_list({
        user_id: window.localStorage.getItem("userid"),
      })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.attractList = res.data;
          } else {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            message: err,
            type: "error",
          });
        });
    },
  },
  created() {
    this.getAttractList();
  },
};
</script>

<style lang='scss' scoped>
.container {
  height: 100%;
  // min-width: ;
}
.item {
  display: flex;
  height: 45px;
  margin-bottom: 15px;
  box-shadow: 2px 5px 5px #d4d2d2;
  padding: 0 50px;
  position: relative;
  .user-text {
    min-width: 250px;
    float: left;
    display: flex;
    .name,
    .avatar {
      flex: 1;
      line-height: 40px;
    }
    .avatar {
      padding-top: 3px;
    }
  }

  .btn-list {
    flex: 3;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 300px !important;
    // .btn{
    //   position: absolute;
    //   right: 20px;
    // }
  }
 
}
  .tip{
        color: #b3b2b1;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
  }
</style>