<!--
 * @Author: yenible
 * @Date: 2021-04-05 10:53:09
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-20 15:41:48
 * @Description: xxx
-->
<style lang="scss">
.container {
  .el-menu-vertical-demo {
    .el-badge__content.is-fixed {
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
</style>

<template>
  <div class="container">
    <el-container>
      <el-container>
        <el-aside width="200px">
          <el-menu
            :default-active="menuIndex"
            @select="selectItem"
            class="el-menu-vertical-demo"
          >
            <el-badge  :hidden="commentUnreadNum===0" :value="commentUnreadNum" class="menu-badge">
              <el-menu-item index="2">
                <i class="el-icon-setting"></i>

                <span slot="title">评论</span>
              </el-menu-item>
            </el-badge>
            <el-badge  :hidden="likeUnreadNum===0"  :value="likeUnreadNum" class="menu-badge">
            
            <el-menu-item index="1">
              <i class="el-icon-setting"></i>
              <span slot="title">点赞</span>
            </el-menu-item>
            </el-badge> 
            <el-badge :hidden="attractUnreadNum===0" :value="attractUnreadNum" class="menu-badge">
           
            <el-menu-item index="3">
              <i class="el-icon-setting"></i>
              <span slot="title">关注</span>
            </el-menu-item>
            </el-badge>  
            <el-menu-item index="4">
              <i class="el-icon-setting"></i>
              <span slot="title">私信</span>
            </el-menu-item>
          </el-menu>
        </el-aside>
        <el-main class="main">
          <likemessage
          @readAll="readAllLike" 
            @refresh="refresh"
            :info="likemessage"
            v-show="menuIndex === '1'"
          ></likemessage>
          <commentmessage
           @readAll="readAllComment" 
            @refresh="refresh"
            :info="commentmessage"
            v-show="menuIndex === '2'"
          ></commentmessage>

          <attractmessage
           @readAll="readAllAttract" 
            @refresh="refresh"
            :info="attractmessage"
            v-show="menuIndex === '3'"
          ></attractmessage>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import attractmessage from "./childComponents/attractmessage/attractmessage";
import commentmessage from "./childComponents/commentmessage/commentmessage";
import likemessage from "./childComponents/likemessage/likemessage";

import {
  get_message_comment,
  get_message_like,
  get_message_attract,
  read_all_comment,
  read_all_like,
  read_all_attract,
} from "@/network/message";
export default {
  name: "message",
  components: {
    likemessage,
    commentmessage,
    attractmessage,
  },
  data() {
    return {
      menuIndex: "2",
      userid: this.$route.params.userid,
      commentmessage: [],
      likemessage: [],
      attractmessage: [],
      likeUnreadNum: 0,
      commentUnreadNum: 0,
      attractUnreadNum: 0,
    };
  },
    computed: {
    userObj() {
      return this.$store.state.userInfo;
    },
    },
  methods: {
    readAllComment() {
      read_all_comment({ userid: this.userid })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.refresh("comment");
            // this.$message({
            //   showClose: true,
            //   type: "success",
            //   message: res.msg,
            // });
            console.log(res.msg);
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    readAllLike() {
      read_all_like({ userid: this.userid })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.refresh("like");
            //  this.$message({
            //     showClose: true,
            //     type: "success",
            //     message: res.msg,
            //   });
            console.log(res.msg);
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    readAllAttract() {
      read_all_attract({ userid: this.userid })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.refresh("attract");
            //  this.$message({
            //     showClose: true,
            //     type: "success",
            //     message: res.msg,
            //   });
            console.log(res.msg);
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    refresh(type) {
      switch (type) {
        case "comment":
          this.getCommentMes();
          break;
        case "like":
          this.getLikeMes();
          break;
        case "attract":
          this.getAttractMes();
          break;
      }
    },
    selectItem(value) {
      console.log(value);
      this.menuIndex = value;
      // if(refresh){
      //   console.log(refresh)
      switch (value) {
        case "2":
          this.readAllComment();
          break;
        case "1":
          this.readAllLike();
          break;
        case "3":
          this.readAllAttract();
          break;
         case "4":
           console.log(this.userObj)
          this.$router.push({
        path: `/${this.userObj.id}/chat/*`
      });
          
          break;
      }
      // }
    },
    async getMessageInfo() {
      await this.getCommentMes();
      await this.getLikeMes();
      await this.getAttractMes();
    },
    getCommentMes() {
      get_message_comment({ userid: this.userid })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.commentmessage = res.data;
            this.commentUnreadNum = res.unread_total;
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    getAttractMes() {
      get_message_attract({ userid: this.userid })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.attractmessage = res.data;
            this.attractUnreadNum = res.unread_total;
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    getLikeMes() {
      get_message_like({ userid: this.userid })
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            this.likemessage = res.data;
            this.likeUnreadNum = res.unread_total;
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: res.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
  },
  created() {
    this.getMessageInfo();
  },
};
</script>

<style lang='scss' scoped>
.container {
  width: 100%;
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica,
    Arial, sans-serif, FreeSans, Arimo;
  font-weight: 500;
  background-color: #ffffff;
  .el-menu-vertical-demo {
    height: 100%;
    padding-top: 50px;
    width: 100%;
    .menu-badge {
      width: 100%;
    }
  }
  .main {
    padding-top: 30px !important;
  }
}
</style>