<!--
 * @Author: yenible
 * @Date: 2021-04-17 20:09:48
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-18 16:58:26
 * @Description: xxx
-->
<template>
  <div class="container">
    <el-row>
      <el-col :span="24" class="title-row">
        <h3 class="title">建议与反馈</h3>
      </el-col>
    </el-row>
    <el-row>
      <form>
        <el-col :span="7" class="input"
          ><div class="label">标题：</div>
          <el-input v-model="title" placeholder="请输入标题"></el-input>
        </el-col>
        <el-col :span="7" class="input"
          ><div class="label">内容：</div>
          <el-input v-model="content" placeholder="请输入内容"></el-input>
        </el-col>
        <!-- <el-col :span="7" class="input"
          ><div class="label">用户：</div>
          <el-input v-model="inputAuth" placeholder="请输入作者"></el-input>
        </el-col> -->
        <el-col :span="3">
          <el-button type="primary" @click="searchSuggest">查询</el-button>
        </el-col>
      </form>
    </el-row>
    <el-row>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="未处理" name="0">
          <div class="tab-list">
            <div
              class="tab-item"
              v-for="(item, index) in suggestList"
              :key="index"
            >
              <div class="item-title">{{ item.suggest_title }}</div>
              <div class="item-main">
                <div class="item-name">用户@{{ item.name }}：</div>

                <div class="item-content">{{ item.suggest_content }}</div>
              </div>
              <div class="item-time">
                投递时间：{{ formatDate(item.create_time) }}
              </div>
              <div class="item-id">消息id：{{ item.suggest_id }}</div>
              <div class="btn-list">
                <el-button size="mini" @click="showDialog(item)" type="success"
                  >回复</el-button
                >
                <el-button size="mini" type="danger">删除</el-button>
              </div>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="已处理" name="1">
          <div class="tab-list">
            <div
              class="tab-item"
              v-for="(item, index) in replyList"
              :key="index"
            >
              <div class="item-title">{{ item.suggest_title }}</div>
              <div class="item-main">
                <div class="item-name">用户@{{ item.name }}：</div>

                <div class="item-content">{{ item.suggest_content }}</div>
              </div>
              <div class="item-time">
                投递时间：{{ formatDate(item.create_time) }}
              </div>
              <div class="item-id">消息id：{{ item.suggest_id }}</div>
              <div class="item-reply">回复：</div>
              <div class="item-main">
                <div class="item-name">管理员id:{{ item.reply_admin }}：</div>
                <div class="item-content">{{ item.reply_content }}</div>
              </div>
              <div class="item-time">
                回复时间：{{ formatDate(item.reply_time) }}
              </div>
              <div class="btn-list">
                <el-button size="mini" type="danger">删除</el-button>
              </div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </el-row>
    <el-dialog
      class="dialog"
      title="回复反馈"
      :visible.sync="dialogTableVisible"
    >
      <span
        >回复 <span>id：{{ replySuggestid }}</span> 内容：</span
      >
      <el-input
        type="textarea"
        placeholder="请输入内容"
        v-model="replyText"
        maxlength="300"
        show-word-limit
      >
      </el-input>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="reply">确 定</el-button>
      </span>
    </el-dialog>
    <el-pagination
      @current-change="changePage"
      background
      :current-page="pageno"
      layout="prev, pager, next"
      :page-size="pagesize"
      :total="total"
    >
    </el-pagination>
  </div>
</template>

<script>
import { get_suggest, reply_suggest } from "@/network/admin";
// import messagetabs from "./messagetabs";
import { format } from "@/tool/format ";
export default {
  name: "adminmessage",
  components: {
    // messagetabs,
  },
  computed: {
    formatDate() {
      return function (date) {
        return format(new Date(date));
      };
    },
  },
  data() {
    return {
      suggestList: [],
      activeName: "0",
      title: "",
      content: "",
      activeName: "0",
      replyList: [],
      suggestList: [],
      total: 0,
      pageno: 1,
      pagesize: 1,
      dialogTableVisible: false,
      replyText: "",
      replySuggestid: -1,
    };
  },
  methods: {
    changePage(value) {
      console.log(value);
      this.pageno = value;
      this.getSuggest({
        title: this.title,
        content: this.content,
        suggest_state: this.activeName,
      });
    },
    searchSuggest() {
      this.pageno = 1;

      this.getSuggest({
        title: this.title,
        content: this.content,
        suggest_state: this.activeName,
      });
    },
    async reply() {
      console.log(123);
      let adminid = this.$route.params.admin_id;
      await reply_suggest({
        suggest_id: this.replySuggestid,
        content: this.replyText,
        admin_id: adminid,
      })
        .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode === 0) {
            this.$message({
              message: res.msg,
              type: "success",
            });
            this.getSuggest();
          } else {
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            message: err,
            type: "error",
            err: err,
          });
        });
      this.dialogTableVisible = false;
    },
    showDialog(info) {
      console.log(info);
      this.dialogTableVisible = true;
      this.replySuggestid = info.suggest_id;
    },
    handleClick(tab, event) {
      this.activeName = tab.index;
      this.pageno = 1;
      this.getSuggest({ suggest_state: this.activeName });
    },
    getSuggest(data) {
      let obj = {};
      console.log(this.pageno)
      if (data) {
        obj = Object.assign(data, {
          pageno: this.pageno - 1,
          pagesize: this.pagesize,
        });
      } else {
        obj = { pageno: this.pageno - 1, pagesize: this.pagesize };
      }
      get_suggest(obj)
        .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode === 0) {
            if (this.activeName * 1 === 1) {
              this.replyList = res.data;
            } else {
              this.suggestList = res.data;
            }
            this.total = res.total;
          } else {
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            message: err,
            type: "error",
            err: err,
          });
        });
    },
  },
  // mounted() {
  //   this.getSuggest();
  // },
  created(){
    this.getSuggest();

  }
};
</script>

<style lang='scss' scoped>
.container {
  padding-bottom: 40px;
  .title-row {
    margin-bottom: 50px;
    .title {
      &:before {
        display: inline-block;
        height: 15px;
        content: " ";
        font-size: 15px;
        width: 4px;
        background-color: rgb(17, 148, 255);
        margin-right: 5px;
      }
    }
  }
  .input {
    padding-right: 30px;
    font-size: 15px;
    display: flex;
    .label {
      width: 140px;
      text-align: center;
      line-height: 40px;
    }
  }
  .tab-item {
    padding: 5px 20px 5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(221, 215, 215, 0.253);
    margin-bottom: 25px;
    padding: 0px 30px 10px;
    position: relative;
    .item-title {
      font-size: 25px;
      font-weight: bold;
      line-height: 45px;
    }
    .item-main {
      display: flex;
      margin-bottom: 20px;
    }
    .item-name {
      margin-right: 10px;
      white-space: pre-wrap;
      width: 80px;
    }
    .item-content {
      white-space: pre-wrap;
      word-break: break-all;
      width: 500px;
    }
    .btn-list,
    .item-id {
      margin-top: 20px;
    }
    .item-reply {
      margin: 20px 0 20px;
      padding-top: 20px;
      border-top: 2px solid rgb(236, 234, 230);
      color: rgb(121, 201, 2);
    }
  }
  .dialog {
    span {
      font-size: 16px;
      padding: 10px;
      margin-bottom: 20px;
    }
  }
}
</style>