<!--
 * @Author: yenible
 * @Date: 2021-04-18 13:53:46
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-18 14:09:22
 * @Description: xxx
-->
<template>
  <el-tabs v-model="activeName" @tab-click="handleClick">
    <el-tab-pane label="未处理" name="0">
      <div class="tab-list">
        <div class="tab-item" v-for="(item, index) in suggestList" :key="index">
          <div class="item-title">{{ item.suggest_title }}</div>
          <div class="item-content">{{ item.suggest_content }}</div>
          <div class="item-name">{{ item.name }}</div>
          <div class="item-time">{{ item.create_time }}</div>
        </div>
      </div>
    </el-tab-pane>
    <el-tab-pane label="已处理" name="1">配置管理</el-tab-pane>
  </el-tabs>
</template>

<script>
import { get_suggest } from "@/network/admin";

export default {
  name: "messagetabs",
  data() {
    return {
      activeName: "0",
      seplyList: [],
      suggestList: [],
      total: 0,
      pageno: 0,
    };
  },
  methods: {
    handleClick(tab, event){
      console.log(tab)
      console.log(event)

    },
    getSuggest(data, state) {
      get_suggest(data)
        .then((result) => {
          let res = result.data;
          console.log(res);
          if (res.errCode === 0) {
            if (state * 1 === 0) {
              this.suggestList = res.data;
            } else {
              this.seplyList = res.data;
            }
          } else {
            this.$message({
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            message: err,
            type: "error",
            err: err,
          });
        });
    },
  },
  created() {
    this.getSuggest();
  },
};
</script>

<style lang='scss' scoped>
</style>