<!--
 * @Author: yenible
 * @Date: 2020-12-24 11:33:45
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-05 10:51:24
 * @Description: xxx
-->
<template>
  <div id="app" >
    <div class="bg-gif"></div>
    <el-container class="element-container" v-if="isShowMenu">
      <el-header>
        <mymenu></mymenu>
        <!-- <mdmenu v-else></mdmenu> -->
      </el-header>
      <el-main class="first-main"><router-view></router-view></el-main>
    </el-container>
    <router-view class="" v-else></router-view>
  </div>
</template>

<script>
import mymenu from "./components/menu/menu";
import mdmenu from "./components/menu/mdMenu";
import { get_user_info, check_token } from "@/network/user.js";

export default {
  name: "app",
  components: {
    mymenu,
    mdmenu,
  },
  data() {
    return {
      routeName: "",
      isShowMenu:(this.$route.name==='md'||this.$route.name==='admin')?false:true,
      aaa:this.$route.name==='md'||this.$route.name==='admin'
    };
  },
  watch: {
    $route(e) {
      console.log(e)
      this.routeName = e.name;
      if(this.routeName==='md'||this.routeName==='admin'){
        this.isShowMenu=false
      }else{
        this.isShowMenu=true
      }
    },
    async '$store.state.refrshUserInfo'(){
      if(this.$store.state.refrshUserInfo){
        let otoken = window.localStorage.getItem("token");
        let ouserid = window.localStorage.getItem("userid");
          if (otoken && ouserid) {
            await this.check_login()
              if(this.isLogin){
                await this.getUserInfo(ouserid);
              }
          }
            this.$store.commit("update_refrshUserInfo", false);

      }
    }
  },
  computed:{
    isLogin(){
      return this.$store.state.isLogin
    },
 

  },
  methods: {
    async getUserInfo(userid) {
      // 请求用户信息
      await get_user_info(userid)
        .then((result) => {
          let res = result.data;
          // console.log(res);
          if (res.errCode == 0) {
            this.$store.commit("update_userinfo", res.data[0]);
          } else {
            this.$message({
              message: "错误信息：" + res.msg + ";   错误对象：" + res.errObj,
              type: "error",
              onClose: () => {},
            });
            console.log(res.msg);
            if (res.errObj === "login" && res.redirect) {
              this.$router.push(res.redirect);
            }
          }
        })
        .catch((err) => {
          // 请求失败
          console.log(err);
          // alert(err);
          // this.$message({
          //   message: "用户数据请求失败",
          //   type: "error",
          // });
        });
    },
    async check_login(){
      
      await check_token().then(result=>{
        let res = result.data;
        if(res.errCode === 0 && res.token){
            this.$store.commit("update_islogin", true);
        }
      })
    }
  },
  async created() {
    // console.log(this.$route.name)
    this.routeName = this.$route.name;
    //todo: 校验token
    if(this.$route.name!=='admin'){
          let otoken = window.localStorage.getItem("token");
    let ouserid = window.localStorage.getItem("userid");
    if (otoken && ouserid) {
      await this.check_login()
      if(this.isLogin){
        await this.getUserInfo(ouserid);
      }

      // console.log(this.$store.state.userInfo);
    }
    }
 
  },
};
</script>

<style lang="scss">
@import "./assets/css/base.css";
body,
html,
#app {
  padding: 0;
  margin: 0;
  min-width: 950px;
  height: 100vh;
  .bg-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -999;
    background-color: rgb(26, 29, 47);
    background-image: linear - gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("http://localhost:33333/uploads/images/bg.gif");
    // position: absolute;
  }
  .element-container {
    z-index: 1;
    position: relative;
  }
  .el-container {
    height: 100%;
  }
  .el-main {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
  }
  .el-header {
    padding: 0;
    margin: 0;
  }
}
</style>
