<!--
 * @Author: yenible
 * @Date: 2020-12-24 14:23:37
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-04 21:33:05
 * @Description: xxx
-->
<template>
  <div class="container">
    <!-- 框 -->
    <div class="form">
      <p class="title">iblogs</p>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="用户登录" name="login">
          <login></login>
        </el-tab-pane>

        <!-- 用户注册 -->
        <el-tab-pane label="用户注册" name="register">
          <register @changeActive="changeActive"></register>
        </el-tab-pane>
      
      <!-- 管理员登录 -->
        <el-tab-pane label="管理员登录" name="admin">
          <admin></admin>
         </el-tab-pane>
      </el-tabs>
      </div>
  </div>
</template>

<script>
import login from "./childComponents/login"
import admin from "./childComponents/admin"
import register from "./childComponents/register"
export default {
  name: "loginindex",
    components: {
      login,
      register,
      admin
  },
  data() {
    return {
      activeName: "login",
      loginForm: {
        email: "",
        password: "",
      },
      loginRules: {
        email: [
          { required: true, message: "请输入邮箱地址", trigger: "blur" },
          {
            type: "email",
            message: "请输入正确的邮箱地址",
            trigger: ["blur", "change"],
          },
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          {
            min: 3,
            max: 18,
            message: "长度在 3 到 18 个字符",
            trigger: "blur",
          },
        ],
      },
    };
  },
  methods: {
   changeActive(value){
     console.log(value)
     this.activeName = value;
   },
    handleClick(tab, event) {
      console.log(tab, event);
    },
  },
  created(){
    console.log(this.$router)
    console.log(this.$route)
  }
};
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  height: 100%;
  min-width: 800px;
  z-index: -10;
  zoom: 1;
  color: black;
  background-color: #fff;
  background: url(../../assets/images/login_bg.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  .form {
    width: 420px;
    // height: 500px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 20px 40px 30px 20px;
  }
  .title {
    text-align: center;
    font-size: 26px ;
    color: white;
    margin-bottom: 10px;
  }
}
</style>