<!--
 * @Author: yenible
 * @Date: 2021-03-03 09:57:51
 * @LastEditors: yenible
 * @LastEditTime: 2021-03-29 20:52:02
 * @Description: 展示自己文章类别
-->
<template>
  <el-tabs v-model="activeName" @tab-click="handleClick">
    <div class="tip" v-show="newInfoArr.length <= 0">查找结果空空如也</div>
    <el-tab-pane label="最新" name="new">
      <div class="item-list">
        <div class="blog-item" v-for="(item, index) in newInfoArr" :key="index">
          <blogsitem :type="(selectTypeIndex&&selectTypeIndex===-1)?'file': 'blog'" :info="item"></blogsitem>
        </div>
        <el-pagination
          @current-change="PageChange"
          background
          layout="prev, pager, next"
          :total="newTotal"
          :page-size="pagesize"
          :current-page="newPageno"
        >
        </el-pagination>
      </div>
    </el-tab-pane>
    <el-tab-pane label="最热" name="hot">
      <div class="tip" v-show="hotInfoArr.length <= 0">查找结果空空如也</div>
      <div class="item-list">
        <div class="blog-item" v-for="(item, index) in hotInfoArr" :key="index">
          <blogsitem :type="(selectTypeIndex&&selectTypeIndex===-1)?'file': 'blog'" :info="item"></blogsitem>
        </div>
        <el-pagination
          @current-change="PageChange"
          background
          layout="prev, pager, next"
          :total="hotTotal"
          :current-page="hotPageno"
          :page-size="pagesize"
        >
        </el-pagination>
      </div>
    </el-tab-pane>
    <el-tab-pane
      :label="selectTypeIndex === -1 ? '资源搜索' : '博客搜索'"
      name="search"
    >
      <div class="tip" v-show="searchInfoArr.length <= 0">查找结果空空如也</div>
      <div class="item-list">
        <div
          class="blog-item"
          v-for="(item, index) in searchInfoArr"
          :key="index"
        >
          <blogsitem :type="(selectTypeIndex&&selectTypeIndex===-1)?'file': 'blog'" :info="item"></blogsitem>
        </div>
        <el-pagination
          @current-change="PageChange"
          background
          layout="prev, pager, next"
          :total="searchTotal"
          :page-size="pagesize"
          :current-page="searchPageno"
        >
        </el-pagination>
      </div>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import { format } from "@/tool/format ";
import { get_article_sort } from "@/network/article.js";
import { get_file_sort } from "@/network/file.js";
import { search_blog_global,search_file_global } from "@/network/search";

import blogsitem from "@/components/blogs/blogsitem";
import actionlistVue from "../../../../components/actionlist/actionlist.vue";
export default {
  name: "blogsshow",
  components: {
    blogsitem,
  },
  props: {
    selectTypeIndex: Number,
    searchText: String,
  },
  watch: {
    selectTypeIndex(value) {
      this.getInfoIndex();
      this.newPageno = 1;
      this.hotPageno = 1;
      this.searchPageno = 1;
      this.activeName = 'new'
      if (value === -1) {
        this.searchInfoArr = [];
        this.$emit("clearSearch");
      }
    },
  },
  computed: {
    formatDate() {
      return function (date) {
        return format(new Date(date));
      };
    },
    userObj() {
      return this.$store.state.userInfo;
    },
    // "$store.state.myblogsType"() {
    //   this.tabName = this.$store.state.myblogsType;
    // },
  },

  data() {
    return {
      // tabName: this.$store.state.myblogsType,
      newInfoArr: [],
      hotInfoArr: [],
      searchInfoArr: [],
      activeName: "new",
      newTotal: 0,
      hotTotal: 0,
      searchTotal: 1,
      newPageno: 1,
      hotPageno: 1,
      searchPageno: 1,
      pagesize: 5,
    };
  },
  methods: {
    setSearchPageno() {
      this.searchPageno = 1;
    },
    search() {
      this.activeName = "search";
      if (this.selectTypeIndex === -1) {
        search_file_global({
          searchText: this.searchText,
          pagesize: this.pagesize,
          pageno: this.searchPageno - 1,
        })
          .then((result) => {
            let res = result.data;
            if (res.errCode === 0) {
              this.searchTotal = res.total;
              this.searchInfoArr = res.data;
            } else {
              this.$message({
                showClose: true,
                type: "error",
                message: res.msg,
              });
            }
          })
          .catch((err) => {
            this.$message({
              showClose: true,
              type: "error",
              message: err,
            });
          });
      } else {
        search_blog_global({
          searchText: this.searchText,
          pagesize: this.pagesize,
          pageno: this.searchPageno - 1,
        })
          .then((result) => {
            let res = result.data;
            if (res.errCode === 0) {
              this.searchTotal = res.total;
              this.searchInfoArr = res.data;
            } else {
              this.$message({
                showClose: true,
                type: "error",
                message: res.msg,
              });
            }
          })
          .catch((err) => {
            this.$message({
              showClose: true,
              type: "error",
              message: err,
            });
          });
      }
    },
    PageChange(value) {
      console.log(value);
      console.log(this.newPageno);
      console.log(this.hotPageno);
      if (this.activeName === "new") {
        this.newPageno = value;
        this.getInfoIndex();
      } else if (this.activeName === "hot") {
        this.hotPageno = value;
        this.getInfoIndex();
      } else if (this.activeName === "search") {
        this.searchPageno = value;
        this.search();
      }
    },
    handleClick(value) {
      this.activeName = value.name;
      this.getInfoIndex();
    },
    getInfoIndex() {
      let pageno = 0;
      if (this.activeName === "new") {
        pageno = this.newPageno - 1;
      } else if (this.activeName === "hot") {
        pageno = this.hotPageno - 1;
      }
      if (this.selectTypeIndex !== -1) {
        get_article_sort({
          article_type: this.selectTypeIndex,
          sort: this.activeName,
          pageno: pageno,
          pagesize: this.pagesize,
        }).then((result) => {
          let res = result.data;
          if (this.activeName === "new") {
            this.newInfoArr = res.data;
            this.newTotal = res.total;
          } else if (this.activeName === "hot") {
            this.hotInfoArr = res.data;
            this.hotTotal = res.total;
          }
        });
      } else {
        get_file_sort({
          sort: this.activeName,
          pageno: pageno,
          pagesize: this.pagesize,
        }).then((result) => {
          let res = result.data;
          if (this.activeName === "new") {
            this.newInfoArr = res.data;
            this.newTotal = res.total;
          } else if (this.activeName === "hot") {
            this.hotInfoArr = res.data;
            this.hotTotal = res.total;
          }
        });
      }
    },
  },
  created() {
    this.getInfoIndex();
  },
};
</script>

<style lang='scss' scoped>
.tip {
  color: #b3b2b1;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
}
</style>