<!--
 * @Author: yenible
 * @Date: 2021-03-03 09:57:51
 * @LastEditors: yenible
 * @LastEditTime: 2021-03-31 21:53:48
 * @Description: 展示自己文章类别
-->
<template>
  <div class="container">
    <div class="search-item">
      <el-row>
        <el-col :span="8" class="date-item">
          <!-- <span class="demonstration">月</span> -->
          <el-date-picker
            size="mini"
            v-model="searchDate"
            value-format="yyyy-MM"
            type="month"
            placeholder="选择月"
          >
          </el-date-picker>
        </el-col>
        <el-col :span="8" class="input-item"
          ><el-input
            type="text"
            placeholder="请输入文章标题内容"
            v-model="searchText"
            size="mini"
            maxlength="30"
            show-word-limit
          >
          </el-input>
        </el-col>
        <el-col :span="8" class="btn-item">
          <el-button type="danger" size="mini" @click="search" plain
            >搜索</el-button
          >
        </el-col>
      </el-row>
    </div>
    <el-tabs type="border-card" @tab-click="handleClick" v-model="tabName">
      <el-tab-pane name="1" label="已发布">
        <div class="item-list">
          <el-timeline>
            <el-timeline-item
              v-for="item in publishInfo"
              :key="item.article_id"
              :timestamp="formatDate(item.update_time)"
              placement="top"
            >
              <el-card>
                <blogsitem @deleteItem="deleteItem" :info="item"></blogsitem>
              </el-card>
            </el-timeline-item>
            <el-pagination
              @current-change="changePublishPage"
              background
              layout="prev, pager, next"
              :total="publishTotal"
              :page-size="pagesize"
              :current-page="pageno"
            >
            </el-pagination>
          </el-timeline>
        </div>
      </el-tab-pane>
      <el-tab-pane name="0" label="草稿箱">
        <div class="item-list">
          <div
            class="blog-item"
            v-for="item in draftInfo"
            :key="item.article_id"
          >
            <blogsitem @deleteItem="deleteItem" :info="item"></blogsitem>
          </div>
          <el-pagination
            @current-change="changeDraftPage"
            background
            layout="prev, pager, next"
            :total="draftTotal"
            :page-size="pagesize"
            :current-page="pageno"
          >
          </el-pagination>
        </div>
      </el-tab-pane>
      <el-tab-pane name="2" label="已传资源">
        <div class="item-list">
          <div class="blog-item" v-for="item in fileInfo" :key="item.file_id">
            <blogsitem
              @deleteItem="deleteItem"
              type="editFile"
              :info="item"
            ></blogsitem>
          </div>
          <el-pagination
            @current-change="changeFilePage"
            background
            layout="prev, pager, next"
            :total="fileTotal"
            :page-size="pagesize"
            :current-page="pageno"
          >
          </el-pagination>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { format } from "@/tool/format ";
import { query_user_article } from "@/network/article.js";
import { query_file_list } from "@/network/upload.js";
import { search_my_myblogs } from "@/network/search.js";

import blogsitem from "@/components/blogs/blogsitem";
export default {
  name: "blogsshow",
  components: {
    blogsitem,
  },
  computed: {
    formatDate() {
      return function (date) {
        return format(new Date(date));
      };
    },
    userObj() {
      return this.$store.state.userInfo;
    },
    "$store.state.myblogsType"() {
      this.tabName = this.$store.state.myblogsType;
    },
  },

  data() {
    return {
      tabName: this.$store.state.myblogsType,
      publishInfo: [],
      draftInfo: [],
      fileInfo: [],
      pagesize: 10,
      pageno: 1,
      draftTotal: 0,
      publishTotal: 0,
      fileTotal: 0,
      searchDate: "",
      searchText: "",
      isSearch: false,
    };
  },
  methods: {
    search() {
      this.isSearch = true;
      //请求对应的tab的查询数据
      let tab = this.$store.state.myblogsType;
      // if(tab===1){

      // }
      search_my_myblogs({
        myblogsType: tab,
        user_id: this.userObj.id,
        searchText: this.searchText,
        searchDate: this.searchDate,
        pagesize: this.pagesize,
        pageno: this.pageno - 1,
      }).then((result) => {
        let res = result.data;
        if (res.errCode === 0) {
          this.changeInfo(res.total, res.data, tab * 1);
        }
      });
    },
    changeInfo(total, data, type) {
      if (type === 0) {
        this.draftInfo = data;
        this.draftTotal = total;
      } else if (type === 1) {
        this.publishInfo = data;
        this.publishTotal = total;
      } else if (type === 2) {
        this.fileInfo = data;
        this.fileTotal = total;
      }
    },
    changePublishPage(value) {
      this.pageno = value;
      if (this.isSearch) {
        this.search();
      } else {
        this.getArticle("1", this.pageno - 1);
      }
    },
    changeDraftPage(value) {
      this.pageno = value;
      if (this.isSearch) {
        this.search();
      } else {
        this.getArticle("0", this.pageno - 1);
      }
    },
    changeFilePage(value) {
      this.pageno = value;
      if (this.isSearch) {
        this.search();
      } else {
        this.getFileList();
      }
    },
    deleteItem(state) {
      console.log(state);
      if (state === "file") {
        this.getFileList();
      } else {
        this.getArticle(state);
      }
    },
    handleClick(tab, event) {
      this.searchDate = "";
      this.searchText = "";
      this.pageno = 1;
      this.isSearch = false;
      this.$store.commit("update_myblogsType", tab.name);
      if (tab.name === "1") {
        // if (this.publishInfo.length > 0) {
        //   return;
        // }
        this.getArticle(tab.name);
      } else if (tab.name === "0") {
        // if (this.draftInfo.length > 0) {
        //   return;
        // }
        this.getArticle(tab.name);
      } else if (tab.name === "2") {
        // if (this.fileInfo.length > 0) {
        //   return;
        // }
        this.getFileList();
      }
    },
    // 查询文章列表数据
    getFileList() {
      console.log(this.pageno - 1);
      query_file_list({
        user_id: this.userObj.id,
        pageno: this.pageno - 1,
        pagesize: this.pagesize,
      })
        .then((result) => {
          console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            this.fileInfo = res.data;
            this.fileTotal = res.total;
          } else {
            this.$message({
              showClose: true,
              message: res.err,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            message: err,
            type: "error",
          });
        });
    },
    queryArticleInfo(condition, pageno) {
      // condition为查询的条件对象
      // 该函数为查询当前用户id的文章
      return query_user_article({
        user_id: window.localStorage.getItem("userid"),
        condition: condition,
        pagesize: this.pagesize,
        pageno: pageno,
      });
    },
    getArticle(article_state, pageno) {
      this.queryArticleInfo({ article_state: article_state }, pageno)
        .then((result) => {
          let res = result.data;
          if (res.errCode === 0) {
            console.log(res);
            if (article_state === "1") {
              this.publishTotal = res.total;
              this.publishInfo = res.data;
            } else if (article_state === "0") {
              this.draftInfo = res.data;
              this.draftTotal = res.total;
            }
          } else {
            this.$message({
              showClose: true,
              message: res.msg,
              type: "error",
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            message: err,
            type: "error",
          });
        });
    },
  },
  created() {
    if (this.$store.state.myblogsType === "2") {
      this.getFileList();
    } else {
      this.getArticle(this.$store.state.myblogsType);
    }
  },
};
</script>

<style lang='scss' scoped>
.search-item {
  padding: 10px 23px;
  .btn-item {
    padding-left: 30px;
  }
}
</style>