<!--
 * @Author: yenible
 * @Date: 2021-03-04 09:38:42
 * @LastEditors: yenible
 * @LastEditTime: 2021-04-14 15:38:13
 * @Description: xxx
-->
<template>
  <div class="container">
    <div class="title">{{ article_info.article_title }}</div>
    <div class="article-info-list">
      <div class="info-top">
        <div class="auth">
          作者：<span @click="toAuthIndex(auth_info.authname)">{{ auth_info.authname }}</span>
        </div>
        <div class="update-time">
          更新时间：<span>{{ dateTime(article_info.update_time) }}</span>
        </div>
      </div>
      <div class="label_list">
        <span>标签：</span>
        <div class="label" v-for="item in article_info.label_list" :key="item">
          <el-tag size="mini" type="success">{{
            article_info.all_label[item].label_name
          }}</el-tag>
        </div>
      </div>
    </div>
    <showarticle :article_content="article_info.article_content"></showarticle>
    <actionlist
      :article_id="article_info.article_id"
      :authName="auth_info.authname"
      :authid="auth_info.authid"
      :like_amount="article_info.like_amount"
      :collect_amount="article_info.collect_amount"
      :is_like="is_like"
      :is_collect="is_collect"
      :is_attract="is_attract"
    ></actionlist>
    <div class="comment">
      <commentlist
        @sendComment="sendComment"
        :commentInfo="commentList"
        :auth_info="auth_info"
      ></commentlist>
    </div>
  </div>
</template>

<script>
import showarticle from "@/components/mdeditor/showarticle";
import actionlist from "@/components/actionlist/actionlist";
import commentlist from "@/components/comment/commentlist";

import { format } from "@/tool/format ";
import {
  get_article_detail,
  article_is_like,
  article_is_collect,
  is_attract,
} from "@/network/article";

import {
  save_article_comment,
  query_article_all_comment,
} from "@/network/comment";

export default {
  name: "articledetail",
  components: {
    showarticle,
    actionlist,
    commentlist,
  },
  data() {
    return {
      auth_info: {},
      article_info: {},
      is_like: false,
      is_collect: false,
      is_attract: false,
      commentList: [],
    };
  },
  computed: {
    dateTime() {
      return function (date) {
        return format(new Date(date));
      };
    },
    islogin() {
      return this.$store.state.isLogin;
    },
    userObj() {
      return this.$store.state.userInfo;
    },
  },
  watch:{
    "$store.state.refrshComment": function () {
      console.log(this.$store.state.refrshComment)
      if(this.$store.state.refrshComment){
        //你需要执行的代码
      this.getArticleComment();
      this.$store.commit("update_refrshComment", false);
      }
    },
  },
  methods: {
        toAuthIndex(auth_name) {

       window.open(`/${auth_name}/homepage`, "_blank");
    },
    getArticleComment() {
      let article_id = this.$route.params.article_id;

      query_article_all_comment({ article_id })
        .then((result) => {
          // console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            this.commentList = res.data;
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: result.data.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    sendComment(comment, dep, cthread, cparent_id) {
      console.log(comment);
      let depth = dep || 0;
      let thread = cthread || "/";
      let parent_id = cparent_id || -1;
      let article_id = this.$route.params.article_id;

      save_article_comment({
        comment: comment,
        depth: depth,
        thread: thread,
        parent_id: parent_id,
        article_id: article_id,
        user_id: this.userObj.id,
      })
        .then((result) => {
          // console.log(result);
          let res = result.data;
          if (res.errCode === 0) {
            this.$message({
              showClose: true,
              type: "success",
              message:'评论成功',
            });
            this.getArticleComment()
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: result.data.msg,
            });
          }
        })
        .catch((err) => {
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
    getArticleInfo() {
      let article_id = this.$route.params.article_id;
      let authname = this.$route.params.authname;
      console.log(this.$route);
      let blogType = "myblog";
      if (this.$route.fullPath.indexOf("homepage/blog") !== -1) {
        blogType = "blog";
      }

      get_article_detail(
        {
          article_id: article_id,
          authname: authname,
          type: blogType,
        },
        blogType
      )
        .then(async (result) => {
          let res = result.data;
          if (res.errCode === 0) {
            res = res.data;
            this.article_content = res.article_content;
            console.log(this.article_content);
            this.auth_info = {
              authname: res.name,
              authid: res.id,
              score: res.score,
              collect_amount: res.user_collect_amount,
              article_amount: res.article_amount,
              focus_amount: res.focus_amount,
              fans_amount: res.fans_amount,
            };
            this.article_info = {
              article_id: res.article_id,
              article_state: res.article_state,
              article_title: res.article_title,
              article_type: res.article_type,
              bower_amount: res.bower_amount,
              like_amount: res.like_amount,
              update_time: res.update_time,
              label_list: res.label_list,
              collect_amount: res.article_collect_amount,
              article_content: res.article_content,
              publish_type: res.publish_type,
              label_list: res.label_list,
              all_label: res.all_label,
            };
            // if (blogType === "myblog") {

            // }
            if (this.islogin) {
              await article_is_like({
                article_id: res.article_id,
                user_id: window.localStorage.getItem("userid"),
              }).then((lresult) => {
                let lres = lresult.data;
                if (lres.errCode === 0) {
                  this.article_info["is_like"] = lres.islike;
                  this.is_like = lres.islike;
                }
              });
              await article_is_collect({
                article_id: res.article_id,
                user_id: window.localStorage.getItem("userid"),
              }).then((lresult) => {
                let lres = lresult.data;
                if (lres.errCode === 0) {
                  this.article_info["is_collect"] = lres.iscollect;
                  this.is_collect = lres.iscollect;
                }
              });
              await is_attract({
                auth_id: res.id,
                user_id: window.localStorage.getItem("userid"),
              }).then((attesult) => {
                console.log(attesult);
                let attres = attesult.data;
                if (attres.errCode === 0) {
                  this.article_info["is_attract"] = attres.isAttract;
                  this.is_attract = attres.isAttract;
                }
              });
            }
          } else {
            this.$message({
              showClose: true,
              type: "error",
              message: result.data.msg,
            });
          }
        })
        .catch((err) => {
          console.log(err);
          this.$message({
            showClose: true,
            type: "error",
            message: err,
          });
        });
    },
  },
  created() {
    this.getArticleInfo();
    this.getArticleComment();
  },
};
</script>

<style lang='scss' scoped>
.container {
  width: 900px;
  margin: 10px auto;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.479);
  .title {
    font-size: 28px;
    color: black;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 15px;
  }
  .article-info-list {
    font-size: 15px;
    color: black;
    font-weight: 600;
    line-height: 30px;
    padding: 5px 10px;
    box-shadow: 0 2px 12px 0 rgba(99, 93, 93, 0.1);
    background-color: #e0e0e029;

    .info-top {
      display: flex;

      .auth,
      .update-time {
        margin-right: 10px;
        vertical-align: bottom;
         
      }
      .auth span:hover{
            color: blue;
            cursor: pointer;
      }
    }
    .label_list {
      vertical-align: bottom;
      display: flex;
      .label {
        margin-right: 10px;
      }
    }
  }
}
</style>